@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('/franquicia/fonts/Calibri.ttf');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('/franquicia/fonts/Calibri.ttf');

}
h1{
	
	position: relative;
	text-align: center;
	
	font:18px 'Roboto-Light';
	/*text-decoration: none;*/ 
	color:#29C19A;
	
}


.log-btn2 {
	background:#29C19A;
	dispaly: inline;
	width: 100px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	/*position: absolute;*/
	top: 760px;
	right: 93px;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	margin-right: 30%;
}

div.seccionArbol {
	display:block;
	/*overflow-y: auto;*/ 
	/*height: 300px;*/
	/*border-style: inset;*/
	border: solid 1px;
	/*border-width: 1px;*/
	/*margin:20px;*/
	background: #fff;
	
	margin-top: 24px;
	margin-bottom: 10px;
	margin-right: 24px;
	margin-left: 24px;

	position: relative;
	/*top:20%;*/
	left: 48%;
	transform: translateX(-50%);
	width:95%;
	height:auto;
	
	z-index: 0;
	box-shadow: 5px 5px 17px #000000;
}


table.tabla {
	color:rgb(113, 113, 113);
	position: relative;
    display: flex;
    flex-flow: column;
    height:40em;
    width:  calc(100% - 0.9em);
}
table.tabla thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
   width: calc(100% - 0.9em);
}
table.tabla tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    
    
    /*max-height:500px;*/
}
table.tabla tbody tr {
    width: 100%;
}
table.tabla thead,
table.tabla tbody tr {
    display: table;
    table-layout: fixed;
}

table.tabla {
    border: 1px solid rgb(159, 159, 159);
	text-align: left;
	font-family: "Roboto-Light";
	font-size: 14px;
	color: #666666
}
table.tabla td {
    padding: 0.3em;
	border: 2px solid lightgrey;
    text-align: center;
}
table.tabla th {
    border: 2px solid lightgrey;
	font-size: 0.9em;
	text-align: center;

}

 table.tabla th{
	color: white ;
	background:#29C19A;

	
}table.tabla tr:nth-child(even){
	
	background:rgb(255, 255, 255);	
}

.tituloPregunta{
	background: rgb(105, 182, 176); 
	font-weight: 700;
	text-indent: 20px;
}
#pregunta{
	color: white ;
	text-align: left;
	background-color:#29C19A;
}

body{
	min-width:50%;	
}

#container{
	width: 43%;
	margin-left: 2%;
	margin: 0 auto;
}

#opcionBtn{
	display: inline-block;
	margin-left: 10%;
}

#mainContent{
	margin: 0 auto;
	width: 99%;
	height: 0 auto;
	margin-left: 2%;
}





