.dk-select, .dk-select *, .dk-select *:before, .dk-select *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
	    font-size: 12px;

}

.dk-select {
  position: relative;
  /*display: inline-block;*/
  vertical-align: middle;
  line-height: 1.5em;
  width:100%;
  cursor: pointer; 
  text-align: left;

/*width: 300px;*/
}

/*estilo original*/
/*.dk-selected {

  background-color: white;
  border: 1px solid #f2f2f2;
	border-bottom: 2px solid #cccccc;
  border-radius: 3px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; 
  background-image: url(/franquicia/img/7s/btn-flecha.png)	;
  background-repeat: no-repeat;
  background-position: right 15px top 10px;
	height: 40px;
	padding: 5px;
	margin-left: 3px;
	width: 300px;
	color: #aeaeae;
}*/
/*estilo modificado*/

.dk-selected {
        background-color: white;
    border: 1px solid #f2f2f2;
  

    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-image: url(/franquicia/img/7s/flecha-dos.png);
    background-repeat: no-repeat;
    background-position: right 1px top 0px;
    height: 37px;
    padding-left: 6px;
    padding-top: 6px;
    /* margin-left: 3px; */
    /* width: 300px; */
    color: #aeaeae;
    outline: none;
        margin-right: 6px;
    width:100%;
 

}





.dk-select .dk-select-options {
  position: absolute;
  display: none;
  left: 0;
  right: 0; }
 .dk-select .dk-select-options span{
  position: absolute;
  display: none;
  left: 0;
  right: 0; }
/*submenu*/
.dk-select-options {
  background-color: white;

  list-style: none;
  margin: 0;
  max-height: 10.5em;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.25em 0;
  width: auto;
  z-index: 100; }
/*Submenu seleccionado*/
.dk-option-selected {
  background-color: #29c19a;
  color: #fff; 
  
}
/*Submenu over*/
.dk-select-options .dk-option-highlight {background-color: #29c19a;color: #fff; }
.dk-select-open-up .dk-selected:after, .dk-select-open-down .dk-selected:after {border-left-color: #6F7E95; }
.dk-select-open-up .dk-select-options, .dk-select-open-down .dk-select-options{display: block;border-color: #29c19a; }
select[data-dkcacheid] {display: none; }

.dk-select-options span { padding:10px;}
