.sombra {
  box-shadow: 5px 5px 17px #000000;
  
}

.titulo_margen {
	width: 100%;
	background-color: #42B47B;
	height: 30px;
	font: 20px 'Roboto-Regular';
	text-align: center;
	color: white;
	line-height: 30px;
}

.ajuste {
	width: 100%;
}

.marco {
	width: 96%;
	height: 93%;
	margin-top: 10px;
	margin-left: 4%;
	margin-bottom: 30px;
}

tr {
	width: 183px;
	align: center;
}

td {
	height: 183px;
	align: center;
}

body {
	background-color: #dedede;
}

.hovereffect {
	width: 140px;
	height: 140px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	width: 140px;
	height: 140px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}

.hovereffect img {
	display: block;
	width: 140px;
	height: 140px;
	position: relative;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
	height: 140px;
}

#lupa {
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.hovereffect h2 {
	text-transform: uppercase;
	text-align: center;
	margin: 1% 1% 1% 1%;
	position: absolute;
	height: 97%;
	font: 11px 'Roboto-Regular';
	color: white;
	line-height: 1.5em;
	top: 7%;
}

.hovereffect:hover img {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.condiciones {
	width: 100%;
	height: 75px;
}

.fuente {
	font: 14px 'Roboto-Regular';
	color: #3c3c3b;
}

.fuenteA {
	height: 50%;
	font: 14px 'Roboto-Regular';
	color: #3c3c3b;
}
.condicionMargenA{	
	font: 14px 'Roboto-Regular';
	color: #3c3c3b;
	position:absolute;
	margin: -25px 0px 0px 57px;
}
.fuenteB {
	height: 50%;
	font: 14px 'Roboto-LightItalic';
	color: #b4b4b3;
}
.condicionMargenB{
	font: 14px 'Roboto-LightItalic';
	color: #b4b4b3;
	position:absolute;
	margin: -23px 0px 0px 57px;
}

span.cuadrado {
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid;
	border-color: #3c3c3b;
	color: #3c3c3b;
	margin: 11px 7px 0 25px;
}
span.cuadrado1 {
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid;
	border-color: #3c3c3b;
	color: #3c3c3b;
	margin: 5px 7px 0 25px;
}

span.cuadrado2 {
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid;
	border-color: #b4b4b3;
	margin: 5px 7px 0 25px;
}

span.circuloVistas {
	width: 10px;
	height: 10px;
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: rgb(77, 77, 77);
	background: hsl(0, 0%, 50%);
	margin: 0 0 0 40px;
}
span.circuloVistasActivo {
	width: 10px;
	height: 10px;
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: rgb(77, 77, 77);
	background: hsl(0, 0%, 0%);
	margin: 0 0 0 40px;
}

span.text {
	margin: 0 0 0 80px;
}

.margen_general {
	display: none;
}

.parFecha {
	width: 1050px;
	height: 54px;
}

.parImagenes {
	width: 1050px;
	height: 366px;
}

.parPreguntas {
	width: 1050px;
	height: 85px;
}

.fechaIzqMargen {
	width: 50%;
	height: 54px;
	position: absolute;
	text-align: center;
	padding-top: 18px;
	font: 16px 'Roboto-Regular';
}

.fechaDerMargen {
	width: 50%;
	height: 54px;
	margin-left: 50%;
	position: absolute;
	text-align: center;
	padding-top: 18px;
	font: 16px 'Roboto-Regular';
}

.ima_izquierdaMargen {
	width: 50%;
	height: 366px;
	position: absolute;
}

.ima_derechaMargen {
	width: 50%;
	height: 366px;
	margin-left: 50%;
	position: absolute;
}

.preguntaIzqMargen {
	width: 50%;
	height: 83px;
	position: absolute;
	text-align: left;
}

.preguntaDerMargen {
	width: 50%;
	height: 83px;
	margin-left: 50%;
	position: absolute;
}

.ima_izquierda {
	width: 500px;
	height: 366px;
	margin-left: 18px;
}

.ima_derecha {
	width: 500px;
	height: 366px;
	margin-left: 7px;
}
.margenImaCompara{
	width: 100%;
	height: 505px;
}
.preguntaMargenCompara {
	height: 67px;
	position: relative;
}
.tamImaCompara{
	width: 670px;
	height: 490px;
}
.hr-uno {
	margin-top: -2px;
    margin-left: 18px;
	position:absolute;
	width: 96%;
	border: 1;
}
.hr-dos {
	margin-top: 0px;
    margin-left: 18px;
	position:absolute;
	width: 96%;
	border: 1;
}
p.basico{
	margin: 3px 0 0 18px;
	text-decoration: none;
}
p.margenEspacioDoble{
	margin: 13px 0 0 0;
	text-decoration: none;
}
p.margenEspacioCompara{
	margin: 5px 0 0 0;
	text-decoration: none;
}

.letraPregBold{
	text-decoration: none;
	opacity: 1;
	text-align: left;
	font: 13px 'Roboto-Regular';
	font-weight: bold;
	color:#000000;
}

.letraPregItalic{
	opacity: 1;
	text-align: left;
	font: 13px 'Roboto-LightItalic';
	color:#000000;
}
.letraPregRegular{
	opacity: 1;
	text-align: left;
	font: 13px 'Roboto-Regular';
	font-weight: normal;
	color:#000000;
}


#pregCarrSimple{
	position: absolute;
	height: 200px;
	width: 300px;
}
