.textBoxInput {
	/*estilo de linea punteada*/
	border-style: dashed;
	/*grosor del borde*/
	border-width: 1px;
	/*redondeo de esquinas*/
	border-radius: 10px 10px 10px 10px;
	/*color del borde*/
	border-color: #939393;
	/*dimensiones de altura y ancho*/
	height: 22px;
	width: 185px;
	/*margen entre componentes*/
	/*margin: 10px;*/
	margin: 23px 0 0 10px;
	background-color: #fff;
	font: 14px 'Roboto-LightItalic';
	text-align:center;
}

.textBoxInput:hover {
	/*decoracion de la linea*/
	font: 14px 'Roboto-Regular';
	text-decoration: none;
	background: #fff;
	color:green;
}

.textBoxInput:focus {
	/*estilo de linea al seleccionar un elemento*/
	outline: none;
	/*estilo de la letra */
	font: 14px 'Roboto-Regular';
	font-weight: 700;
	background: #fff;
	/*color del borde*/
	border-color: #00CC00;

}

.cajaVis {
	/*background: none repeat scroll 0 0 #E5F0D9;*/
	background: #fff;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	/*margin-top: -10px;
	margin-bottom: -10px;
	padding: 0px 15px;*/
	position : relative;
	border: 1px solid #dedede;
	/*tipo de alineacion */
	display: inline-block;
	text-align: left;
	height: 22px;
	width: 185px;
	font: 14px 'Roboto-Regular';
	margin-left:20px;
}

.seleccionadoVis {
	color: black;
	display: block;
	font-weight: 700;
	/*line-height: 3;*/
	text-indent: 3px;
	height: 22px;
	max-width: 153px;
	overflow: hidden;
}
ul.margenUl{
	margin: 0 0 0 0;
	white-space: nowrap;
}

ul.listaselectVis {
	/*background: none repeat scroll 0 0 #fff;*/
	background: #fff;
	display: none;
	left: -1px;
	padding-left: 0;
	position: absolute;
	text-indent: 5px;
	top: 0;
	margin:22px 0 0 0;
	min-width: 185px;
	width: auto;
	font: 14px 'Roboto-Regular';
	z-index:10;
}

ul.listaselectVis li {
	border-bottom: 1px solid #efefef;
	cursor: pointer;
	display: block;
	/*line-height: 15px;*/
	list-style: outside none none;
	border: 1px solid #dedede;
	/*padding: 1.1em 0.3em;*/
	margin:-1px 0 0 0 ;
}

ul.listaselectVis li a {
	color: #333;
	text-decoration: none;
	margin:0 15px 0 10px;	
}

ul.listaselectVis li:hover {
	color: #999797;
	text-decoration: none;
	background: rgb(217, 240, 229);
	
}

ul.SelectProductos li:last-child {
	border-bottom: medium none;
}

.trianguloinfVis {
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	border-top: 13px solid #000000;
	height: 0;
	position: absolute;
	right: 10px;
	top: 5px;
	width: 0;
}

.triangulosupVis {
	border-bottom: 13px solid #000000;
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	height: 0;
	position: absolute;
	right: 10px;
	top: 5px;
	width: 0;
}

span.circulo {
	margin: 37px 20px 0 80px;
	display: inline-block;
	line-height: 1.6em;
	width: 1.6em;
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	font: 14px 'Roboto-Regular';

	text-align: center;
	color: black;
}

.primer-nivel {
	margin: 0 0 0 135px;
}

.segundo-nivel {
	margin: 0 0 0 162px;
}

.tercer-nivel {
	margin: 0 0 0 189px;
}

.cuarto-nivel {
	margin: 0 0 0 216px;
}

.quinto-nivel {
	margin: 0 0 0 243px;
}

.li-stilo {
	list-style: none;
	font: 14px 'Roboto-Regular';
	color: black;
	padding: 0px;	
}

.margenLista{
	margin: 27px 0 0 0;
}

.font-regular {
	font: 14px 'Roboto-Regular';
	color: #000000;
}

.font-italic {
	font: 14px 'Roboto-LightItalic';
	color: #999998;
}

.con_estilos {
	margin: 25px 0 0 10px;
	border: 1px solid #000000;
	font-size: 14px;
	height: 22px;
	width: 185px;
}

.con_estilos_dos {
	margin: 10px 0 0 10px;
	border: 1px solid #000000;
	font-size: 14px;
	height: 20px;
	width: 185px;
}

.log-btn {
	background: #0AC986;
	dispaly: inline-block;
	width: 100px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: absolute;
	top: 760px;
	right: 93px;
	font: 14px 'Roboto-Regular';
}

#log-btn:hover {
	cursor: pointer;
}

.logEnviar-btn {
	background: #0AC986;
	display: inline;
	width: 100px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	font: 14px 'Roboto-Regular';
}

#logEnviar-btn:hover {
	cursor: pointer;
}



.logVolver-btn {
	background: #0AC986;
	dispaly: inline-block;
	width: 100px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font: 14px 'Roboto-Regular';	
	position: relative;   
}

#logVolver-btn:hover {
	cursor: pointer;
}

.espacioBotonRegr{
	position: relative;
	top:50px;
	
}

/* CSS del Carousel elaborado apartir de las bibliotecas de Bootstrap */
.container {
	position: absolute;
	height: 400px;
	width: 600px;
	left: 25%;
}

#content:hover {
	position: relative;
	z-index: 1;
}

.carousel2 {
	position: relative;
	z-index: -1;
}

.carousel2:hover {
	position: relative;
	z-index: 1;
}

.carousel2-inner {
	position: relative;
	width: 100%;
	overflow: hidden
}

.carousel2-inner>.item {
	position: relative;
	display: none;
	transition: .6s ease-in-out left;
}

.carousel2-inner>.item>a>img, .carousel2-inner>.item>img {
	width: 700px;
	height: 500px;
}

.carousel2-inner>.active, .carousel2-inner>.next, .carousel2-inner>.prev
	{
	display: block
}

.carousel2-inner>.active {
	left: 0
}

.carousel2-inner>.next, .carousel2-inner>.prev {
	position: absolute;
	top: 0;
	width: 100%
}

.carousel2-inner>.next {
	left: 100%
}

.carousel2-inner>.prev {
	left: -100%
}

.carousel2-inner>.next.left, .carousel2-inner>.prev.right {
	left: 0
}

.carousel2-inner>.active.left {
	left: -100%
}

.carousel2-inner>.active.right {
	left: 100%
}

.carousel2-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 50;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none
}

/*BOTON NEXT UNSELECTED*/
.carousel2-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	border: 1px solid #D8D8D8;
	background-color: #D8D8D8;
	border-radius: 10px
}

/*BOTON NEXT SELECTED*/
.carousel2-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #848484;
}

.carousel2-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #BDBDBD;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carousel2-caption .btn {
	text-shadow: none
}

.carousel2-inner>.item>a>img, .carousel2-inner>.item>img,
	.img-responsive, .thumbnail a>img, .thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto;
	position: relative;
	z-index: -1;
}

[role=button2] {
	cursor: pointer
}

.flechas2 {
	position: absolute;
	top: 40%;
	font-size: 80px;
	z-index: 1;
	font-weight: bold;
	color: #ffffff;
	opacity: .5;
	text-decoration: none;
	z-index: 41;
	max-width: 100%;
	height: auto;
}
.tamFlechas{
	max-width: 100%;
	height: auto;
	width:50px;
	height:80px;
}

#fAnterior2 {
	left: 0%;
}

#fSiguiente2 {
	right: 0%;
}

#fAnterior2:hover {
	transform: scale(1.5);
	color: white;
	opacity: .9;
	z-index: 42;
}

#fSiguiente2:hover {
	transform: scale(1.5);
	color: white;
	opacity: .9;
	z-index: 42;
}

/* CSS del Carousel TRIUNFO*/
.pop2_general {
	display: none;
}

#popup2 {
	visibility: hidden;
	opacity: 0;
	margin-top: -1000px;
}

#popup2:target {
	visibility: visible;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	/*z-index: 999;*/
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}

a.popup2-cerrar {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #41b37b;
	padding: 7px 10px;
	font-size: 35px;
	text-decoration: none;
	line-height: 1;
	color: #fff;
}

.popup-contenedor {
	position: relative;
	margin: 7% auto;
	padding: 0px 0px;
	background-color: #fafafa;
	color: #333;
	border-radius: 3px;
	width: 700px;
	height: 580px;
}

.popup-contenedor1 {
	position: relative;
	margin: 7% auto;
	padding: 0px 0px;
	background-color: #fafafa;
	color: #333;
	border-radius: 3px;
	width: 1050px;
	height: 580px;
}

.popup-contenedor2 {
	position: relative;
	margin: 7% auto;
	padding: 0px 0px;
	background-color: #fafafa;
	color: #333;
	border-radius: 3px;
	width: 700px;
	height: 650px;
}

/*INICIA CAROUSEL TRIUNFO*/

.texto-Encarousel-p {
	position: absolute;
	width: 100%;
	height: 88px;
	margin: -88px auto;
}

.texto-Encarousel-p-dentro {
	position: absolute;
	width: 100%;
	height: 80px;
	margin:8px 0 10px 0;
}

#contentTriunfo2 {
	position: relative;
	width: 100%;
	height: 505px;
	z-index: 1;
	margin: 0 auto;
	padding: 15px
}

.carouselTriunfo2 {
	position: relative;
	z-index: 1;
}

.carouselTriunfo2-inner {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.carouselTriunfo2-inner>.item {
	position: relative;
	display: none;
	transition: .6s ease-in-out left;
}

.carouselTriunfo2-inner>.item>a>img, .carouselTriunfo2-inner>.item>img {
	width: 100%;
	height: 100%;
}

.carouselTriunfo2-inner>.active, .carouselTriunfo2-inner>.next,
	.carouselTriunfo2-inner>.prev {
	display: block
}

.carouselTriunfo2-inner>.active {
	left: 0
}

.carouselTriunfo2-inner>.next, .carouselTriunfo2-inner>.prev {
	position: absolute;
	top: 0;
	width: 95%;
}

.carouselTriunfo2-inner>.next {
	left: 100%
}

.carouselTriunfo2-inner>.prev {
	left: -10%
}

.carouselTriunfo2-inner>.next.left, .carouselTriunfo2-inner>.prev.right
	{
	left: 0
}

.carouselTriunfo2-inner>.active.left {
	left: 100%
}

.carouselTriunfo2-inner>.active.right {
	left: 100%
}

.carouselTriunfo2-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 1;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none
}

/*BOTON NEXT UNSELECTED*/
.carouselTriunfo2-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	border: 1px solid #D8D8D8;
	background-color: #D8D8D8;
	border-radius: 10px
}

/*BOTON NEXT SELECTED*/
.carouselTriunfo2-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #848484;
}

.carouselTriunfo2-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #BDBDBD;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carouselTriunfo2-caption .btn {
	text-shadow: none
}

.carouselTriunfo2-inner>.item>a>img, .carouselTriunfo2-inner>.item>img,
	.img-responsive, .thumbnail a>img, .thumbnail>img {
	display: block;
	width: 100%;
	height: 475px;
	position: relative;
	z-index: -1;
}

[role=button2] {
	cursor: pointer
}

.flechas {
	position: absolute;
	top: 40%;
	font-size: 80px;
	z-index: 0;
	font-weight: bold;
	color: #ffffff;
	opacity: .5;
	text-decoration: none;
}


#myCarouselTriunfo2 {
	width: 100%;
	height: 100%;
}

#myCarouselTriunfo3 {
	width: 1050px;
	height: 336px
}

#fAnterior {
	left: 0%;
}

#fSiguiente {
	right: 0%;
}

#fAnterior:hover {
	transform: scale(1.5);
	color: white;
	opacity: .9;
}

#fSiguiente:hover {
	transform: scale(1.5);
	color: white;
	opacity: .9;
}