body {
	margin: 0
}

.w3-animate-zoom {
	position: absolute;
	top: 200px;
	left: 420px;
	right: 3%;
	text-align: center;
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s; 
	color: #4CAF50 !important;
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0);
	}

	to {
		-webkit-transform: scale(1);
	}

}
