.toastDescarga {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	background-color: #86AE9D;
	padding: 10px 50px;
	box-sizing: border-box;
	height: 50px;
	width: calc(100% - 20px);
	bottom: -50px;
	border-radius: 7px;
	margin: 0px 10px;
	display: flex;
	align-items: center;
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 2;
}

.toastDescarga.active {
	bottom: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.progresoDescarga {
	display: flex;
	align-items: center;
}

.progresoDescarga .tiempo {
	margin: 0px 5px;
}

.progresoDescarga .tamano {
	margin: 0px 5px;
}

/* ///Grafica/// */
.progresoDescarga ul {
	display: flex;
	list-style-type: none;
}

.progresoDescarga ul .circle-gauge {
	--gauge-max-value: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}

.progresoDescarga ul .circle-gauge:nth-child(1) a {
	--percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
	background: conic-gradient(#fff var(--percentage), #ffffff63 0);
}

.progresoDescarga ul .circle-gauge a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	font-family: Lato, sans-serif;
	text-decoration: none;
	color: white;
	background: transparent;
	border-radius: 50%;
	counter-reset: value var(--gauge-value);
}

.progresoDescarga ul .circle-gauge a::before {
	position: absolute;
	/* content: counter(value); */
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 60%;
	background: #86AE9D;
	border-radius: inherit;
}

.progresoDescarga ul span {
	padding-top: 10px;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
}