@import url('menu.css');
@import url('fonts.css');
@import url('forms.css');
@import url('modal.css');
@import url('calendario.css');
@import url('secciones.css');
@import url('descarga.css');
@import url('paginador.css');

/* general */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.tLeft {
	text-align: left !important;
}

.tCenter {
	text-align: center !important;
}

.tRight {
	text-align: right !important;
	text-align: -webkit-right;
}

.fRight {
	float: right !important;
}

.fLeft {
	float: left !important;
}

.tJustify {
	text-align: justify !important;
}

strong {
	font-family: 'Avenir_Next_Demi_Bold';
}

.cursor {
	cursor: pointer;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
}

a.liga {
	color: #5fac98;
	text-decoration: underline;
	font-family: 'AvenirNextLTPro-Medium';
}

p {
	margin-bottom: 30px;
}

/* scroll */
*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background-color: #afafaf;
}

*::-webkit-scrollbar-thumb {
	background-color: #006341;
}

.scroll {
	overflow-x: auto;
}

.scroll::-webkit-scrollbar {
	height: 5px;
}

.scroll::-webkit-scrollbar-track {
	background-color: #afafaf;
}

.scrolly {
	overflow-y: scroll;
}

.scrolly::-webkit-scrollbar {
	height: 5px;
}

.scrolly::-webkit-scrollbar-track {
	background-color: #afafaf;
}

.scrolly::-webkit-scrollbar-thumb {
	background-color: #006341;
}

.tblMaxh {
	max-height: 200px;
	padding-right: 14px;
}

.desac {
	color: #ccc;
	cursor: none;
	pointer-events: none;
	filter: opacity(50%);
	-webkit-filter: opacity(50%);
	user-select: none;
}

.pRelative {
	position: relative;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.obliga {
	color: #5fac98;
	font-family: 'Avenir_Next_Demi_Bold';
}

html,
body {
	font-family: 'Avenir_Next_Regular';
	background-color: #ffffff;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: #2d2926;
	min-width: 330px;
	height: 100%;
}

.page {
	margin-bottom: 60px;
	min-width: 330px;
}

.pageHome {
	min-width: 330px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #006341;
	min-height: 48px;
}

.header>div {
	width: 33%;
}

.headerLogo {
	text-align: center;
}

.headerMenu {
	padding: 0px 15px;
}

.headerUser {
	justify-content: flex-end;
	padding: 0px 5px 0px 0px;
}

img#imgLogo {
	padding: 4px 0px 0px 0px;
	height: 22px;
}

.headerMenu a img {
	width: 21px;
}

div.pic {
	display: block;
	position: relative;
	width: 38px;
	height: 38px;
	margin: 0 0 0 10px;
	background: #FFFFFF no-repeat center center;
	border: solid 2px #666666;
	border-radius: 50%;
	background-size: 80%;
}

.user-menu a img {
	width: 10px;
}

.headerUser {
	display: flex;
	align-items: center;
}

.user-menu {
	margin: 23px 4px 0px 4px;
}

.name {
	color: #000;
	font-size: 12px;
	line-height: 17px;
	text-align: right;
}

.fecha {
	font-size: 11px;
	line-height: 15px;
	padding: 0px 6px;
}

/*Titulo*/
.titulo {
	padding: 2px 2% 6px 15px;
	background-color: #fafafa;
	font-size: 24px;
	color: #43413B;
	font-weight: 800;
	text-align: left;
	margin-bottom: 15px;
}

.titulo .ruta {
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 1px 0px 0px 0px;
}

.titulo .ruta a {
	color: #7E7E7E;
	text-decoration: none;
}

.footer {
	width: 100%;
	height: 30px;
	background-color: #f8f7f7;
	bottom: 0px;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 11px;
	z-index: 2;
	min-width: 320px;
}

.footer div {
	width: 50%;
	padding: 0px 3%
}

.footer div:nth-child(1) {
	border-right: 2px solid #006341;
	text-align: right;
}

.footer div:nth-child(2) {
	text-align: left;
}

.intro {
	width: 65%;
	margin: auto;
	color: #006341;
	font-size: 4rem;
	font-family: 'Avenir_Next_Demi_Bold';
	margin-top: 3%;
	text-align: center;
}

.intro img {
	width: 70%;
	margin-left: 15%;
}

.divGrow {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-left: -1%;
	margin-right: -1%;
	align-items: stretch;
}

.divGrow1 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -1%;
	margin-right: -1%;
	align-items: stretch;
}

.divCol5 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.divCol5>.col5 {
	width: 18%;
	margin: 15px 1%;
	
}

.divCol4 {
	display: flex;
	flex-wrap: wrap;
	align-items: inherit;
	text-align: center;
}

.divCol4>.col4 {
	width: 23%;
	margin: 15px 1%;
	text-align: left;
	
}

.divCol4M>.col4 {
	margin: 15px 1% 25px 1% !important;
}

.divCol4>.divAgrega1 {
	width: 23%;
	margin: 15px 1%;
	
}

.divCol4>div>.col4 {
	width: 23%;
	margin: 15px 1%;
	
}

.divCol3 {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.divCol3>.col3,
.divGrow>.col3 {
	width: 31.33%;
	margin: 15px 1%;
	text-align: left;
}

.divGrow1>.col3 {
	width: 31.33%;
	margin: 15px 1%;
	text-align: left;
}

.divCol2 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.divCol2>.col2,
.divGrow>.col2 {
	width: 48%;
	margin: 15px 1%;
}

.divGrow>.col23 {
	width: 63%;
	margin: 15px 1%;
}

.divGrow>.col13 {
	width: 33%;
	margin: 15px 1%;
}

.col3 .gris {
	height: calc(100% - 60px);
}

.gris .divGrisCont {
	height: calc(94% - 60px);
}

.divSimple {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: start;
	margin: 34px 0px;
}

.divSimple>div {
	margin-right: 20px;
}

@media screen and (max-width: 1024px) {

	.divCol5>.col5,
	.divGrow>.col5 {
		width: 23%;
	}
}

@media screen and (max-width: 1023px) {
	.fecha {
		display: none;
	}
}

@media screen and (max-width: 900px) {

	.divCol3>.col3,
	.divGrow>.col3 {
		width: 48%;
	}

	.divCol4>.col4,
	.divGrow>.col4 {
		width: 48%;
	}

	.divCol5>.col5,
	.divGrow>.col5 {
		width: 48%;
	}

	.gris .divGrisCont {
		height: calc(94% - 33px);
	}
}

@media screen and (max-width:800px) {
	.intro {
		font-size: 2.5em;
	}
}

@media screen and (max-width:700px) {
	div.name {
		display: none;
	}

	.divCol2>.col2,
	.divGrow>.col2 {
		width: 98%;
	}

	.divCol3>.col3,
	.divGrow>.col3 {
		width: 98%;
	}

	.divCol4>.col4,
	.divGrow>.col4 {
		width: 98%;
	}

	.divCol5>.col5,
	.divGrow>.col5 {
		width: 98%;
	}
}

@media screen and (max-width:500px) {
	div.title h1 {
		font-size: 22px;
		line-height: 24px;
	}

	div.pic {
		width: 35px;
		height: 35px;
	}
}

.blackScreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99998;
}

.loader {
	/**
	background-image: url("../../img/loading.gif");
	background-repeat: no-repeat;
	*/
	width: 70px;
	height: 70px;
	z-index: 99999;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
}

.loaderContainer {
	z-index: 99999;
	width: 90px;
	height: 90px;
	top: 50%;
	right: 50%;
	border-radius: 5px;
	margin-top: -45px;
	margin-right: -45px;
	position: fixed;
	background: rgb(245, 245, 245, 0.75);
}

.ml-loader {
	/**
	position: relative;
	*/
	width: 70px;
	height: 70px;
}

.ml-loader div {
	-webkit-transform-origin: 35px 35px;
	-ms-transform-origin: 35px 35px;
	transform-origin: 35px 35px;
	-webkit-animation: 1.2s opaque ease-in-out infinite both;
	animation: 1.2s opaque ease-in-out infinite both;
}

.ml-loader div::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 32px;
	width: 5px;
	height: 18px;
	border-radius: 10px;
	background-color: #006341;
}

.ml-loader div:nth-child(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.ml-loader div:nth-child(2) {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.ml-loader div:nth-child(3) {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.ml-loader div:nth-child(4) {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.ml-loader div:nth-child(5) {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.ml-loader div:nth-child(6) {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.ml-loader div:nth-child(7) {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.ml-loader div:nth-child(8) {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.ml-loader div:nth-child(9) {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.ml-loader div:nth-child(10) {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

.ml-loader div:nth-child(11) {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.ml-loader div:nth-child(12) {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
}

.ml-loader div:nth-child(13) {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

@-webkit-keyframes opaque {

	0%,
	40%,
	100% {
		opacity: 0.1;
	}

	40% {
		opacity: 1;
	}
}

@keyframes opaque {

	0%,
	40%,
	100% {
		opacity: 0.1;
	}

	40% {
		opacity: 1;
	}
}

/**********************************************/
.listBox {
	padding: 5px;
	/* border-bottom-style: inset; */
	/* border-bottom-width: 2px; */
}

/**
.listBox :hover {
	background: #006341;
	color: #FFF;
	width: 100%;
	height: 120%;
}
*/

.btnModalList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px 0px 15px 0px;
}

.divListLanzamientos {
	display: flex;
	flex-wrap: wrap;
	align-items: inherit;
	text-align: center;
	overflow-y: scroll;
	min-height: 90px;
	max-height: 270px;
	background-color: #FFF;
	border: 1px #B1B2B1 solid;
}

/*******************************************************/

.toastDescarga {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	background-color: #86AE9D;
	padding: 10px 50px;
	box-sizing: border-box;
	height: 50px;
	width: calc(100% - 20px);
	bottom: -50px;
	border-radius: 7px;
	margin: 0px 10px;
	display: flex;
	align-items: center;
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 1010;
}

.toastDescarga.active {
	bottom: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.progresoDescarga {
	display: flex;
	align-items: center;
}

.progresoDescarga .tiempo {
	margin: 0px 5px;
}

.progresoDescarga .tamano {
	margin: 0px 5px;
}

/* ///Grafica/// */
.progresoDescarga ul {
	display: flex;
	list-style-type: none;
}

.progresoDescarga ul .circle-gauge {
	--gauge-max-value: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}

.progresoDescarga ul .circle-gauge:nth-child(1) a {
	--percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
	background: conic-gradient(#fff var(--percentage), #ffffff63 0);
}

.progresoDescarga ul .circle-gauge a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	font-family: Lato, sans-serif;
	text-decoration: none;
	color: white;
	background: transparent;
	border-radius: 50%;
	counter-reset: value var(--gauge-value);
}

.progresoDescarga ul .circle-gauge a::before {
	position: absolute;
	/* content: counter(value); */
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 60%;
	background: #86AE9D;
	border-radius: inherit;
}

.progresoDescarga ul span {
	padding-top: 10px;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
}