@import url('fonts.css');

html, body {
	font-family: 'Avenir_Next_Regular';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: #333333;
	height: 100%;
	min-width: 330px;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ffffff;
	height: 100%;
	line-height: 1;
}
/*Login*/
.ContLogin {
	text-align: center;
	height: 100vh;
	margin: auto;
	display: flex;
}

.imagen {
	width: 58%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../../img/fondo2.jpg);
	background-position: 50%;
}

.login {
	width: 42%;
}

.titHome {
	border-left: 5px solid #006341;
	padding: 10px;
	width: 342px;
	margin: auto;
	text-align: left;
	color: #676666;
	font-family: 'Avenir_Next_Regular';
	font-size: 28px;
	margin-top: 9%;
	margin-bottom: 9%;
}

.titHome strong {
	font-size: 38px;
}

.subtit {
	color: #666465;
	font-family: 'AvenirNextLTPro-Medium';
	font-size: 27px;
	color: #676666;
	margin-bottom: 3%;
	margin-top: 30px;
}

.divLogin {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
}

.divLogin div {
	width: 100%;
	margin-bottom: 50px;
}

.btnLogin {
	background-color: #006341;
	color: #ffffff;
	cursor: pointer;
	padding: 7px 15px 5px 15px;
	min-width: 120px;
	font-family: 'AvenirNextLTPro-Medium';
	height: 30px;
	margin: auto;
	border: 0px;
	font-size: 14px;
}

input.inputlogin {
	border: 0px;
	border-bottom: 1px solid #999999;
	background-color: transparent;
	color: #333333;
	padding: 0px 0px;
	font-size: 19px !important;
	width: 100%;
	height: 25px;
	text-align: left;
	font-family: 'Avenir_Light';
	background-size: 20px;
	background-position: 8% 49%;
	background-repeat: no-repeat;
	border-radius: 0px;
}

.txtRojo {
	color: red;
}

a.ligaLogin {
	color: #999999;
	text-decoration: none;
}

@media screen and (max-width:1250px) {
	.subtit {
		font-size: 24px;
	}
}

@media screen and (max-width:1024px) {
	.imagen {
		width: 46%;
	}
	.login {
		width: 53%;
	}
	.titHome strong {
		font-size: 35px;
	}
}

@media screen and (max-width:767px) {
	/**
	.imagen {
		width: 100%;
		background-image: url(../../img/fondo.jpg);
		height: 100%;
		position: absolute;
	}
	*/
	.imagen {
		width: 58%;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		background-image: url(../../img/fondo2.jpg);
		background-position: 50%;
	}
	.login {
		width: 100%;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.95);
		height: 100%;
	}
}

@media screen and (max-width:500px) {
	.titHome {
		width: 280px;
		font-size: 23px;
	}
	.titHome strong {
		font-size: 30px;
	}
}