@charset "UTF-8";
/* CSS Document */

.dataTable td.dataTables_empty,
.dataTable th.dataTables_empty {
	text-align: center
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
	white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
	font-weight: normal;
	text-align: left;
	white-space: nowrap
}

∫ div.dataTables_wrapper div.dataTables_length select {
	width: 75px;
	display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
	text-align: right
}


div.dataTables_wrapper div.dataTables_filter input {
	margin-left: 0.5em;
}

div.dataTables_wrapper div.dataTables_info {
	padding-top: 0.85em;
	white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
	justify-content: flex-end
}

div.dataTables_wrapper div.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	margin-top: -26px;
	text-align: center;
	padding: 1em 0
}

.dataTable thead>tr>th:active,
.dataTable thead>tr>td:active {
	outline: none
}

.dataTable thead .sorting,
.dataTable thead .sorting_asc,
.dataTable thead .sorting_desc,
.dataTable thead .sorting_asc_disabled,
.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	position: relative
}

.dataTable thead .sorting:before,
.dataTable thead .sorting:after,
.dataTable thead .sorting_asc:before,
.dataTable thead .sorting_asc:after,
.dataTable thead .sorting_desc:before,
.dataTable thead .sorting_desc:after,
.dataTable thead .sorting_asc_disabled:before,
.dataTable thead .sorting_asc_disabled:after,
.dataTable thead .sorting_desc_disabled:before,
.dataTable thead .sorting_desc_disabled:after {
	position: absolute;
	bottom: 0.9em;
	display: block;
	opacity: 0.3
}

.dataTable thead .sorting:before,
.dataTable thead .sorting_asc:before,
.dataTable thead .sorting_desc:before,
.dataTable thead .sorting_asc_disabled:before,
.dataTable thead .sorting_desc_disabled:before {
	right: 1em;
	content: "\2191";
	top: 2px;
}

.dataTable thead .sorting:after,
.dataTable thead .sorting_asc:after,
.dataTable thead .sorting_desc:after,
.dataTable thead .sorting_asc_disabled:after,
.dataTable thead .sorting_desc_disabled:after {
	right: 0.5em;
	content: "\2193";
	top: 2px;
}

.dataTable thead .sorting_asc:before,
.dataTable thead .sorting_desc:after {
	opacity: 1
}

.dataTable thead .sorting_asc_disabled:before,
.dataTable thead .sorting_desc_disabled:after {
	opacity: 0
}

div.dataTables_scrollHead table.dataTable {
	margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-top: 0 !important;
	margin-bottom: 0 !important
}

div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
	display: none
}

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
	border-top: none
}

div.dataTables_scrollFoot>.dataTables_scrollFootInner {
	box-sizing: content-box
}

div.dataTables_scrollFoot>.dataTables_scrollFootInner>table {
	margin-top: 0 !important;
	border-top: none
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	/* flex-wrap: wrap; */
	/* margin-right: -15px; */
	/* margin-left: -15px; */
	margin: 10px 0px 20px 0px;
	justify-content: space-between;
}

.col-sm-12 {
	width: 100%;
}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
	justify-content: flex-end;
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #d6e5de;
	border-color: #dee2e6;
	border-radius: 5px;
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #006340;
	border-color: #006340;
}

.page-link:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.page-link {
	position: relative;
	margin-left: -1px;
	line-height: 1.25;
	color: #006341;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	display: flex;
	width: 25px;
	height: 25px;
	justify-content: center;
	align-items: center;
}

.tblPaginador {
	min-width: 800px;
}