.m15 {
	margin-top: -15px;
}

.w66 {
	width: 68%;
	margin: 15px 0% 15px 1%;
	max-height: 450px;
}

.w30 {
	width: 30%;
	margin: 15px 1% 15px 0px;
}

.p1 {
	padding: 0px 0px 0px 1%;
}

.contSecc {
	width: 94%;
	margin-top: 20px;
	margin: auto;
}

.contHome {
	margin-top: -15px;
}

.contHome {
	width: 100%;
	background-image: url(../../img/home.png);
	position: absolute;
	background-size: cover;
	background-position: center;
	height: 87%;
}

img.titHome {
	position: absolute;
	width: 56%;
	top: 10%;
	left: 5%;
	max-width: 600px;
}

span.txtG {
	color: #006340;
	text-shadow: 1px 2px 1px #fff;
}

img.imgHome {
	position: absolute;
	width: 80%;
	bottom: 30px;
	right: 30px;
	max-width: 900px;
}

.titSec {
	border-bottom: 2px solid #006341;
	padding: 15px 0% 5px 0px;
	font-family: 'Avenir_Next_Demi_Bold';
	font-size: 17px;
	text-align: left;
	width: 100%;
	margin: auto;
	color: #000;
}

.tit {
	color: #333333;
	font-family: 'AvenirNextLTPro-Medium';
	width: 100%;
	margin: auto;
	font-size: 15px;
	margin-bottom: 10px;
}

.titCol {
	color: #333333;
	font-family: 'AvenirNextLTPro-Medium';
	width: 100%;
	margin: auto;
	font-size: 15px;
	padding-left: 1%;
}

.titVerde {
	color: #006341;
}

.gris {
	width: 100%;
	margin: 0px auto;
	padding: 15px 15px;
	background-color: #faf9f9;
	-moz-box-shadow: 0 0px 1px rgb(226, 222, 222);
	-webkit-box-shadow: 0 0px 1px rgb(226, 222, 222);
	box-shadow: 0 0px 1px rgb(226, 222, 222);
	margin-bottom: 15px;
	text-align: justify;
}

.gris1 {
	width: 90%;
	margin: 0px auto;
	padding: 15px 15px 0px 0px;
	background-color: #faf9f9;
	margin-bottom: 15px;
	text-align: justify;
}

.gris2 {
	background-color: #54585A;
	color: #fff;
	padding: 15px 15px 15px 15px;
	text-align: justify;
}

.btnCenter {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 15px 0px 10px 0px;
}

.btnCenter a {
	margin: 0px 1% 10px 0px;
}

.btnDer {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.btnDer a {
	margin: 0px 0% 10px 2%;
}

.btnDer a:first-child {
	margin: 0px 0% 10px 0%;
}

.btnIzq {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.btnIzq a {
	margin: 0px 2% 10px 0%;
}

.btnIzq a:last-child {
	margin: 0px 0% 10px 0%;
}

.btnSpace {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.btnSpace a {
	margin: 0px 0% 10px 0%;
}

.btnAround {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.btnAround a {
	margin: 0px 0% 10px 0%;
}

.botones {
	display: flex;
	flex-wrap: wrap;
	margin: 18px 0px 0px 0px;
}

.botones a {
	margin: 0px 1% 10px 0px;
}

.btnA {
	background-color: #006341;
	text-align: center;
	display: flex;
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
	padding: 5px 15px 5px 15px;
	min-width: 120px;
	max-width: 200px;
	font-family: 'AvenirNextLTPro-Medium';
	justify-content: center;
	align-items: center;
	height: 30px;
}

.btnGuardar {
	background-color: #006341;
	text-align: center;
	display: flex;
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
	padding: 5px 15px 5px 15px;
	min-width: 120px;
	max-width: 200px;
	font-family: 'AvenirNextLTPro-Medium';
	justify-content: center;
	align-items: center;
	height: 30px;
	font-size: 16px;
}

.btnDescargar div {
	background-image: url(../../img/icoDescargar.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
	-moz-filter: brightness(300%);
	-o-filter: brightness(300%);
}

.btnRegresar {
	background-color: #ffffff;
	color: #006341;
	font-family: 'Avenir_Next_Demi_Bold';
	text-decoration: underline;
}

.btnG {
	background-color: #54585a;
	color: #fff;
	font-family: 'Avenir_Next_Regular';
}

.btnB {
	background-color: #fafafa;
	-moz-box-shadow: 0px 0px 11px rgb(204, 202, 202);
	-webkit-box-shadow: 0px 0px 11px rgb(204, 202, 202);
	box-shadow: 1px 1px 3px rgb(204, 202, 202);
	color: #2d2926;
}

.btn {
	background-color: #006341;
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
	padding: 5px 15px 5px 15px;
	min-width: 120px;
	max-width: 200px;
	font-family: 'AvenirNextLTPro-Medium';
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
}

.btn div {
	width: 15px;
	height: 15px;
	margin: 0px 10px 0px 0px;
}

.btnGuardar div {
	background-image: url(../../img/icoGuardar.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.btnEditar div {
	background-image: url(../../img/icoEditar.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.btnLimpiar div {
	background-image: url(../../img/icoLimpiar.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.btnDescargar div {
	background-image: url(../../img/icoDescargar.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.btnImprimir div {
	background-image: url(../../img/icoPrint.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.btnWord div {
	background-image: url(../../img/icoWord.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.btnExcel div {
	background-image: url(../../img/icoExcel.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.btnPpt div {
	background-image: url(../../img/icoPpt.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.btnTxt div {
	background-image: url(../../img/icoTxt.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.btnPdf div {
	background-image: url(../../img/icoPdf.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.btnAgregar div {
	background-image: url(../../img/icoAgregar.svg);
	background-repeat: no-repeat;
	filter: brightness(300%);
	-webkit-filter: brightness(300%);
}

.w120 {
	width: 120px !important;
	margin-top: 18px;
}

.btnAgregar {
	text-align: center;
	padding: 5px 10px;
	margin: auto;
	text-decoration: none;
	background-color: #006341;
	color: #ffffff;
	cursor: pointer;
	padding: 5px 15px 5px 15px;
	min-width: 120px;
	max-width: 250px;
	font-family: 'AvenirNextLTPro-Medium';
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
}

.btnAgregar div {
	background-image: url(../../img/icoAgregar.svg);
	background-repeat: no-repeat;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	float: left;
}

.btnAgregar1 {
	padding: 5px 0% 5px 0px;
	font-family: 'Avenir_Next_Demi_Bold';
	font-size: 14px;
	color: #575757;
	padding: 8px;
	border: 1px #575757 dashed;
	text-align: center;
	background-color: #fff !important;
}

.btnAgregar1 img {
	width: 20px;
	height: 20px;
}

.gris .btnCenter.btnBotton {
	position: absolute;
	bottom: 10px;
	right: 0px;
	width: 100%;
}

.distribListContainer {
	position: relative;
	margin: 10px 0px 0px 0px;
	background-color: #ffffff;
	margin-left: 40px;
	margin-right: 40px;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 240px;
	overflow-y: scroll;
	max-height: 240px;
}

.modalDistribList {
	max-height: 540px;
	overflow-y: scroll;
}

.btnCancelarList {
	background-color: #DADADA;
	text-align: center;
	display: flex;
	text-decoration: none;
	color: #434448;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	min-width: 120px;
	max-width: 200px;
	font-family: 'AvenirNextLTPro-Medium';
	justify-content: center;
	align-items: center;
	height: 30px;
}

.btnEditarList {
	background-color: #434448;
	text-align: center;
	display: flex;
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	min-width: 120px;
	max-width: 200px;
	font-family: 'AvenirNextLTPro-Medium';
	justify-content: center;
	align-items: center;
	height: 30px;
}

.btnEnviarList {
	background-color: #006341;
	text-align: center;
	display: flex;
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	min-width: 120px;
	max-width: 200px;
	font-family: 'AvenirNextLTPro-Medium';
	justify-content: center;
	align-items: center;
	height: 30px;
}

img.ico {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.tblGeneral {
	width: 100%;
	padding: 10px 0%;
	margin: 0px auto;
}

.tblGeneral tr th {
	padding: 5px 10px 6px 10px;
	color: #333333;
	text-align: center;
	font-weight: 100;
	border-bottom: 2px solid #006341;
	font-size: 14px;
	font-family: 'Avenir_Next_Demi_Bold';
	min-width: 87px;
}

.tblGeneral tr td {
	padding: 7px 10px 7px 10px;
	color: #606664;
	font-size: 13px;
	text-align: center;
	border-bottom: 3px solid #ffffff;
	/*border-right: 2px solid #fff;*/
	border-bottom: 1px solid #d8d8d8;
}

.tblGeneral tr:nth-child(odd) td {
	background-color: #f2f2f2;
}

.tblGeneral tr:nth-child(even) td {
	background-color: #ffffff;
}

.tblGeneral tr:hover td {
	background-color: #e6efe6;
}

.tblGeneral tr td a {
	color: #5fac98;
	text-decoration: underline;
	font-family: 'AvenirNextLTPro-Medium';
}

.tblGeneral tr td img {
	width: 15px;
	cursor: pointer;
}

.cantidad {
	width: 120px;
	margin: auto;
	text-align: right;
	color: #000;
}

tr.total td {
	font-family: 'Avenir_Next_Demi_Bold';
}

.divRadio {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-items: stretch;
	margin: 0px 1%;
}

.divRadio div {
	width: 25%;
	min-width: 160px;
}

.divCol2Input {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.divCol2Input div {
	width: 50%;
	min-width: 160px;
}

.CheckOrden div {
	width: 50%;
	min-width: 148px;
}

.divRadio input[type=radio]+label {
	padding: 6px 30px 5px 22px;
}

/*Seccion de agregar*/
.adjunto {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.adjunto div {
	width: 47%;
	margin: 0px 1%;
}

.adjunto div:nth-child(3) {
	width: 20px;
	display: flex;
}

.adjunto div:first-child {
	margin: 0px 1% 0px 0px;
}

.adjunto div:last-child {
	margin: 0px 0% 0px 1%;
}

.btnCerrar1 {
	background-image: url(../../img/icoCerrar.svg);
	background-size: 20px;
	background-position: 100% 0%;
	background-repeat: no-repeat;
	display: flex;
	height: 20px;
	top: 0px;
}

/*Checkbox*/
.tblCheck tr th:nth-child(1),
.tblCheck tr td:nth-child(1) {
	width: 50px !important;
}

/*Switch*/
.tblCenter {
	display: flex;
	justify-content: center;
}

/*treeview*/
input[type=checkbox].radioAP+label {
	padding-left: 22px;
	background-repeat: no-repeat;
	background-size: 15px;
	cursor: pointer;
	margin-right: 0px;
	margin-left: 10px;
	display: initial;
}

.seleccionado {
	color: #333333;
}

input[type=checkbox]+label {
	background-image: url(../../img/checkbox.svg);
}

input[type=radio].radioAP+label {
	display: initial;
}

input[type=radio].tree+label,
input[type=checkbox].tree+label {
	display: initial;
	padding: 6px 0px 5px 22px;
}

.Tree a {
	color: #2d2926;
}

/*Chat*/
#chat {
	background-color: #fff;
}

.mesaj-gecmisi {
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}

.o {
	width: 266px;
	color: #000;
	position: relative;
	margin: 8px;
	text-align: left;
	padding: 5px 0px 14px 0px;
}

.imgBot {
	width: 45px;
	background-color: #fff;
	float: right;
	padding: 8px;
}

#chat img {
	border-radius: 5px;
	margin: 0 5px 0 5px;
	top: 0;
}

.texto {
	background-color: #006341;
	padding: 8px;
	text-align: left;
	border-radius: 5px;
	width: 200px;
	color: #ffffff;
}

.texto1 {
	background-color: #f0eeef;
	padding: 8px;
	text-align: left;
	border-radius: 5px;
	width: 200px;
	margin-left: 54px;
}

/*----Tooltip----*/
#tooltip {
	text-align: left;
	color: #2d2926;
	background-color: #e6efe6;
	position: absolute;
	z-index: 10000;
	padding: 10px;
	border-radius: 5px;
	-webkit-transition: 100ms ease;
	-moz-transition: 100ms ease;
	-o-transition: 100ms ease;
	-ms-transition: 100ms ease;
	transition: 100ms ease;
}

#tooltip:after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #e6efe6;
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
}

#tooltip.top:after {
	border-top-color: transparent;
	border-bottom: 10px solid #e6efe6;
	top: -20px;
	bottom: auto;
}

#tooltip.left:after {
	left: 10px;
	margin: 0;
}

#tooltip.right:after {
	right: 10px;
	left: auto;
	margin: 0;
}

/*----CHIP-----*/
.chipSecc {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.chip {
	display: inline-block;
	padding: 12px 25px;
	height: 50px;
	line-height: 17px;
	border-radius: 5px;
	background-color: #eae9e9;
	margin-right: 10px;
	margin-top: 10px;
	min-width: 128px;
}

.chipClose {
	margin-right: 31px;
	/* display: inline-block; */
	padding: 17px 18px 0px 9px;
	height: 50px;
	line-height: 17px;
	border-radius: 20px 15px 15px 20px;
	background-color: #eae9e9;
	/* margin-right: 10px; */
	margin-top: 10px;
	min-width: 128px;
}

.ptChip {
	padding-top: 0 !important;
}

.chip .prChip {
	padding-right: 8px !important;
}

.chip img {
	float: right;
	height: 29px;
	width: 23px;
}

.chipActive {
	background-color: rgba(0, 99, 64, 0.24);
}

.closebtn {
	padding-left: 10px;
	color: #888;
	font-weight: bold;
	float: right;
	font-size: 20px;
	cursor: pointer;
}

.closebtn:hover {
	color: #000;
}

.avatarChip {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	float: left;
	margin-top: -16px;
	overflow: hidden;
	position: relative;
	left: -9px;
	border: solid 2px #666666;
}

.avatarChip img {
	width: 100%;
}

.contChip {
	display: flex;
}

.chip1 {
	align-items: center;
	background: #eae9e9;
	border-radius: 25px 10px 10px 25px;
	border-radius: 50px 25px 25px 50px;
	display: flex;
	justify-content: space-between;
	margin: 10px 20px 10px 20px;
}

.chip1:hover {
	background: #006341;
	color: #ffffff;
}

.chip1 div:nth-child(2) {
	padding: 0 10px 0 10px;
	text-align: start;
	width: 74%;
}

.chip1 div:nth-child(1) {
	overflow: hidden;
}

.chip1 div:nth-child(1) div {
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #c9cac8;
	height: 50px;
	width: 50px;
}

.chip1 div:nth-child(1) div img {
	width: 100%;
}

.chip1 div:nth-child(3) img {
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
}

/*Barra*/
.avance {
	display: flex;
	margin-bottom: 15px;
	font-family: 'AvenirNextLTPro-Medium';
}

.barra {
	width: 100%;
	background-color: #999999;
	height: 15px;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	margin-right: 15px;
}

.barra div {
	height: 15px;
	position: absolute;
}

.barra div.bgAma {
	background-color: #006341;
	height: 15px;
	border-radius: 15px;
	width: 100%;
}

.barra div.bgAma1 {
	background-color: #006341;
	height: 15px;
	border-radius: 15px;
	width: 100%;
}

.barra div.bgAma2 {
	background-color: #305692;
	height: 15px;
	border-radius: 15px;
	width: 100%;
}

.barra div.bgama3 {
	background-color: #ff0000;
	height: 15px;
	border-radius: 15px;
	width: 100%;
}

/*Trackin1*/
.tracker {
	width: 97%;
}

.pasos {
	background-color: #d7d7d7;
	border: 1px solid #d7d7d7;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.pasos .paso {
	box-sizing: border-box;
	flex: 1 0 auto;
	font-size: 12px;
	height: 42px;
	line-height: 42px;
	padding-left: 10px;
	position: relative;
	filter: drop-shadow(2px 0px 0px #bdbcbc);
}

.pasos .paso:not(:first-child) {
	margin-left: 22px;
	background-color: #fafafa;
}

.pasos .paso:not(:first-child):before {
	border-bottom: calc(20px) solid #fafafa;
	border-left: calc(20px) solid transparent;
	border-top: calc(22px) solid #fafafa;
	bottom: 0;
	content: " ";
	height: 0;
	position: absolute;
	left: calc(-20px);
	width: 0;
}

.pasos .paso:not(:last-child):after {
	border-bottom: calc(20px) solid transparent;
	border-left: calc(20px) solid #fafafa;
	border-top: calc(22px) solid transparent;
	bottom: 0;
	content: " ";
	height: 0;
	position: absolute;
	right: calc(-20px);
	width: 0;
}

.pasos .paso:last-child:after {
	border-bottom: calc(20px) solid transparent;
	border-left: calc(20px) solid #fafafa;
	border-top: calc(22px) solid transparent;
	bottom: 0;
	content: " ";
	height: 0;
	position: absolute;
	right: calc(-20px);
	width: 0;
}

.pasos .paso.active {
	background-color: #006341;
	color: #ffffff;
}

.pasos .paso.completo {
	background-color: #d7d7d7;
}

.pasos .paso.completo:before {
	border-bottom: calc(20px) solid #d7d7d7;
	border-left: calc(20px) solid transparent;
	border-top: calc(22px) solid #d7d7d7;
}

.pasos .paso.active:before {
	border-bottom-color: #006341;
	border-top-color: #006341;
}

.pasos .paso.active:after {
	border-left-color: #006341;
}

.pasos .paso.completo:after {
	border-left-color: #d7d7d7;
}

.pasos .paso .paso-nombre {
	font-size: 12px;
	font-weight: 600;
}

/* tracker 2 y 3 */
.steps {
	margin: 0;
	padding: 4px 0 0;
	display: flex;
	counter-reset: stepcounter;
}

.step {
	display: block;
	position: relative;
	padding: 40px 0 0;
	text-align: center;
	font-size: 12px;
	flex: 1;
}

.step:after {
	content: counter(stepcounter);
	counter-increment: stepcounter;
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	color: #ffffff;
	background-color: #d7d7d7;
	border: 3px solid #d7d7d7;
	border-radius: 50%;
	font-size: 12px;
	line-height: 28px;
	width: 28px;
	height: 28px;
	transform: translateX(-50%);
	z-index: 10;
	font-weight: 600;
}

.step:not(:first-of-type):before {
	content: '';
	background-color: lightgray;
	position: absolute;
	top: 15px;
	right: 50%;
	width: 100%;
	height: 6px;
	z-index: 1;
}

.step.active:after {
	background-color: #006341;
	color: #ffffff;
	border: 3px solid #006341;
}

.step.active:before {
	background-color: #006341;
}

/*Visualizador*/
.tabVisual {
	width: 100%;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0px 1px rgb(226, 222, 222);
}

.tabVisual li {
	list-style: none;
	margin: 0px 0%;
	width: 100%;
	height: 46px;
	display: flex;
	padding: 0px 5px 0px 15px;
	border-bottom: 1px solid #e4e0e0;
}

.tabVisual li:last-child {
	border: 0px;
}

.tabVisual li a {
	color: #000;
	width: 100%;
	padding: 13px 0px;
	text-decoration: none;
}

.tabVisual li.active a {
	font-family: 'Avenir_Next_Demi_Bold';
	color: #ffffff;
}

.tabVisual li.active {
	background-color: #006341;
	color: #000;
}

.tabVisual li:hover {
	background-color: #c4d6c4;
}

.tabVisual li:hover a {
	color: #000 !important;
}

iframe.frameVisual {
	width: 100%;
	min-height: 480px;
	border: none;
}

div.imgVisual {
	display: flex;
	align-items: center;
	flex-direction: column;
}

div.imgVisual img {
	width: 80%;
}

/*Menu tabs de 3 elementos*/
.menuTabs {
	width: 100%;
	height: 50px;
	margin: 20px 0px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menuTabs li {
	list-style: none;
	margin: 0px 0%;
	text-align: center;
	width: 33.33%;
	height: 46px;
	display: flex;
	padding: 0px 5px;
	border-right: 3px solid #fff;
}

.menuTabs li:last-child {
	border: 0px;
}

.menuTabs li a {
	color: #000;
	width: 100%;
	padding: 13px 0px;
	text-decoration: none;
}

.menuTabs li.active a {
	font-family: 'Avenir_Next_Demi_Bold';
	color: #ffffff;
}

.menuTabs li.active,
.menuTabs li:hover {
	background-color: #006341;
	color: #ffffff !important;
}

.menuTabs li.active,
.menuTabs li:hover a {
	color: #ffffff !important;
}

/*Menu tabs de 2 elementos*/

.menuTabs2 {
	width: 100%;
	height: 50px;
	margin: 15px 0px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menuTabs2 li {
	list-style: none;
	margin: 0px 0%;
	text-align: center;
	width: 50%;
	height: 50px;
	display: flex;
	padding: 0px 5px;
	border-right: 3px solid #fff;
}

.menuTabs2 li:last-child {
	border: 0px;
}

.menuTabs2 li a {
	color: #000;
	width: 100%;
	padding: 13px 0px;
	text-decoration: none;
}

.menuTabs2 li.active a {
	font-family: 'Avenir_Next_Demi_Bold';
	color: #ffffff;
}

.menuTabs2 li.active,
.menuTabs2 li:hover {
	background-color: #006341;
	color: #ffffff !important;
}

.menuTabs2 li.active,
.menuTabs2 li:hover a {
	color: #ffffff !important;
}

/*Seccion de agregar*/

.btnCerrar1 {
	background-image: url(../../img/icoCerrar.svg);
	background-size: 15px;
	background-position: 100% 0%;
	background-repeat: no-repeat;
	display: flex;
	height: 20px;
	top: 0px;
}

/*Checkbox*/

.tblCheck tr th:nth-child(1),
.tblCheck tr td:nth-child(1) {
	width: 50px !important;
}

.seleccionado {
	color: #333333;
}

input[type=checkbox]+label {
	background-image: url(../../img/checkbox.svg);
}

input[type=checkbox]+label:hover {
	background-repeat: no-repeat;
}

input[type=radio].radioAP+label {
	display: initial;
}

input[type=radio].tree+label,
input[type=checkbox].tree+label {
	display: initial;
	padding: 6px 0px 5px 22px;
}

.Tree a {
	color: #2d2926;
}

/*Barra*/

.avance {
	display: flex;
	font-family: 'AvenirNextLTPro-Medium';
}

.barra {
	width: 100%;
	background-color: #999999;
	height: 15px;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	margin-right: 15px;
}

.barra div {
	height: 15px;
	position: absolute;
}

.barra div.bgAma {
	background-color: #006341;
	height: 15px;
	border-radius: 15px;
	width: 100%;
}

.barra div.bgAma1 {
	background-color: #c4d6c4;
	height: 15px;
	border-radius: 15px;
	width: 100%;
}

.barra div.bgAma2 {
	background-color: #305692;
	height: 15px;
	border-radius: 15px;
	width: 100%;
}

.barra div.bgAma3 {
	background-color: #ff0000;
	height: 15px;
	border-radius: 15px;
	width: 100%;
}

/*Graficas*/

.divTablero1 {
	width: 90%;
	margin: auto;
	display: flex;
	max-width: 800px;
}

.divTablero1>div {
	width: 45%;
	text-align: -webkit-center;
	margin: 2.5%;
}

.divTablero3 {
	width: 90%;
	margin: 35px auto;
	max-width: 800px;
}

.divTablero4 {
	display: flex;
	/* height: 300px; */
	width: 90%;
	margin: auto;
	max-width: 800px;
}

.divVertical {
	width: 40%;
	margin: 30px;
	float: left;
}

.divTablero5 {
	width: 80%;
	margin: 30px auto;
	max-width: 800px;
}

.divTablero6 {
	width: 80%;
	margin: 30px auto;
	text-align: -webkit-center;
}

/*tabs*/
.contenedorTabs {
	display: flex;
	justify-content: flex-end;
	height: 40px;
	align-items: center;
	width: 100%;
	border-bottom: 2px solid #006341;
}

.contenedorTabs>div {
	font-size: 16px;
	padding: 6px 25px;
	border-bottom: 3px solid #ffffff;
	cursor: pointer;
}

.contenedorTabs>div.active {
	border-bottom: 3px solid #45ac34;
}

/*card*/
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cardContenedor {
	width: 90%;
	border: 1px solid #d4d4d4;
	padding: 15px;
	display: flex;
	align-items: center;
	min-height: 200px;
}

.cardContenedor>div:nth-child(1),
.cardContenedor>div:nth-child(3) {
	width: 50%;
}

.cardContenedor>div:nth-child(2) {
	/*width: 2%;*/
	height: 70px;
	width: 1px;
	background-color: #d4d4d4;
}

.cardBordeVerde {
	border-left: 50px solid #4b7262;
}

.cardBordeRojo {
	border-left: 50px solid #d96169;
}

.cardBordeVerde2 {
	border-left: 50px solid #c4d6c4;
}

.cardTitulo {
	font-size: 1.8em;
	font-family: 'Avenir_Next_Bold';
}

.cardTituloSecundario {
	font-size: 1.5em;
	font-family: 'Avenir_Next_Bold';
}

.divider {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0px;
}

.divider div {
	width: 70%;
	height: 1px;
	background-color: #d4d4d4;
}

.titulos {
	padding: 15px 0% 5px 0px;
	font-family: 'AvenirNextLTPro-Medium';
	font-size: 20px;
	text-align: left;
	width: 100%;
	margin: auto;
	color: #000;
}

.btnDescargar {
	background-image: url(../../img/select2.svg);
	background-repeat: no-repeat;
	background-position: 90% 50%;
	background-size: 15px;
	width: 100%;
	font-size: 14px;
}

.menuDescarga {
	position: relative;
	width: 170px;
}

.contenedorMenuDescarga {
	display: none;
	position: absolute;
	width: 100%;
	top: 30px;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	border-left: 1px solid #d4d4d4;
	background-color: #ffffff;
	z-index: 999;
}

.contenedorMenuDescarga ul li {
	cursor: pointer;
	padding: 5px 0px 5px 15px;
}

.contenedorMenuDescarga ul li:hover {
	color: #ffffff;
	background-color: #006341;
}

.contenedorFormulario {
	display: flex;
	margin-bottom: 20px;
	margin-top: 40px;
}

.contenedorFormulario>div {
	width: 33.33%
}

.contenedorGrafica {
	width: 100%;
	border: 1px solid #d4d4d4;
}

.contenedorSelect {
	width: 70%;
	margin: 0 auto;
	max-width: 350px;
}

/*--------------- Estatus tabletas ---------------*/
.cardEstTab {
	display: flex;
	justify-content: center;
	min-height: 160px !important;
	width: 80% !important;
}

.justifyStart {
	display: flex;
	justify-content: flex-start;
}

.justifyEnd {
	display: flex;
	justify-content: flex-end;
}

.cardContTexto {
	text-align: center;
	width: 100% !important;
}

.divRow {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.divRow>div {
	width: 33.33%;
}

.contenedorFormularioEstatu {
	display: flex;
	margin: 15px 0px 30px 0px;
	justify-content: space-between;
	position: relative;
}

.contenedorFormularioEstatu>div:nth-child(1) {
	width: 100%;
}

.buscador {
	margin: auto;
	position: relative;
}

.legend {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 30px;
	flex-wrap: wrap;
}

.legend>div {
	display: flex;
	align-items: center;
	margin-right: 40px;
}

.legend>div:last-of-type {
	margin-right: 0px;
}

.legend>div>div:nth-child(1) {
	width: 30px;
	height: 13px;
	margin-right: 10px;
}

.legendBgRojo {
	background-color: #d96169;
}

.legendBgVerde {
	background-color: #4b7262;
}

.legendBgVerde2 {
	background-color: #c4d6c4;
}

.graficasTerritorio {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0 0 0;
}

.graficasNegocios {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0 0 0;
}

.contPie {
	width: 23%;
	height: 280px;
	position: relative;
}

.contPie {
    max-width: 380px;
    width: 40%;
    height: 345px;
    position: relative;
    border: 1px solid #707070;
    margin-bottom: 90px;
}

.contPie2 {
    margin-bottom: 0 !important;
}

.contPie a {
    position: absolute;
    width: 25%;
    text-align: center;
    top: 55%;
    font-size: 0.75em;
    cursor: pointer;
    z-index: 9;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-decoration: underline;
}

.btnSecundario {
	background-color: #ffffff;
	color: #006341;
	border: 1px solid #006341;
	font-family: 'Avenir_Next_Demi_Bold';
}

.expStatus {
	display: none;
}

/*Nuevo*/

.tabsNotificaciones>div:nth-child(1) {
	width: 59%;
}

.tabsNotificaciones>div:nth-child(2) {
	width: 41%;
}

/*-------------- Notificaciones --------------*/
.notificaciones {
	height: 36px;
	display: flex;
	align-items: flex-end;
	position: relative;
}

.notificaciones>a {
	margin: 0px 20px;
	position: relative;
}

.notificaciones a img {
	width: 18px;
	vertical-align: bottom;
}

.numNotificaciones {
	background-color: #ff9f17;
	color: #ffffff;
	line-height: 15px;
	border-radius: 50%;
	font-size: 11px;
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	top: -4px;
	right: -6px;
	text-align: center
}

.contNotificaciones {
	position: absolute;
	top: 42px;
	right: 0px;
	background: #ffffff;
	width: 400px;
	-webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.30);
	box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.30);
	display: none;
}

.headNot {
	display: flex;
	padding: 15px 30px;
	justify-content: space-between;
	align-items: center;
}

.headNot>div:nth-child(2) {
	background-color: #d6e5de;
	color: #006241;
	padding: 5px 10px;
	border-radius: 5px;
	font-family: 'Avenir_Next_Demi_Bold';
}

.tabsNotificaciones>div {
	font-size: 16px;
	padding: 6px 12px;
	border-bottom: 3px solid #ffffff;
	cursor: pointer;
	text-align: center;
	border-bottom: 2px solid #d3e5dc;
}

.tabsNotificaciones>div.active {
	border-bottom: 2px solid #45ac34;
	font-family: 'Avenir_Next_Demi_Bold';
}

.tabsNotificaciones {
	display: flex;
	height: 40px;
	align-items: center;
	width: 100%;
}

.contListaNotificaciones {
	width: 100%;
	max-height: 171px;
	overflow-y: auto;
	overflow-x: hidden;
}

.contListaNotificaciones li {
	border-bottom: 1px solid #eaeaea;
	width: 100%;
}

.contListaNotificaciones li a {
	color: #000;
	width: 100%;
	padding: 10px;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.contListaNotificaciones li.active {
	font-family: 'Avenir_Next_Demi_Bold';
}

.contListaNotificaciones li:last-of-type {
	border-bottom: 0px;
}

.contOp div.dataTables_wrapper div.dataTables_length label {
	display: none !important;
}

.contOp div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	font-size: 12px;
}

.contOp .page-link {
	border: 0px;
}

.contOp .first,
.contOp .next,
.contOp .last,
.contOp .previous {
	background-color: #d6e5de;
	border-radius: 5px;
}

.paginate_button {
	margin: 0px 3px;
}

.iconosPag {
	width: 12px;
}

.iconosPag2 {
	width: 7px;
}

.titNotificaciones {
	padding: 15px 0% 5px 0px;
	font-family: 'Avenir_Next_Demi_Bold';
	font-size: 17px;
	text-align: left;
	width: 100%;
	margin: auto;
	color: #000;
}

.modalAlertIco {
	width: 100px;
	margin-bottom: 15px;
}

.contenedorModal {
	margin: 15px 30px 50px 30px;
}

.tblPaginador tr:nth-child(odd) td {
	background-color: #ffffff !important;
}

@keyframes rightFadeInOut {
	0% {
		right: 100%;
	}

	100% {
		right: 0%;
	}
}

.barra .bgAma,
.barra .bgAma1,
.barra .bgAma2,
.barra .bgAma3,
.barra .bgma3 {
	position: absolute;
	opacity: 1;
	animation-name: rightFadeInOut;
	animation-delay: 0s;
	animation-duration: 5s;
	color: #ccc;
	overflow: hidden;
}

@media screen and (max-width: 1024px) {
	img.imgHome {
		width: 72%;
		bottom: 20px;
	}

	.notificaciones a {
		margin: 0px 10px;
	}
}

@media screen and (max-width: 1000px) {
	.divRadio div {
		width: 33%;
	}
}

@media screen and (max-width: 900px) {
	.col3btn {
		flex-grow: 1;
		text-align: -webkit-center;
	}

	.col3btn .w120 {
		margin-top: 0px;
	}

	.contenedorTabs {
		justify-content: center;
	}

	.contenedorTabs>div {
		padding: 6px 22px;
	}
}

@media screen and (max-width: 900px) {
	img.imgHome {
		width: 65%;
	}
}

@media screen and (max-width: 700px) {
	.col2btn {
		flex-grow: 1;
		text-align: -webkit-center;
	}

	.col2btn .w120 {
		margin-top: 0px;
	}

	.botones {
		justify-content: center;
	}

	.divRadio div {
		width: 50%;
	}

	.pasos {
		width: max-content;
	}

	/*trackin*/
	/*Visualizador*/
	.w30 {
		width: 100%;
		margin: 15px 1%;
	}

	.w66 {
		width: 100%;
	}

	.tabVisual {
		flex-direction: row;
		text-align: center;
	}

	iframe.frameVisual {
		min-height: 400px;
	}

	.tabVisual li a {
		font-size: 12px;
	}

	.tabVisual li {
		padding: 0px;
	}

	.contenedorFormulario {
		flex-direction: column;
	}

	.contenedorFormulario>div {
		width: 100%;
		padding-bottom: 10px;
	}

	.contenedorFormulario>div:nth-child(3) {
		display: flex;
		justify-content: center;
	}

	.contenedorSelect {
		width: 100%;
	}
}

.divEliminar {
	border: 1px solid #ccc;
	height: 59px;
	text-align: center !important;
}

.divDist {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

a.btnDist {
	width: 44%;
	background-color: #f7f7f7;
	display: block;
	box-shadow: 0px 0px 8px 0px rgba(179, 178, 178, 0.4);
	border-radius: 10px;
	padding: 3%;
	text-decoration: none;
	color: #333333;
	text-align: center;
	margin: 10px 2%;
}

.btnDist:hover {
	background-color: #e6efe6;
}

a.btnDist img {
	padding: 0px 0% 8px 0%;
	height: 60px;
}

a.btnDistrib {
	width: 44%;
	background-color: #434448;
	display: block;
	padding: 3%;
	text-decoration: none;
	color: #E8E8EA;
	text-align: center;
	margin: 3% 3%;
}

.btnDistrib:hover {
	background-color: #006341;
}

a.btnDistrib img {
	padding: 0px 0% 8px 0%;
	height: 60px;
}

/** SE AGREGAN CLASES PARA CUANDO SE INHABILITE UN BOTÓN EN 'ADMINISTRACIÓN DE ENVÍOS' **/

a.btnDistribDis {
	width: 44%;
	background-color: #686868;
	/**#434448;*/
	display: block;
	padding: 3%;
	text-decoration: none;
	color: #E8E8EA;
	text-align: center;
	margin: 3% 3%;
}

.btnDistribDis:hover {
	background-color: #686868;
}

a.btnDistribDis img {
	padding: 0px 0% 8px 0%;
	height: 60px;
}

/******************************************************************************************/

.divGrow .rojo {
	color: #ffffff;
}

.rojo {
	background-color: #DB5F67;
}

.divGrow .rojo div:nth-of-type(2) {
	font-size: 24px;
	text-align: center;
}

.divGrow .verde {
	color: #ffffff;
}

.divCol2 .cifra {
	font-size: 60px !important;
}

.verde {
	background-color: #4b7262;
}

.divGrow .verde div:nth-of-type(2) {
	font-size: 24px;
	text-align: center;
}

.wrapperVerde tr td:nth-of-type(2) {
	font-size: 20px;
	text-align: left;
}

.col2V .wrapperVerde div:first-of-type {
	font-size: 24px;
	text-align: center;
}

.divCol1 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.divCol1>.col1,
.divGrow>.col1 {
	width: 98%;
	margin: 15px 1%;
}

.adjunto div {
	width: 98%;
	margin: 0px 1%;
}

.divVertical {
	width: 100% !important;
}

.wrapperVerde {
	max-width: 630px;
	margin: 0 auto;
}

.wrapperVerde table {
	width: 100%;
}

.wrapper23 {
	margin: 0 auto;
}

.wrapper23 table {
	width: 100%;
}

.wrapper13 {
	margin: 0 auto;
}

.wrapper13 table {
	width: 100%;
}

.tabletaImg {
	display: block;
	margin: 0 auto;
	width: auto;
}

.infoTableta {
	align-self: start;
}

.wrapperVerde tr td,
.infoTableta tr td {
	padding: 7px 10px 7px 10px;
}

.infoTableta .btnA {
	max-width: 300px;
}

.tblInfoTab {
	width: 550px;
}

.greenCircle {
	background-color: #006341;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 1px 1px;
	cursor: pointer;
	border-radius: 50%;
}

.yellowCircle {
	background-color: #eccb31;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 1px 1px;
	cursor: pointer;
	border-radius: 50%;
}

.redCircle {
	background-color: #ce4954;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 1px 1px;
	cursor: pointer;
	border-radius: 50%;
}

.divCol2Input {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.divCol2Input div {
	width: 50%;
	min-width: 160px;
}

/*************************/

@keyframes rightFadeInOut {
	0% {
		right: 100%;
	}

	100% {
		right: 0%;
	}
}

.barra .bgAma,
.barra .bgAma1,
.barra .bgAma2,
.barra .bgAma3 {
	position: absolute;
	opacity: 1;
	animation-name: rightFadeInOut;
	animation-delay: 0s;
	animation-duration: 5s;
	color: #ccc;
	overflow: hidden;
}

@media screen and (max-width: 500px) {

	.divCol3>.col3 input[type=checkbox]+label,
	.divCol3>.col3 input[type=radio]+label {
		width: 100%;
	}

	.divRadio div {
		width: 100%;
	}

	.divCol2Input div {
		width: 100%;
	}

	.notificaciones a {
		margin: 0px 10px 0px 0px;
	}

	img#imgLogo {
		height: 20px !important;
		margin-left: -14px;
	}
}

@media screen and (max-height: 820px) {
	.contHome {
		height: 83%;
	}
}

@media screen and (max-height: 650px) {
	.contHome {
		height: 78%;
	}
}

@media screen and (max-height: 520px) {
	.contHome {
		height: 74%;
	}
}

@media screen and (max-width: 900px) {
	.col3btn {
		flex-grow: 1;
		text-align: -webkit-center;
	}

	.col3btn .w120 {
		margin-top: 0px;
	}
}

@media screen and (max-width: 500px) {

	.divCol3>.col3 input[type=checkbox]+label,
	.divCol3>.col3 input[type=radio]+label {
		width: 100%;
	}

	.divRadio div {
		width: 100%;
	}
}

/*Informacion Sucursal*/
.divInfoSucursal {
	border: 1px solid #121212;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	color: #121212;
	font-family: 'Avenir_Next_Regular', sans-serif;
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: left;
}

.divInfoSucursal .w48 {
	width: 48%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.iconoSucursal {
	width: 40px;
	margin-right: 15px;
}

.iconoSucursal img {
	width: 100%;
	max-width: 37px;
	margin: 0 auto;
}

.etiqueta {
	max-width: 200px;
	text-align: left;
	width: 155px;
	font-size: 16px;
}

.infoSucursal {
	max-width: 300px;
	width: 290px;
	font-size: 20px;
	font-family: 'Avenir_Next_Bold', sans-serif;
	line-height: 28px;
	text-align: left;
	margin: 15px 0;
}

.contTabFunc>.tit {
	padding: 20px 0px 40px 0px;
}

.docsCont {
	display: flex;
	justify-content: space-between;
}

.docTabs {
	width: 20%;
	display: flex;
	flex-direction: column;
}

.docTab {
	background-color: #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	cursor: pointer;
	font-family: 'Avenir_Next_Demi_Bold', sans-serif;
}

.docTab:not(:last-child) {
	border-bottom: 1px solid #D8D8D8;
}

.docTab.active {
	background-color: #006241;
	color: #fff;
}

.tabConts {
	width: 75%;
	background-color: #f8f8f8;
	padding: 15px;
}

.tabCont {
	display: none;
}

.tabCont.active {
	display: block;
}

.tabCont iframe {
	width: 100%;
	height: 800px;
}

.docError {
	height: 800px;
	width: 100%;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
}

.errorWrap {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.tituloError {
	font-size: 40px;
	color: #006241;
	font-family: 'Avenir_Next_Demi_Bold', sans-serif;
	text-align: center;
	padding: 20px;
}

.mensajeError {
	font-size: 20px;
	font-family: 'Avenir_Next_Demi_Bold';
	text-align: center;
	padding: 20px;
}

@media screen and (max-width: 1024px) {
	.divInfoSucursal .w48 {
		width: 98%;
	}
}

@media screen and (max-width: 500px) {
	.infoSucursal {
		font-size: 16px;
	}

	.etiqueta {
		font-size: 14px;
	}
}

/** 20032020 **/

.tblGeneral {
	width: 98.8% !important;
	padding: 10px 0%;
	margin: 0px auto;
}

.tblGeneral tr th {
	padding: 5px 10px 6px 10px;
	color: #333333;
	text-align: center;
	font-weight: 100;
	border-bottom: 2px solid #006341;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Medium';
}

.tblGeneral tr td:first-of-type {
	width: 5%;
}

.tblGeneral tr td:nth-of-type(2) {
	width: 8%;
}

.tblGeneral tr td {
	width: 10%;
	padding: 7px 10px 7px 10px;
	color: #606664;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #EBEBEB;
}

.tblGeneral tr:nth-child(odd) td {
	background-color: #FDFDFD !important;
}

.tblGeneral tr:nth-child(even) td {
	background-color: #ffffff !important;
}

.tblGeneral tr:hover td {
	background-color: #e6efe6;
}

.tblGeneral tr td a {
	color: #5fac98;
	text-decoration: underline;
	font-family: 'AvenirNextLTPro-Medium';
}

.tblGeneral tr td img {
	width: 15px;
	cursor: pointer;
}

.cantidad {
	width: 120px;
	margin: auto;
	text-align: right;
	color: #000;
}

tr.total td {
	font-family: 'Avenir_Next_Demi_Bold';
}

.tblEstatusZona tr td:first-of-type {
	width: 3% !important;
}

.flex {
	display: flex;
}

.link {
	color: #006341;
	font-family: 'Avenir_Next_Demi_Bold';
	text-decoration: underline;
	margin-right: 30px !important;
}

.linkN {
	color: #000000 !important;
	font-family: 'Avenir_Next_Demi_Bold' !important;
	text-decoration: underline !important;
}

.accordionBullet dt {
	background-image: url(../../img/select.svg);
	background-repeat: no-repeat;
	background-size: 14px !important;
	background-position: center;
	width: 19px !important;
	height: 19px !important;
	border: none !important;
}

.accordionBullet dt.accordion-active {
	background-color: transparent !important;
	transform: rotateX(180deg) !important;
}

.accordionBullet dd {
	background-color: #ffffff !important;
}

.cantidadVerde {
	color: #4b7262 !important;
	font-family: 'Avenir_Next_Demi_Bold';
}

.cantidadRojo {
	color: #d96169 !important;
	font-family: 'Avenir_Next_Demi_Bold';
}

.cantidadVerdeClaro {
	color: #c4d6c4 !important;
	font-family: 'Avenir_Next_Demi_Bold';
}

.estadisticaTabletas {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Avenir_Next_Demi_Bold';
	font-size: 12px;
}

.estadisticaTabletas>div {
	display: flex;
	width: 32%;
	align-items: center;
}

.estadisticaTabletas>div>div {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 8px;
}

.verde {
	background-color: #4b7262;
}

.rojo {
	background-color: #d96169;
}

.verdeClaro {
	background-color: #c4d6c4;
}

.divResultadosZona .tblGeneral tr th.sorting,
#tblEstatusRegion tr th.sorting {
	background-repeat: no-repeat;
	background-size: 20px;
	width: 20px;
	height: 20px;
	background-position: right 10px;
}

.cardDesac {
	pointer-events: none;
}

.textUnderline {
	text-decoration: underline !important;
}

table.dataTable thead th {
	border-bottom: 2px solid #006341 !important;
}

table.dataTable.no-footer {
	border-bottom: none !important;
}

#tblEstatusRegion tr td:first-of-type {
	text-align: left !important;
}

.dataTables_length {
	display: none;
}

#tblEstatusRegion_filter,
.dataTables_filter {
    width: 100%;
    text-align: left !important;
	position: absolute;
    top: -72px;
}

#tblEstatusRegion_filter input[type=search],
.dataTables_filter input[type=search] {
	margin-left: 0 !important;
	font-size: 16px;
	padding: 0px 30px 0px 15px;
	height: 29px;
	width: 100%;
	border: 1px solid #bfbfbf;
	background-image: url(../../img/lupa.svg);
	background-size: 16px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 99% center;
}

.contenedorDataTable {
	justify-content: flex-end !important;
}

.contenedorDataTable>div:first-of-type {
	width: 26.6%;
}

.bordeRojo {
	border-left: 10px solid #d96169;
}

.bordeVerde2 {
	border-left: 10px solid #c4d6c4;
}

.bordeVerde {
	border-left: 10px solid #4b7262;
}

table.dataTable.display tbody td {
	border-top: none !important;
}

.dataTables_info {
	display: none;
}

.divResultadosZona {
	width: 100%;
	margin-top: 93px;
}

.tblEstatusZona {
	width: 100% !important;
}

.tblEstatusZona tr th:first-of-type {
	background-image: none !important;
}

.tblEstatusZona tr td {
	width: 14.28%;
}

/*Iconos paginador*/
.flechas1,
.flechas2 {
	width: 7px;
}

.paginate_button {
	position: relative;
	margin-left: -1px !important;
	line-height: 17px;
	text-align: center;
	border: 1px solid #dee2e6 !important;
	border-radius: 5px !important;
	/* display: flex !important; */
	width: 34px !important;
	height: 34px !important;
	/* justify-content: center !important;
  align-items: center!important; */
	background-color: #D6E5E0 !important;
}

.current {
	z-index: 1;
	color: #fff !important;
	background: #006340 !important;
	border-color: #006340 !important;
}

.dataTables_paginate>span {
	margin: 0 12px;
}

.margint50 {
	margin-top: 50px;
}

td.details-control {
	background: url(../../img/select.svg) no-repeat center center;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 14px !important;
	background-position: center;
	width: 19px !important;
	height: 19px !important;
	/* border: none !important; */
}

tr.shown td.details-control {
	background-color: transparent !important;
	transform: rotateX(180deg) !important;
}

/*resultados de buscar*/
.dataTables_filter .dropdown-menu {
	background-color: #fff;
	border: 1px solid #bfbfbf;
	padding: 15px;
	box-sizing: border-box;
}

.dataTables_filter .dropdown-menu li {
	padding: 10px 0;
}

.dataTables_filter .dropdown-menu li a {
	color: #2D2926;
}

.dataTables_filter .dropdown-menu li a strong {
	background-color: #c4d6c4 !important;
}

/*Omar*/
.infoTablenta {
	display: flex;
	width: 100%;
	justify-content: space-between;
	max-width: 1300px;
	margin: 40px auto;
}

.infoTablenta .infoTablentaCont1 {
	width: 32%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.infoTablenta .infoTablentaCont2 {
	width: 68%;
	/*height: 400px;*/
	display: flex;
	flex-wrap: wrap;
}

.infoTablenta .infoTablentaCont2>.card {
	width: 29%;
	height: 238px;
	background: #ffffff;
	margin: 0px 2% 4%;
	min-width: 173px;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	-webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.30);
	box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.30);
	text-align: center;
	padding: 15px;
	color: #2D2926;
	/*min-width: 195px;*/
}

.infoTablenta .infoTablentaCont2>div>div {
	padding-bottom: 15px;
}

.textoInfoTable {
	width: 250px;
	max-width: 300px;
	margin-bottom: 20px;
}

.infoTablentaCont2>.card div:first-of-type {
	margin-bottom: 10px;
}

.tituloInfoTab {
	font-family: 'Avenir_Next_Demi_Bold';
	font-size: 22px;
	color: #006241;
}

.icoInfoTable {
    height: 70px;
}

.forTexTar {
	font-size: 12px;
	color: #7E7E7E;
}

.contGraficSucursal {
	width: 100%;
	padding-top: 20px;
}

.btnRegresar {
	background-color: #ffffff;
	color: #006341;
	font-family: 'Avenir_Next_Demi_Bold';
	text-decoration: underline;
}

.tblInfoTecnica tr td {
	padding: 10px 0px;
	border-bottom: 0px !important;
	border-right: 0px !important;
}

.tblInfoTecnica tr {
	padding: 10px 0px;
	border-bottom: 1px solid #d8d8d8;
}

.tblInfoTecnica tr:last-of-type {
	border-bottom: none;
}

.tblInfoTecnica tr:nth-child(odd) td {
	background-color: #ffffff;
}

.tblInfoTecnica tr:hover td {
	background-color: #ffffff;
}

.tblInfoTecnica tr th {
	font-family: 'Avenir_Next_Bold';
}

.titNotificaciones {
	padding: 15px 0% 5px 0px;
	font-family: 'Avenir_Next_Demi_Bold';
	font-size: 17px;
	text-align: left;
	width: 100%;
	margin: auto;
	color: #000;
}

.verdeClaro2 {
    color: #40AE2A;
}

.verdeOscuro2 {
    color: #009473;
}

.gris3 {
    color: #637169;
}

.graficaInfoGeneral {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.graficaInfoGeneral .contPie {
    margin-top: 70px;
    margin-bottom: 90px;
}

.bold {
    font-family: 'Avenir_Next_Bold';
}

.divTablaGraficas {
    margin-top: 20px;
}

.tblInfoGraficas {
    width: 80%;
    margin: 0 auto;
}

.tblInfoGraficas tr th {
    font-size: 14px;
    font-family: 'Avenir_Next_Regular', sans-serif;
    width: 33%;
}

.tblInfoMantenimiento {
    width: 35% !important;
}

.tblInfoGraficas tr td {
    font-size: 18px;
    border: 1px solid #C9C9C9;
    text-align: center;
    padding: 4px;
}

.textoInfoTable .tituloInfoTab {
    margin-bottom: 15px;
}

.textoInfoTable div:nth-of-type(2) {
    margin-bottom: 10px;
}

.btnVerDetalle2 {
    top: 54% !important;
}

.demiBold {
    font-family: 'Avenir_Next_Demi_Bold', sans-serif;
}

.divTotalS {
    margin-top: 10px;
}

.noLink {
    text-decoration: none !important;
}

.cardVerde {
    background-color: #a3d8c04f !important;
}

.dataTables_filter {
	display: none;
}

@keyframes rightFadeInOut {
	0% {
		right: 100%;
	}

	100% {
		right: 0%;
	}
}

.barra .bgAma,
.barra .bgAma1,
.barra .bgAma2,
.barra .bgma3 {
	position: absolute;
	opacity: 1;
	animation-name: rightFadeInOut;
	animation-delay: 0s;
	animation-duration: 5s;
	color: #ccc;
	overflow: hidden;
}

@media screen and (min-width: 1300px) {
	.contPie a {
		font-size: 0.75em;
	}
}

@media screen and (max-width: 1024px) {
	img.imgHome {
		width: 72%;
		bottom: 20px;
	}
}

@media screen and (max-width: 1000px) {
	.divRadio div {
		width: 33%;
	}

	.graficasTerritorio .contPie {
		width: 40%;
	}

	.graficasNegocios .contPie {
		width: 40%;
	}

	.graficasTerritorio {
		justify-content: space-around;
	}

	.graficasNegocios {
		justify-content: space-around;
	}

	.infoTablenta {
		flex-direction: column;
		align-items: center;
	}

	.infoTablenta .infoTablentaCont1 {
		width: 100%;
		flex-direction: row;
	}

	.infoTablenta .infoTablentaCont2 {
		width: 100%;
	}

	.textoInfoTable {
		width: 50%;
		max-width: inherit;
		padding-left: 15px;
	}

	.contGraficSucursal {}

	@keyframes rightFadeInOut {
		0% {
			right: 100%;
		}

		100% {
			right: 0%;
		}
	}

	.barra .bgAma,
	.barra .bgAma1,
	.barra .bgAma2,
	.barra .bgma3 {
		position: absolute;
		opacity: 1;
		animation-name: rightFadeInOut;
		animation-delay: 0s;
		animation-duration: 5s;
		color: #ccc;
		overflow: hidden;
	}

	@media screen and (min-width: 1300px) {
		.contPie a {
			font-size: 0.75em;
		}
	}

	@media screen and (max-width: 1024px) {
		img.imgHome {
			width: 72%;
			bottom: 20px;
		}
	}

	@media screen and (max-width: 1000px) {
	    .divRadio div {
	        width: 33%;
	    }
	
	    .contPie {
	        width: 45%;
	    }
	
	    .graficasTerritorio {
	        justify-content: space-around;
	    }
	
		.graficasNegocios {
	        justify-content: space-around;
		}		

	    .infoTablenta {
	        flex-direction: column;
	        align-items: center;
	    }
	
	    .infoTablenta .infoTablentaCont1 {
	        width: 100%;
	        flex-direction: row;
	        margin-bottom: 40px;
	    }
	
	    .infoTablenta .infoTablentaCont2 {
	        width: 100%;
	    }
	
	    .textoInfoTable {
	        width: 50%;
	        max-width: inherit;
	        padding-left: 15px;
	    }
	
	    .imagenTableta {
	        width: 48%;
	    }
	
	    .imagenTableta img {
	        display: block;
	        margin: 0 auto;
	        height: 200px;
	    }
	}

	@media screen and (max-width: 900px) {
		.col3btn {
			flex-grow: 1;
			text-align: -webkit-center;
		}

		.col3btn .w120 {
			margin-top: 0px;
		}

		.contenedorTabs {
			justify-content: center;
		}

		.contenedorTabs>div {
			padding: 6px 22px;
		}

		img.imgHome {
			width: 65%;
		}
	}

	@media screen and (max-width: 900px) {
		.divRow {
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}

		.divRow>div {
			width: 100%;
		}

		.cardEstTab {
			width: 100% !important;
			margin-bottom: 15px;
		}
	}

	@media screen and (max-width: 700px) {
		.col2btn {
			flex-grow: 1;
			text-align: -webkit-center;
		}

		.col2btn .w120 {
			margin-top: 0px;
		}

		.botones {
			justify-content: center;
		}

		.divRadio div {
			width: 50%;
		}

		.pasos {
			width: max-content;
		}

		/*trackin*/
		/*Visualizador*/
		.w30 {
			width: 100%;
			margin: 15px 1%;
		}

		.w66 {
			width: 100%;
		}

		.tabVisual {
			flex-direction: row;
			text-align: center;
		}

		iframe.frameVisual {
			min-height: 400px;
		}

		.tabVisual li a {
			font-size: 12px;
		}

		.tabVisual li {
			padding: 0px;
		}

		.contenedorFormulario {
			flex-direction: column;
		}

		.contenedorFormulario>div {
			width: 100%;
			padding-bottom: 10px;
		}

		.contenedorFormulario>div:nth-child(3) {
			display: flex;
			justify-content: center;
		}

		.contenedorSelect {
			width: 100%;
		}

		.contenedorFormularioEstatu>div:nth-child(1) {
			width: 100%;
		}

		/*Agregar*/
		.contenedorFormularioEstatu {
			margin-bottom: 80px !important;
		}

		#tblEstatusRegion_filter,
		.dataTables_filter {
			width: 100%;
		}

		.contenedorFormularioEstatu {
			flex-direction: column;
			width: 100%;
		}

		.infoTablenta .infoTablentaCont2 {
			justify-content: center;
		}

		.infoTablenta .infoTablentaCont2>div {
			width: 46%;
		}
	}

	@media screen and (max-width: 600px) {
		.graficasTerritorio .contPie {
			width: 51%;
		}

		.graficasNegocios .contPie {
			width: 51%;
		}

		.infoTablenta .infoTablentaCont1 {
			flex-direction: column;
		}

		.textoInfoTable {
			width: 100%;
			text-align: center;
		}

		.contGraficSucursal {
			width: 100%;
		}
	}

	@media screen and (max-width: 500px) {

		.divCol3>.col3 input[type=checkbox]+label,
		.divCol3>.col3 input[type=radio]+label {
			width: 100%;
		}

		.divRadio div {
			width: 100%;
		}

		.divCol2Input div {
			width: 100%;
		}
	}

	@media screen and (max-height: 820px) {
		.contHome {
			height: 83%;
		}
	}

	@media screen and (max-height: 650px) {
		.contHome {
			height: 78%;
		}
	}

	@media screen and (max-height: 520px) {
		.contHome {
			height: 74%;
		}
	}
}