@charset "UTF-8";

/*
Nugget Name: Onyx - DropzoneJS example with everything you will need, translations, custom preview and a powerful PHP code to handle upload/delete file
Nugget URI: http://www.onyxdev.net/
Author: Obada Qawwas
Author URI: http://www.onyxdev.net/
Version: 1.0


/************************************************************
    Common styles

*************************************************************/
/* Transitions
*************************************/
.file-item:before,
.file-item,
.file-item .fake button i,
.remove-file:before,
.files-container {
    -webkit-transition: all .15s ease-in-out;
       -moz-transition: all .15s ease-in-out;
        -ms-transition: all .15s ease-in-out;
         -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
}
/* Content
*************************************/
.section-sub-title {
    font-family: "Montserrat", Arial, Sans-serif;
    font-size: 18px;
    line-height: 1.35;
    text-transform: capitalize;
}
.text-center {
    text-align: center;
}
/************************************************************

    Sections

*************************************************************/
/* Wrapper
*************************************/
.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
/* BGs
*************************************/
.full-dark-bg {
    margin: 5% auto;
    background-color: rgba(0, 0, 0, .25);
    padding: 5%;
}
/************************************************************

    DropzoneJS Example

*************************************************************/
.inner-page .section-title {
    font-size: 28px;
    text-transform: uppercase;
    position: relative;
}
.inner-page .section-sub-title {
    margin-top: 10px;
    text-transform: uppercase;
    color: #fff;
}
.inner-page .section-sub-title:not(:first-child) {
    margin-top: 35px;
}

/* Upload files
*************************************/
.files-container {
    position: relative;
    margin: 10px 0px 0px 0px;
    background-color:#ffffff;
}
.files-container span {
    display: block;
    text-align: center;
    font-size: 13px;
    text-transform: capitalize;

}

/*** Dropzone ***/
.files-container.hover {
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid #d9d9d9;
    color: rgba(255, 255, 255, .85);
}
.files-container {
    position: relative;
    border: 1px solid #d9d9d9;
    min-height: auto;
}
.files-container #upload-label{
  background: rgba(231, 97, 92, 0);
  color: #fff;
  position: absolute;
  height: 115px;
  top: 20%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 20%;
  text-align: center;
  cursor: pointer;
}
.files-container.active{
  background: #fff;
}
.files-container.active #upload-label{
  background: #fff;
  color: #e7615c;
}

.files-container #upload-label i:hover {
    color: #444;
    font-size: 9.4rem;
    -webkit-transition: width 2s;
}

.files-container #upload-label span.title{
  font-size: 1em;
  font-weight: bold;
  display: block;
}

span.tittle {
    position: relative;
    top: 222px;
    color: #bdbdbd;
}

.files-container #upload-label i{
    text-align: center;
    display: block;
    color: #e7615c;
    height: 115px;
    font-size: 9.5rem;
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}
/** Preview of collections of uploaded documents **/
.preview-container {
    position: relative;
    visibility: hidden;
    min-height: 220px; /*339px*/
}

.preview-container #previews .onyx-dropzone-info {
    display: flex;
    flex-wrap: nowrap;
    padding-top:0px;
    width: 100%;
}
.preview-container #previews .onyx-dropzone-info > .thumb-container {
    flex: 0 0 50px;
    overflow: hidden;
}
.preview-container #previews .onyx-dropzone-info img {
    max-width: 30px;
    height: auto;
   
}
.preview-container #previews .onyx-dropzone-info > .details {
    position: relative;
  /*  flex: 0 0 calc(100% - 50px);
    max-width: calc(100% - 50px);*/
    padding-right: 30px;
}
.preview-container #previews .onyx-dropzone-info .actions {
    position: absolute;
    right: 0;
    top: 25%;
    line-height: 1;
    transform: translateY(-50%);
}
#previews > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
/* Uploaded files
*************************************/
.no-files-uploaded {
    display: block;
}

.uploaded-files {
    margin-top: 10px;
    transition: all .3s ease-in-out;
}
.uploaded-files span,
.uploaded-files a {
    color:#a3a3a3;
    font-size: 14px;
    text-align:left; 
}
.uploaded-files a:hover {
    text-decoration: underline !important;
}
.uploaded-files i {
    position: relative;
    margin-right: 7px;
    font-size: 12px;
    color: #de1500;
}


/* Warnings
*************************************/
.last-date {
    display: block;
    margin-top: 10px;
}

/* File types
*************************************/
.thumb-container {
    position: relative;
}

div.type-pdf .thumb-container:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-size: 90% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../../img/icoPdf.svg);
}

div.type-mp4 .thumb-container:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-size: 90% 100%;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../../img/icoMp4.svg);
}

div.type-json .thumb-container:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-size: 90% 100%;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../../img/icoArchivo.svg);
}

div.type-xls .thumb-container:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-size: 90% 100%;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../../img/icoExcel.svg);
}

div.type-xlsx .thumb-container:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-size: 90% 100%;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../../img/icoExcel.svg);
}

.n-elip{
	width: 160px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
#previews>div {
	width: 29%;
	margin: 10px 2% 20px 2%;
}

.dz-default.dz-message span {
	margin-bottom: 8px;
	color: #a3a3a3;
	font-size: 0em;
}

.actions a {
	background: red;
	width: 20px;
	height: 20px;
	display: block;
	background-image: url("../../img/icoCerrar.svg");
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

@media screen and (max-width:1800px) {
	#previews>div {
		width: 45%;
	}
}

@media screen and (max-width:1200px) {
	#previews>div {
		width: 90%;
	}
}