/*::::::::::::::::::::::CSS ALEX::::::::::::::::::::::*/
/*CSS ACORDEON*/
#accordion {
    height: 85%;
    overflow: hidden;
    width: 100%;
}
 
#accordion li {
    float: left;
    margin-left: 0.4%;
    border-radius: 20px;
    height: 170px;
    width: 25px;
    padding: 60px 0;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5em;
    border-left: 1px solid #fff;
}

#accordion li.active {
    min-width: 600;
}

.tablaDatosGenerales{
	text-align: center;
}

/*Para Container*/
.paraContainer{
	margin: 0 auto;
	color: white;
	width: 90%;
	background-color: #26ab61;
}

/*Sucursal Container*/
.sucursalContainer{
	margin: 0 auto;
	margin-top: -3px;
	margin-bottom: 2px;
	color: white;
	width: 100%;
	border-radius: 10px;
	background-color: #1c562e;
}

.folios , .folios:hover  {
	width: 100%;
	height: 100%;
	background-color:#9b1f2c;
}

.evidencias , .evidencias:hover {
	background-color: #626567;
}

.fechaHora, .fechaHora:hover {
	background-color: #26ab61;
}

.alertas, .alertas:hover{
	background-color: #1c562e;
}

.infoWrapper{
	margin-top: -60px;
	background-color: transparent;
	height: 170%;
}

.tituloContainer{
	background-color:transparent;
	border-radius: 20px;
	border: 0.5px solid black;
	float: left;
	width: 30px;
	height: 100%;
	-webkit-box-shadow: 6px -2px 34px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px -2px 34px 0px rgba(0,0,0,0.75);
	box-shadow: 6px -2px 34px 0px rgba(0,0,0,0.75);
	
}

.tituloText{
	margin-left: -3px;
	margin-top: 140px;
	transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
	font-size: 25px;
font-weight: lighter;
}

/*DIV PESTAÑAS*/
.contenidoGeneralFolios{
	background-color: #9b1f2c;
	float: left;
	width: 90%;
	height: 100%;
}

.contenidoGeneralEvidencias{
	background-color: #626567;
	float: left;
	width: 94%;
	height: 100%;
}

.contenidoGeneralFechaHora{
	background-color: #26ab61;
	float: left;
	width: 94%;
	height: 100%;
}

.contenidoGeneralAlertas{
	background-color: ;
	float: left;
	width: 90%;
	height: 90%;
}

#motivo{
	font-size: 23px;
}
.aInterno{
	font-size: 16px;
	padding-top: 15px;
}

.resumen{
	margin: 0 auto;
	background-color: white;
	color: black;
	width: 22%;
	height: 12%;
	font-size: 23px;
	font-weight: bold;
}

/*ESTILO TABLAS DETALLES*/
#tablaFechaHora{
	margin: 0 auto;
	background-color: transparent;
	width: 80%;
	height: 80%;
	font-size: 21px;
}

#tablaAlertas{
	margin: 0 auto;
	background-color: transparent;
	width: 80%;
	height: 80%;
	font-size: 17px;
}

#tablaEvidencias{
	margin: 0 auto;
	background-color: transparent;
	width: 80%;
	height: 80%;
	font-size: 17px;
}

#tablaFolios{
	margin: 0 auto;
	background-color: transparent;
	width: 80%;
	height: 80%;
	font-size: 17px;
}

#tablaFechaHora th , #tablaAlertas th , #tablaEvidencias th , #tablaFolios th {
	border-bottom: 3px solid transparent;
	
}

.tdExterno{
	margin-left: 10%;
	padding-bottom: 10%;
}

.tbInterna{
		margin: 0 auto;
}

.contentScroll{
    overflow-y: scroll;
    height: 89%;
}
/*::::::::::::::::::::::FIN CSS ALEX::::::::::::::::::::::*/

/*CSS JORGE*/
/* NUEVO ESTILO PARA DETALLE */

.deGeneralDeralle{
	background: white; margin: 24px 24px 24px 24px; min-width: 700px; min-height:950px; height: 95%; position: relative;
}
.deMargen1{
	width:100%; height:90px; 
}
.deMargen2{
	background: white;  margin: 0 50px 0px 50px; min-width: 700px; min-height:800px; height: 84%; border-radius: 20px; border:3px solid #000000;
}
.deIm1-1{
	float: right; margin-top: 4px; margin-right: 15px;
}
.deDetalleGeneral1{
	width:100%; height:50%;  position: relative;
}
.deDetalleGeneral2{
    width: 100%;
    height: 50%;
    position: relative;
}
.deMarco2-2{
	width:90%; height:90%; background: #d2d2d5; position: absolute; margin-top:15px; margin-left:5%; margin-right:5%; border-radius: 20px;
}
.deMarco2-2-1{
	width:100%; height:40%;  position: relative;
}
.deMarco2-2-2{
	width:100%; height:60%; position: relative;
}
.deMarcoDetalle-21{
	width:100%; height:30%; position: relative;
}
.deMarcoDetalle-22{
	width:100%; height:60%; position: relative;
}
.deMarcoDetalle-23{
	width:100%; height:10%; 
}	
.deMarcoDetalle-21-1{
	width:43%; height:100%; display: inline-block; position: relative;
}
.deMarcoDetalle-21-2{
	width:13%; height:100%; display: inline-block; position: relative;
}
.deMarcoDetalle-21-3{
	width:43%; height:100%; display: inline-block; position: relative;
}
.afontdeMarcoDetalle-21-2{
	background:white;
	text-align: center;
	width: 100%;
	height:100%;
	font:3.5ex Calibri;
}
.afontdeMarcoDetalle-21-222{
	text-align: center;
	width: 100%;
	height:100%;
	font:3.5ex Calibri;
}
.afontdeMarcoDetalle-21-3{
	text-align: left;
	width: 100%;
	height:50%;
	font:3ex Calibri;
}
.afontdeMarcoDetalle-21-2Cuadrado{
	width:100%;
}

.tipoFuenteUno{
	font-weight: bold;
	font-size: 24px;	
}
.tipoFuenteDos{
	font-weight: lighter;
	text-align: left;
}
#tipoFuenteUnoPregunta{
	font-weight: bold;
	font-size: 20px;
}
.tipoFuenteUnoFolio{
	font-weight: bold;
	width: 15%;
	font-size: 25px;
}
#tipoFuenteDosFolio{
	font-weight: 10px;;
	text-align: left;
	padding-left: 25px;
	width: 85%;
	font-size: 23px;
}
.tipoFuenteUnoAccion{
	font-weight: bold;
	width: 20%;
	font-size: 25px;
}
#tipoFuenteDosAccion{
	font-weight: 100;
	text-align: left;
	width: 80%;
	font-size: 23px;
	padding-left: 25px;
}
.tipoFuenteUnoFecha{
	font-weight: bold;
	width: 10%;
	font-size: 25px;
}
#tipoFuenteDosFecha{
	font-weight: 100;
	text-align: left;
	width: 5%;
	font-size: 23px;
}
#tipoFuenteUnoCuadro{
	font-weight: bold;
	font-size:30px;
	color:#ad3039;
}
.marcoUnoCuadrado{
	border:2px solid black;
	background: #e7e6e8;
	width:70px;
	height:60px;
}
.marcoTdCuadrado{
	valign:middle; 
	width:80%; 
	height:70px;
}
.margenCarruselUno{
	width: 20%;
	height:100%;
	position:relative;
	display: inline-block;
	float: left;
}
.margenCarruselDos{
	width: 16%;
	height:100%;
	position:relative;
	display: inline-block;
}
.margenCarruselTres{
	width: 43%;
	height:100%;
	position:relative;
	display: inline-block;
}
.margenCarruselCuatro{
	width: 20%;
	height:100%;
	position:relative;
	display: inline-block;
	float: right;
}

.afontdeMarcoDetalle-Evidencia{
	text-align: right;
	width: 100%;
	margin-top: 55px;;
	height: 10%;
	font: 3.5ex Calibri;
}
.tipoFuenteUnoEvidencia{
	font-weight: bold;
	font-size: 30px;	
}

.margenImagen{
	width: 400px;
	height:80%;
	margin: 0 auto;
	background: black;
	position: relative;
}
.margenNumeros{
	width: 100%;
	height:20%;
	position:absolute;
}

.imagAnterior{
	height: 40px;
	width: 30px;
	margin-left: 30px;
}
.imagAnterior:hover{
	cursor: pointer;
}
.imagPosterior{
	height: 40px;
	width: 30px;
	margin-right: 30px;
	float: right;
}
.imagPosterior{
	cursor: pointer;
}
.margenCarruselUno-1{
	width: 100%;
	height: 30%;
	position: relative;
}
.margenCarruselUno-2{
	width: 100%;
	height: 70%;
	position: relative;
}

.celdaNumeros{
	width: 100%;
	height: 100%;
	text-align: center;
}
.tresPuntos{
	font-size: 30px;
	margin-left: 1%;
	color: black;
}
.circulo_Black {
	position:relative;
	background: black;
	 border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: white;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-left: 1.6%;
	margin-top: 2%;
	text-align: center;
	width: 1.6em; 
}
.circulo_BlackFinal {
	position:relative;
	background: black;
	 border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: white;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-left: 1%;
	margin-top: 2%;
	text-align: center;
	width: 1.6em; 
}

#imagenEvidencia{
	width: 100%;
	height: 100%;
	position: absolute;
}

#fLink, #eLink, #folioAlerta{
  text-decoration: underline;
  }

#fLink:hover, #eLink:hover , #folioAlerta:hover{
    cursor:pointer;
}

/*CREA EL POPUP VENTANA IMAGEN EMERGENTE*/
#ventanaEmergente {
   visibility:hidden;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 2000;
   -webkit-transition:all 1s;
   -moz-transition:all 1s;
   transition:all 1s;
}
 
.ventanaEmergente-contenedor {
   position: relative;
   margin: 10% auto;
   background-color: transparent;
   color: #333;
   border-radius: 3px;
   width: 50%;
   height: 50%;
}
.ventanaEmergente-cerrar {
   position: absolute;
   top:3%;
   right:2.5%;
   background-color: #285a43;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
.tamaImagenEmergente{
	width:95%;
	height:94%;
	margin:2.5% 2.5% 2.5% 2.5%;
	position: relative;
}

#tLeft, #tRight{
	width: 20%;
}

#tCenter{
    width: 60%;
    margin-left: 15%;
}
