/*INPUT*/
.textBoxInput2 {
	/*background: none repeat scroll 0 0 #E5F0D9;*/
	background: #fff;
	cursor: pointer;
	/*margin-top: -10px;
	margin-bottom: -10px;
	padding: 0px 15px;*/
	position : relative;
	border: 1px solid #dedede;
	/*tipo de alineacion */
	display: inline-block;
	text-align: left;
	height: 40px;
	width:100%;
	margin-top: -1000px;
	font: 14px 'Roboto-Light';
	margin-left:-15%;;
	color: gray;
}


.textBoxInput2:focus {
	/*estilo de linea al seleccionar un elemento*/
	outline: none;
	/*estilo de la letra */
	font: 14px 'Roboto-Light';
	background: #fff;
	/*color del borde*/

}

.cajaVis {
	/*background: none repeat scroll 0 0 #E5F0D9;*/
	background: #fff;
	cursor: pointer;
	/*margin-top: -10px;
	margin-bottom: -10px;
	padding: 0px 15px;*/
	position : relative;
	border: 1px solid #dedede;
	/*tipo de alineacion */
	display: inline-block;
	text-align: left;
	height: 40px;
	width:100%;
	font: 14px 'Roboto-Light';
	margin-left:-15%;
}

.seleccionadoVis {
	color: gray;
	display: block;
	font: 14px 'Roboto-Light';
	/*line-height: 3;*/
	text-indent: 3px;
	height: 22px;
	max-width: 100%;
	overflow: hidden;
}
ul.margenUl{
	margin: 0 0 0 0;
	white-space: nowrap;
}
ul.margenUl2{
	margin-top: -99px;
	white-space: nowrap;
}



ul.listaselectVis {
	/*background: none repeat scroll 0 0 #fff;*/
	background: #fff;
	display: none;
	left: -1px;
	padding-left: 0;
	position: absolute;
	text-indent: 5px;
	top: 0;
	margin:22px 0 0 0;
	min-width: 185px;
	width: auto;
	font: 14px 'Roboto-Regular';
	z-index:10;
}

ul.listaselectVis li {
	border-bottom: 1px solid rgba(239, 239, 239, 0);
	cursor: pointer;
	display: block;
	/*line-height: 15px;*/
	list-style: outside none none;
	/*padding: 1.1em 0.3em;*/
	margin:-1px 0 0 0 ;
	background-color: white;
	color: rgba(128, 128, 128, 0.72);
	font: 14px 'Roboto-Light';
}

ul.listaselectVis li a {
	color: gray;
	font: 12px 'Roboto-Light';
	text-decoration: none;
	margin:0 15px 0 10px;	
}

ul.listaselectVis li:hover {
	color: white;
	text-decoration: none;
	background: #29C19A;
	
}

ul.SelectProductos li:last-child {
	border-bottom: medium none;
}

.trianguloinfVis {
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	border-top: 13px solid #29C19A;
	height: 0;
	position: absolute;
	right: 10px;
	top: 5px;
	width: 0;
}

.triangulosupVis {
	border-bottom: 13px solid  rgba(56, 185, 135, 0.92);
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	height: 0;
	position: absolute;
	right: 10px;
	top: 5px;
	width: 0;
}

span.circulo {
	margin: 37px 20px 0 80px;
	display: inline-block;
	
}

.li-stilo {
	list-style: none;
	font: 14px 'Roboto-Regular';
	color: black;
	padding: 0px;	
}

.margenLista{
	margin: 27px 0 0 0;
}

.font-regular {
	font: 14px 'Roboto-Regular';
	color: #000000;
}

.font-italic {
	font: 14px 'Roboto-LightItalic';
	color: #999998;
}

.con_estilos {
	margin: 25px 0 0 10px;
	border: 1px solid #000000;
	font-size: 14px;
	height: 22px;
	width: 185px;
}

.con_estilos_dos {
	margin: 10px 0 0 10px;
	border: 1px solid #000000;
	font-size: 14px;
	height: 20px;
	width: 185px;
}

.log-btn {
	background: #0AC986;
	dispaly: inline-block;
	width: 100px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: absolute;
	top: 760px;
	right: 93px;
	font: 14px 'Roboto-Regular';
}

#log-btn:hover {
	cursor: pointer;
}

.logEnviar-btn {
	background: #0AC986;
	display: inline;
	width: 100px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	font: 14px 'Roboto-Regular';
}

#logEnviar-btn:hover {
	cursor: pointer;
}



.logVolver-btn {
	background: #0AC986;
	dispaly: inline-block;
	width: 100px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font: 14px 'Roboto-Regular';	
	position: relative;   
}

#logVolver-btn:hover {
	cursor: pointer;
}

.espacioBotonRegr{
	position: relative;
	top:50px;
	
}

h3{
	color:white;
	font: 10px 'Roboto-Light';
}

#banner{
	background-color:#29C19A;
	color:white;
}

#geografiaContainer{
	margin-left: 5%;
	margin-right: 5%;
}

.primer-nivel {
	display: inline-block;
	margin-left: 1%;
	margin-top: 10%;
	width: 50%;
}

#generalContainer{
	margin-top: 10px;
	width: 30%;
	height: 61%;
	background-color: white;
	margin: 0 auto;
	min-height: 350px;
}


















