@font-face {
	font-family: 'Roboto-Regular';
	src: url('/franquicia/fonts/Calibri.ttf');
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('/franquicia/fonts/Calibri.ttf');
}
@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('/franquicia/fonts/Calibri.ttf');
}

.margenGeneral {
	margin: 0 auto;
	min-width: 750px;
	height: 40px;
	background: #ffffff;
}

.positionGeneral {
	float: right;
	height: 32px;
	width: 54%;
	min-width: 600px;
	position: relative;
	right: 7%;
	bottom: -9px;
	white-space: nowrap;
}

.opcionResumen {
	border-style: none;
	margin-left: 0px;
	height: 30px;
	width: 26.3%;
	display: inline-block;
	position: relative;
	border-left:1px solid #9e9f9e;
	border-top:1px solid #9e9f9e;
	border-right:1px solid #9e9f9e;
	border-radius: 30px 30px 0 0;
	cursor: pointer;
	text-align: center;
	font:18px 'Roboto-regular'; 
	z-index:0;
}

.opcionResumen:hover {
	background: #0AC986;
	color:white;
	z-index:1;
}
	
.opcionDiseñar {
	border-style: none;
	margin-left: -22px;
	height: 30px;
	width: 26.3%;
	display: inline-block;
	position: relative;
	border-left:1px solid #9e9f9e;
	border-top:1px solid #9e9f9e;
	border-right:1px solid #9e9f9e;
	border-radius: 30px 30px 0 0;
	cursor: pointer;
	text-align: center;
	font:18px 'Roboto-regular'; 
	z-index:0;
}

.opcionDiseñar:hover {
	background: #0AC986;
	color:white;
	z-index:1;
}

.opcionRecopilar {
	border-style: none;
	margin-left: -22px;
	height: 30px;
	width: 26.3%;
	display: inline-block;
	position: relative;
	border-left:1px solid #9e9f9e;
	border-top:1px solid #9e9f9e;
	border-right:1px solid #9e9f9e;
	border-radius: 30px 30px 0 0;
	cursor: pointer;
	text-align: center;
	font:18px 'Roboto-regular'; 
	z-index:0;	
}

.opcionRecopilar:hover {
	background: #0AC986;
	color:white;
	z-index:1;
}

.opcionVisualizar {
	border-style: none;
	margin-left: -22px;
	height: 30px;
	width: 26.3%;
	display: inline-block;
	position: relative;
	border-left:1px solid #9e9f9e;
	border-top:1px solid #9e9f9e;
	border-right:1px solid #9e9f9e;
	border-radius: 30px 30px 0 0;
	cursor: pointer;
	text-align: center;
	font:18px 'Roboto-regular'; 
	z-index:0;
}

.opcionVisualizar:hover {
	background: #0AC986;
	text-color:white;
	z-index:1;
}

.textCenterMenu{
	margin-top:3px;
	margin-left:15px;
	color:black;
	width:100%;
}
.textCenterMenu:hover{
	color:white;
}

.tamImagenMenuCheck{
	width: 22px;
	height: 22px;
	position:absolute;
	margin-left: -30px;
}
