@font-face {
	font-family: 'Roboto-Regular';
	src: url('/franquicia/fonts/Calibri.ttf');
}
.diseñoResumenTabla {
	font-family:Roboto-Regular;
	font-size: 13px;
	width: 97%;
	margin:1px 1% 1% 1%;
	border-spacing:0px;
	border-radius: 50px 50px 23px 23px;	
	box-shadow: 1px 1px 7px #000000;
}

@font-face {
	font-family: 'Calibri';
	src: url('/franquicia/fonts/Calibri.ttf');
}

.marco {
	width: 93%;
	height: 81%;
	margin-top: 1.3%;
	margin-left: 2%;
	background: white;
	position: absolute;
	margin-bottom: 2%;
	min-width: 1125px;
}

.margenResumenGeneral{
	width: 96%;
	height: 98%;
	margin: 30px 30px 30px 30px;
	background: white;
	box-shadow: 5px 5px 17px #000000;
}

.diseñoResumenTh {
	font-size: 14px;
	font-weight: normal;
	padding: 8px;
	color: white;
	background: #0AC986;
	border: 0.5px solid #666868;
}
.diseñoResumenThIzquierdo {
	font-size: 14px;
	font-weight: normal;
	padding: 8px;
	color: white;
	background: #0AC986;
	border-radius: 30px 0 0 0;	
	border: 0.5px solid #666868;
}
.diseñoResumenThDerecho {
	font-size: 14px;
	font-weight: normal;
	padding: 8px;
	color: white;
	background: #0AC986;
	border-radius: 0 30px 0 0;	
	border: 0.5px solid #666868;
}

.diseñoResumenTd {
	text-align:center;
}
	
.bordeIzquierdoResumen{
	border-top: 0.5px solid #666868;
}

.bordeCentroResumen{
	border-top: 0.5px solid #666868;
	border-left: 0.5px solid #666868;
}

.bordeDerechoResumen{
	border-top: 0.5px solid #666868;
	border-left: 0.5px solid #666868;
}
.textAliUno{
	text-align:left;
	font-weight: bold;
}

.margenTrResumenUno{
	text-align:center;
	width: 28%;
}
.margenTrResumenDos{
	text-align:center;
	width: 14%;
}
.margenTrResumenTres{
	text-align:center;
	width: 15%;
}
.margenTrResumenCuatro{
	text-align:center;
	width: 16%;
}
.margenTrResumenCinco{
	text-align:center;
	width: 27%;
}
.tamImagenResumen{
	width: 22px;
	height: 22px;
	padding: 1%;
	cursor: pointer;
	display: inline-block;
}
.tamImagenResumenPrimera{
	width: 30px;
	height: 22px;
	padding: 1%;
	cursor: pointer;
	display: inline-block;
	
}
.tamImagenResumenInterro{
	width: 15px;
	height: 22px;
	padding: 1%;
	cursor: pointer;
	display: inline-block;
	
}
.tamImagenResumenActivo{
	width: 40px;
	height: 22px;
	padding: 1%;
	cursor: pointer;
	display: inline-block;
	
}
.tamImagenResumenTabla{
	width: 22px;
	height: 22px;
	margin-left: -28px;

}
.textCenterResumenLetra{
	margin-top:0px;
	margin-left:15px;
	color:white;
	width:100%;
}
.espacio{
	width: 3%;
	height:22px;
	margin: 0;
	display: inline-block;
}



/*******tooltip******/


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    font-family:Roboto-Regular;
	font-size: 13px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}