@font-face {
	font-family: 'Roboto-Regular';
	src: url('/franquicia/fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('/franquicia/fonts/Roboto-LightItalic.ttf');
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url('/franquicia/fonts/Roboto-Thin.ttf');
}
@font-face {
	font-family: 'Century-Regular';
	src: url('/franquicia/fonts/Calibri.ttf');
}
@font-face {
	font-family: 'Century-Bold';
	src: url('/franquicia/fonts/CenturyGothicBold.ttf');
}


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.textBoxInput {
	/*estilo de linea punteada*/
	border-style: dashed;
	/*grosor del borde*/
	border-width: 1px;
	/*redondeo de esquinas*/
	border-radius: 10px 10px 10px 10px;
	/*color del borde*/
	border-color: #939393;
	/*dimensiones de altura y ancho*/
	height: 22px;
	width: 150px;
	/*margen entre componentes*/
	/*margin: 10px;*/
	margin: 23px 0 0 10px;
	background-color: #fff;
	font: 14px 'Calibri';
	font-style:italic;
	text-align:center;
}

.textBoxInput:hover {
	/*decoracion de la linea*/
	font: 14px Calibri;
	text-decoration: none;
	background: #fff;
	color:green;
}

.textBoxInput:focus {
	/*estilo de linea al seleccionar un elemento*/
	outline: none;
	/*estilo de la letra */
	font: 14px Calibri;
	font-weight: 700;
	background: #fff;
	/*color del borde*/
	border-color: #00CC00;

}

.textBoxInputB {
	border-style: dashed;
	border-width: 1px;
	border-radius: 10px 10px 10px 10px;
	border-color: #939393;
	height: 22px;
	width: 70%;
	margin: 21px 0 0 7px;
	background-color: #fff;
	font: 14px 'Calibri';
	font-style:italic;
	text-align:center;
}


.cajaVisvR {
	/*background: none repeat scroll 0 0 #E5F0D9;*/
	background: #fff;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	position : relative;
	border: 1px solid #000000;
	/*tipo de alineacion */
	display: inline-block;
	text-align: center;
	height: 22px;
	width: 100%;
	font: 14px Calibri;
	font-weight: 100;
}

.seleccionadoVisvR {
	color: black;
	display: block;
	text-indent: 3px;
	height: 22px;
	max-width: 80%;
	overflow: hidden;
}

ul.margenUlvR{
	white-space: nowrap;
	list-style: none;
	padding: 0px;
}

ul.listaselectVisvR {
	/*background: none repeat scroll 0 0 #fff;*/
	background: #fff;
	display: none;
	right: -10%;
	position: absolute;
	text-indent: 5px;
	top: 0;
	margin:19px 0 0 0;
	min-width: 110%;
	width: auto;
	font: 14px Calibri;
	z-index:10;
	text-align: left;
	padding: 0px;
}

ul.listaselectVisvR li {
	border-bottom: 1px solid #efefef;
	cursor: pointer;
	display: block;
	list-style: outside none none;
	border: 1px solid #dedede;
}

ul.listaselectVisvR li a {
	color: #333;
	text-decoration: none;
	margin:0 15px 0 10px;	
}

ul.listaselectVisvR li:hover {
	color: #999797;
	text-decoration: none;
	background: rgb(217, 240, 229);
}

ul.SelectProductos li:last-child {
	border-bottom: medium none;
}

.trianguloinfVisvR {
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	border-top: 13px solid #000000;
	height: 0;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 0;
}

.triangulosupVisvR {
	border-bottom: 13px solid #000000;
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	height: 0;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 0;
}
.tamanoLetraTituloCombos{
	font-size: 21px; 
	color:black; 
	font-family:Century-Bold;
}
.margen_combos{
	width: 14%; 
	margin-left:1%; 
	margin-right:1%;
}
.primer-nivelvR {
	text-align:center;
	float:right;
}

.segundo-nivelvR {
	text-align:center;
	float:right;
}

.tercer-nivelvR {
	text-align:center;
	float:right;
}

.cuarto-nivelvR {
	text-align:center;
	float:right;
	color:#d6d7d6;
}

.quinto-nivelvR {
	text-align:center;
	float:right;
}

.li-stilovR {
	font: 18px Calibri;
	color: black;
	display: inline-block;
}

.logRegresa-btn {
	background: #2cab6e;
	dispaly: inline-block;
	width: 100px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: absolute;
	font: 14px 'Calibri';
}

#logRegresa-btn:hover {
	cursor: pointer;
}

#idPadreVisita{
	height:25px; width:100%; background:#b3b4b2; color: white; text-align: center;  font-size:15px; padding-top: 10px;
	font-family: Calibri;
}
#idPadreVisita:hover{
	cursor: pointer;
	background:#2cab6e;
}
#idPadreOperando{
	height:25px; width:100%;  background:#b3b4b2; color: white; text-align: center;  font-size:15px; padding-top: 10px;
	font-family: Calibri;
}
#idPadreOperando:hover{
	cursor: pointer;
	background:#2cab6e;
}

#idPadreVisitaVacio{
	height:25px; width:100%; background:white; color: white; text-align: center;  font-size:15px; padding-top: 10px;
	font-family: Calibri;
}
#idPadreOperandoVacio{
	height:25px; width:100%;  background:white; color: white; text-align: center;  font-size:15px; padding-top: 10px;
	font-family: Calibri;
}

.idVistaNombre{
	color:black;
	font-family:Calibri ;
	font-size: 16px;
}

.idVistaNombre:hover{
	cursor: pointer;
}

.idOperandoNombreNoLink{
	color:black;
	font-family:Calibri ;
	font-size: 16px;
}
.idOperandoNombre:hover{
	cursor: pointer;
}

.logRegresa-btn2 {
	background: #2cab6e;
	dispaly: inline-block;
	width: 100px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: absolute;	
	font: 14px 'Calibri';
}

#logRegresa-btn2:hover {
	cursor: pointer;
}

.logRegresa-btn3 {
	background: #2cab6e;
	dispaly: inline-block;
	width: 120px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: absolute;
	font: 18px 'Calibri';
}

.logRegresa-btn4 {
	background: #2cab6e;
	dispaly: inline-block;
	width: 120px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	font: 18px 'Calibri';
	float:right;
}

.logRegresa-btn5 {
	background: #2cab6e;
	dispaly: inline-block;
	width: 120px;
	height: 30px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	font: 18px 'Calibri';
	float:right;
}
#logRegresa-btn5:hover {
	cursor: pointer;
}

.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #d7222a; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:right;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}



.circle-text-verde:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #198931; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text-verde div {
    float:right;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.circle-text-amarillo:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #ffe000; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text-amarillo div {
    float:right;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:black;
}

.circle-text-rojo:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #aa2b2e; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text-rojo div {
    float:right;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    position: relative;
}

.mensajeHoy{
	position:absolute;
	color:black;
	font-family:Calibri;
	font-size: 13px;
	font-weight:700;
	margin-top: -35px;
	margin-left: -47px;
}


.logBuscar-btn {
	background: #2cab6e;
	dispaly: inline-block;
	width: 200px;
	height: 33px;
	color: white;
	background-color: #42B47B;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: absolute;
	font-weight:800;
	font: 18px 'Calibri';
	margin-top: 50px;
	margin-left: 2%;
	padding-top: 4px;
}

#logBuscar-btn:hover {
	cursor: pointer;
}
.columnaSucuBTotalOculto{
	border: 1px solid #40795c; width: 10%; height: 40px; color:black; font: 14px Calibri; position: relative; display: none;
}
.columnaSucuBTotal{
	border: 1px solid #40795c; width: 10%; height: 40px; color:black; font: 14px Calibri; position: relative;
}
.columnaSucuBFinal{
	border: 1px solid #40795c; width: 100%; height: 40px; color:black; font: 14px Calibri; position: relative;
}
.columnaSucuB{
	border: 1px solid #40795c; width: 90%; height: 40px; color:black; font: 14px Calibri; position: relative; text-decoration: underline;
}
.columnaSucuG{
	border: 1px solid #40795c; width: 29.15%; height: 40px; color:white; font-family:Calibri;
}
.columnaDiaB{
	border: 1px solid #40795c; width: 4.5%; height: 40px; color:black; font-size: 22px; font-family:Calibri;
}
.columnaDiaBBorde{
	border-left: 7px solid black; border-right: 7px solid black; width: 4.5%; height: 40px; color:black; font-size: 22px; font-family:Calibri;
}
.columnaDiaV{
	border: 1px solid #40795c; width: 4.5%; height: 40px; color:green; font-size: 20px; font-weight: 900; font-family:Calibri;
}
.columnaDiaVBorde{
	border-left: 7px solid black; border-right: 7px solid black; width: 4.5%; height: 40px; color:green; font-size: 20px; font-weight: 900; font-family:Calibri;
}
.columnaTotalSuc{
	border: 1px solid #40795c; width: 7.85%; height: 40px; background: white; font-size:20px; font-family:Calibri;
}
.columnaTotalSucRed{
	border: 1px solid #40795c; width: 7.85%; height: 40px; background: white; font-size:20px; font-family:Calibri; color:red;
}

.columnaDiaVGrande{
	border: 1px solid #40795c; width: 63%; height: 40px; color:green; font-size: 20px; font-weight: 900; font-family:Calibri; 
}


.tableUno{
	border: 1px solid #40795c; height:68px; width:14.28%; color:white; font-family:Calibri; position: relative;
}
.tableDos{
	border: 1px solid #40795c; height:57px; color:black; font: 30px 'Calibri'; position: relative;
}
.tableTres{
	right: 0px; position: absolute; top: 0px; width: 30px; font: 12px 'Calibri'; height: 15px; border-bottom: 1px solid #40795c; border-left: 1px solid #40795c; background:#6c6f6d; color:white;
}

.fuenteNegra{
	font: 20px 'Calibri'; color:darkgreen;
}
.fuenteNegraMargen{
	width: 100%;
	height: 50%;	
}
.fuenteNegraMargen:hover{
	cursor: pointer;
}
.fuenteVerdeConLink{
	font: 35px 'Calibri'; color:black;
}
.fuenteVerdeConLinkMargen{
	width: 100%;
	height: 80%;	
}
.fuenteVerdeConLinkMargen:hover{
	cursor: pointer;
}

.columnaSucuB:hover{
	cursor: pointer;
}

#idInfoPiePagina1,#idInfoPiePagina2:hover {
	cursor: pointer;
}

#idInfoPorcentaje,#idInfoPorcentaje2:hover  {
	cursor: pointer;
}

.TituloGeneral{
	width:100%; background:#285a43;
}

.TituloGeneral:hover{
	cursor: pointer;
}

.cuadrado-1 {
    position:relative;
    margin-left: 5%; 
    margin-right: 5%;
    height:0px;
    width:90%;
}

.cuadrado-20 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:0px; 
    height: 525px;
   	margin-left: 66.34%;
   	margin-top:40px;
   	z-index: 1;
}
.cuadrado-21 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:0px; 
    height: 525px;
   	margin-left: 83.3%;
   	margin-top:40px;
   	z-index: 1;
}
.cuadrado-22 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:16.95%; 
    height: 0px;
   	margin-left: 66.34%;
   	margin-top:40px;
   	z-index: 1;
}
.cuadrado-23 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:16.95%; 
    height: 0px;
   	margin-left: 66.34%;
   	margin-top:565px;
   	z-index: 1;
}
.cuadrado-3 {
    position:relative;
    margin-left: 5%; 
    margin-right: 5%;
    height:0px;
    width:90%;
}

.cuadrado-40 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:0px; 
    height: 510px;
   	margin-left: 87%;
   	margin-top:40px;
   	z-index: 1;
}
.cuadrado-41 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:0px; 
    height: 510px;
   	margin-left: 91.9%;
   	margin-top:40px;
   	z-index: 1;
}
.cuadrado-42 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:4.9%; 
    height: 0px;
   	margin-left: 87%;
   	margin-top:40px;
   	z-index: 1;
}
.cuadrado-43 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:4.9%; 
    height:0px;
   	margin-left: 87%;
   	margin-top:550px;
   	z-index: 1;
}
.cuadrado-5 {
    position:relative;
    margin-left: 5%; 
    height:1px;
    width:95.5%;
}

.cuadrado-60 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:0px; 
    height: 633px;
   	margin-left: 58.15%;
   	margin-top:45px;
   	z-index: 1;
}
.cuadrado-61 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:0px; 
    height: 633px;
   	margin-left: 69.35%;
   	margin-top:45px;
   	z-index: 1;
}
.cuadrado-62 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:11.2%; 
    height:0px;
   	margin-left: 58.15%;
   	margin-top:45px;
   	z-index: 1;
}
.cuadrado-63 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:11.2%; 
    height: 0px;
   	margin-left: 58.15%;
   	margin-top:678px;
   	z-index: 1;
}

.cuadrado-7 {
    position:relative;
    margin-left: 5%; 
    height:0px;
    width:93.7%;
}

.cuadrado-80 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:0px; 
    height: 535px;
   	margin-left: 75.2%;
   	margin-top:97px;
   	z-index: 0;
}
.cuadrado-81 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:0px; 
    height: 535px;
   	margin-left: 101%;
   	margin-top:97px;
   	z-index: 0;
}
.cuadrado-82 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:25.7%; 
    height: 0px;
   	margin-left: 75.2%;
   	margin-top:97px;
   	z-index: 0;
}
.cuadrado-83 {
	display:inline-block;
    border: 3.5px solid black;
    position:absolute;
    width:25.7%; 
    height: 0px;
   	margin-left: 75.2%;
   	margin-top:632px;
   	z-index: 0;
}
.cuadradoEspacio {
    position:relative;
    margin-left: 121px;
    height:0px;
    width:83.5%;
    margin-right: 5%;
}

.icono-problema{
	position:relative;
    margin-left: 37%;
    height:0px;
    width: 60px;
}
.icono-problema2{
	position:relative;
    height:0px;
    width: 100%;
}
.imagen-iconoProblemas{
	position: absolute; 
	margin-top:32px; 
	margin-left:13px;
}
.imagen-iconoProblemasVistaCeco{
	position: absolute; 
	right: -14%;
	bottom: 4%;
}
.imagen-iconoProblemasVistaDias{
	position: absolute; 
	top:-37px; 
	right:-0px;
}

.idPorc0{
	position: absolute;	
	margin-left: -20px;
	margin-top: 2px;
	font:14px Calibri red;
}
#idPorc1{
	position: absolute;	
	margin-left: 2%;
	margin-top: -15px;
	font: 14px Calibri;
	color: black;
}
.idPorc100{
	position: absolute;	
	margin-left: 98.5%;
	margin-top: 2px;
	font:14px Calibri red;
}
.idDia0{
	position: absolute;	
	margin-left: -18px;
	margin-top: -14px;
	font:14px Calibri ;
}

#idDia1-2{
	position: absolute;	
	margin-left: 2%;
	margin-top: 2px;
	font: 14px Calibri;
	color: black;
}

#idDia1{
	position: absolute;	
	margin-left: 99%;
	margin-top: -14px;
	font:14px Calibri red;
}

/* NUEVO ESTILO PARA DETALLE */

.deGeneralDeralle{
	background: white; margin: 24px 24px 24px 24px; min-width: 700px; min-height:950px; height: 95%; position: relative;
}
.deMargen1{
	width:100%; height:90px; 
}
.deMargen2{
	background: white;  margin: 0 50px 0px 50px; min-width: 700px; min-height:800px; height: 84%; border-radius: 20px; border:3px solid #000000;
}
.deIm1-1{
	float: right; margin-top: 4px; margin-right: 15px;
}
.deDetalleGeneral1{
	width:100%; height:50%;  position: relative;
}
.deDetalleGeneral2{
	width:100%; height:50%; position: relative;
}
.deMarco2-2{
	width:90%; height:90%; background: #d2d2d5; position: absolute; margin-top:15px; margin-left:5%; margin-right:5%; border-radius: 20px;
}
.deMarco2-2-1{
	width:100%; height:40%;  position: relative;
}
.deMarco2-2-2{
	width:100%; height:60%; position: relative;
}
.deMarcoDetalle-21{
	width:100%; height:30%; position: relative;
}
.deMarcoDetalle-22{
	width:100%; height:60%; position: relative;
}
.deMarcoDetalle-23{
	width:100%; height:10%; 
}	
.deMarcoDetalle-21-1{
	width:43%; height:100%; display: inline-block; position: relative;
}
.deMarcoDetalle-21-2{
	width:13%; height:100%; display: inline-block; position: relative;
}
.deMarcoDetalle-21-3{
	 width: 39%; height:100%; display: inline-block; position: relative; margin-right: 0.5%; float: right; margin-top: -30px;
}
.afontdeMarcoDetalle-21-2{
	background:white;
	text-align: center;
	width: 100%;
	height:100%;
	font:3.5ex Calibri;
}
.afontdeMarcoDetalle-21-222{
	text-align: center;
	width: 100%;
	height:100%;
	font:3.5ex Calibri;
}
.afontdeMarcoDetalle-21-3{
	text-align: left;
	width: 100%;
	height:50%;
	font:3ex Calibri;
}
.afontdeMarcoDetalle-21-2Cuadrado{
	width:100%;
}

.tipoFuenteUno{
	font-weight: bold;
	font-size: 24px;	
}
.tipoFuenteDos{
	font-weight: lighter;
	text-align: left;
}
#tipoFuenteUnoPregunta{
	font-weight: bold;
	font-size: 24px;	
}
.tipoFuenteUnoFolio{
	font-weight: bold;
	width: 67px;
	font-size: 25px;
}
#tipoFuenteDosFolio{
	font-weight: 100;
	text-align: left;
	font-size: 20px;
}
.tipoFuenteUnoAccion{
	font-weight: bold;
	width: 90px;
	font-size: 25px;
}
#tipoFuenteDosAccion{
	font-weight: 100;
	text-align: justify;
	font-size: 20px;
	line-height: 20px;
}
.tipoFuenteUnoFecha{
	font-weight: bold;
	width: 215px;
	font-size: 25px;
}
#tipoFuenteDosFecha{
	font-weight: 100;
	text-align: left;
	font-size: 23px;
}
#tipoFuenteUnoCuadro{
	font-weight: bold;
	font-size:30px;
	color:#ad3039;
}
.marcoUnoCuadrado{
	border:2px solid black;
	background: #e7e6e8;
	width:70px;
	height:60px;
}
.marcoTdCuadrado{
	valign:middle; 
	width:80%; 
	height:70px;
}
.margenCarruselUno{
	width: 20%;
	height:100%;
	position:relative;
	display: inline-block;
	float: left;
}
.margenCarruselDos{
	width: 16%;
	height:100%;
	position:relative;
	display: inline-block;
}
.margenCarruselTres{
	width: 43%;
	height:100%;
	position:relative;
	display: inline-block;
}
.margenCarruselCuatro{
	width: 20%;
	height:100%;
	position:relative;
	display: inline-block;
	float: right;
}

.afontdeMarcoDetalle-Evidencia{
	text-align: right;
	width: 100%;
	height:100%;
	font:3.5ex Calibri;
}
.tipoFuenteUnoEvidencia{
	font-weight: bold;
	font-size: 30px;	
}

#margenImagen{
	width: 100%;
	max-width: 500px;
	height:80%;
	margin: 0 auto;
	background: black;
	position: relative;
}
.tamaImagen{
	width:100%;
	height:100%;
	position: absolute;
}
.tamaImagen:hover{
	cursor: pointer;
}
.tamaImagenNoRequerida{
	width:100%;
	height:100%;
	position: absolute;
}
.margenNumeros{
	width: 100%;
	height:20%;
	position:absolute;
}

.imagAnterior{
	height: 40px;
	width: 30px;
	margin-left: 30px;
	margin-top: -55px;
	position: absolute;
}
.imagAnterior:hover{
	cursor: pointer;
}
.imagPosterior{
	height: 40px;
	width: 30px;
	margin-right: 30px;
	float: right;
	margin-top: -55px;
}
.imagPosterior{
	cursor: pointer;
}
.margenCarruselUno-1{
	width: 100%;
	height: 30%;
	position: relative;
}
.margenCarruselUno-2{
	width: 100%;
	height: 70%;
	position: relative;
}

.celdaNumeros{
	width: 100%;
	height: 100%;
	text-align: center;
}
.tresPuntos{
	font-size: 30px;
	margin-left: 1%;
	color: black;
}
.circulo_Black {
	position:relative;
	background: black;
	 border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: white;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-left: 1.6%;
	margin-top: 2%;
	text-align: center;
	width: 1.6em; 
}
.circulo_Black:hover{
	cursor: pointer;
}
.circulo_BlackFinal {
	position:relative;
	background: black;
	 border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: white;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-left: 1%;
	margin-top: 2%;
	text-align: center;
	width: 1.6em; 
}
.circulo_BlackFinal:hover{
	cursor: pointer;
}
.fuenteRegVis{
	font-family:Calibri; 
	font-weight:100;
	color:black;
}
.fuenteRegVis:hover{
	cursor: pointer;
}


/*::::::::::::::::::::::CSS ALEX::::::::::::::::::::::*/
/*CSS ACORDEON*/
#accordion {
list-style: none;
margin: 30px 0;
padding: 0;
height: 80%;
overflow: hidden;
min-width: 680px;
}
 
#accordion li {
float: left;
margin-left:0.4%;
border-radius: 20px;
height: 170px;
width: 30px;
padding: 60px 0;
overflow: hidden;
color: #fff;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
border-left: 1px solid #fff;
}

#accordion li.active {
width: 85%;
}

.tablaDatosGenerales{
	text-align: center;
	margin: 0 auto;
	width: 50%;
	height: 90%;
}

/*Para Container*/
.paraContainer{
	margin: 0 auto;
	color: white;
	width: 20%;
	background-color: #26ab61;
}

/*Sucursal Container*/
#sucursalContainer{
	margin: 0 auto;
	margin-top: -3px;
	margin-bottom: 2px;
	color: white;
	width: 100%;
	border-radius: 10px;
	background-color: #1c562e;
}

.folios , .folios:hover  {
	width: 100%;
	height: 100%;
	background-color:#9b1f2c;
}

.evidencias , .evidencias:hover {
	background-color: #626567;
}

.fechaHora, .fechaHora:hover {
	background-color: #26ab61;
}

.alertas, .alertas:hover{
	background-color: #1c562e;
}

.infoWrapper{
	margin-top: -60px;
	background-color:transparent;
	width: 100%;
	height: 170%;
}

.tituloContainer{
	background-color:transparent;
	border-radius: 20px;
	border: 0.5px solid black;
	float: left;
	width: 30px;
	height: 100%;
	-webkit-box-shadow: 6px -2px 34px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px -2px 34px 0px rgba(0,0,0,0.75);
	box-shadow: 6px -2px 34px 0px rgba(0,0,0,0.75);
	
}
.tituloContainer:hover{
	cursor: pointer;
}

.tituloTextFolios{
	margin-left: -3px;
	margin-top: 137px;
	transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
	font-size: 25px;
	font-weight: lighter;
}
.tituloTextEvidencias{
	margin-left: -3px;
	margin-top: 162px;
	transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
	font-size: 25px;
	font-weight: lighter;
}
.tituloTextFecha{
	margin-left: -3px;
	margin-top: 178px;
	transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
	font-size: 25px;
	font-weight: lighter;
}

/*DIV PESTAÑAS*/
.contenidoGeneralFolios{
	background-color:#9b1f2c;
	float: left;
	width: 94%;
	height: 100%;
}

.contenidoGeneralEvidencias{
	background-color: #626567;
	float: left;
	width: 94%;
	height: 100%;
}

.contenidoGeneralFechaHora{
	background-color: #28b673;
	float: left;
	width: 94%;
	height: 100%;
}

.contenidoGeneralAlertas{
	background-color: #1c562e;
	float: left;
	width: 94%;
	height: 100%;
}

.resumen{
	margin: 0 auto;
	background-color: white;
	color:black;
	width: 20%;
}

/*ESTILO TABLAS DETALLES*/
#tablaFechaHora{
	margin: 0 auto;
	background-color: transparent;
	width: 80%;
	height: 80%;
	font-size: 21px;
	text-align: left;
}

#tablaAlertas{
	margin: 0 auto;
	background-color: transparent;
	width: 80%;
	height: 80%;
	font-size: 17px;
}

#tablaEvidenciasTitulo,#tablaFoliosTitulo{
	margin: 0 auto;
	background-color: transparent;
	width: 100%;
	height: 17%;
	font-size: 17px;
}

#tablaEvidenciasContenido,#tablaFolioContenido{
	background-color: transparent;
	width: 100%;
	height: 100%;
	font-size: 17px;
}
.tamLetraEvi{
	font-size: 22px;
}
.anchoTotalEvidenciaIzqTitulo{
	width: 75%;
	font-family:Calibri;
	font-size: 22px;
	color:white;
}
.anchoTotalEvidenciaDerTitulo{
	width: 25%;
	font-family:Calibri;
	font-size: 20px;
	color:white;
}
.anchoTotalEvidenciaIzq{
	width: 77%;
	font-family:Calibri;
	font-size: 14px;
	color:white;
}
.anchoTotalEvidenciaDer{
	width: 23%;
	font-family:Calibri;
	font-size: 14px;
	color:white;
}
.anchoTotalFolio{
	width: 100%;
}
.anchoTotalFolioIzqTitulo{
	width: 75%;
	font-family:Calibri;
	font-size: 22px;
	color:white;
}
.anchoTotalFolioDerTitulo{
	width: 25%;
	font-family:Calibri;
	font-size: 22px;
	color:white;
}
.anchoTotalFolioIzq{
	width: 77%;
	font-family:Calibri;
	font-size: 14px;
	color:white;
}
.anchoTotalFolioDer{
	width: 23%;
	font-family:Calibri;
	font-size: 14px;
	color:white;
}
.fuenteLinkFolio{
	font-family:Calibri;
	font-size: 16px;
	color:black;
}
.fuenteLinkFolio:hover{
	cursor: pointer;
}
.margenEvidenciaContenido, .margenFolioContenido{
	width: 100%;
	height: 83%;
	overflow-y:scroll;
}
.margenTituloFecha{
	width: 50%;
}
.tdExterno{
	padding-top: 10%;
	margin-left: 10%;
	padding-bottom: 10%;
}
.fuentePreguntaFolio{
	color: white;
	font-family: Calibri;
	font-size: 14px;
	height: 30px;
	line-height:14px;
	text-align: center;
	margin-left: 15px;
	margin-right: 10px;
}
.fuentePreguntaEvidencia{
	color: white;
	font-family: Calibri;
	font-size: 14px;
	height: 40px;
	line-height:14px;
	text-align: center;
	margin-left: 15px;
}
.renglonEvidencia{
	color: white;
	font-family: Calibri;
	font-size: 14px;
	height: 40px;
	line-height:14px;
	text-align: center;
}
.imagenPreviewEvidencia{
	width: 60px;
	height: 36px;
}
.imagenPreviewEvidencia:hover{
	cursor: pointer;
}
.tbInterna{
		margin: 0 auto;
}

.contentScroll{
	height: 92%;
	width: 98%;
	margin-left: 1%;
}
/*::::::::::::::::::::::FIN CSS ALEX::::::::::::::::::::::*/




/*CREA EL POPUP VENTANA EMERGENTE*/
#ventanaEmergente {
   visibility:hidden;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   -webkit-transition:all 1s;
   -moz-transition:all 1s;
   transition:all 1s;
}
 
.ventanaEmergente-contenedor {
   position: relative;
   margin:10% auto;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
   height: 50%;
}
.ventanaEmergente-cerrar {
   position: absolute;
   top:3%;
   right:2.5%;
   background-color: #285a43;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
.tamaImagenEmergente{
	width:95%;
	height:94%;
	margin:2.5% 2.5% 2.5% 2.5%;
	position: relative;
}