@import url("font.css");

body {
	padding: 0;
	margin: 0;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}
/************slider***************/
.mainbanner {
	width: 50%;
	margin: auto;
	margin-top: 16px;
}

.item img {
	width: 100%;
}
/************Header***************/
.header {
	width: 100%;
	height: 70px;
	background-image: url(../../images/v2/header.png);
	background-size: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.header .contenedor p {
	text-transform: uppercase;
	text-align: right;
	font-size: 12px;
	color: #fff;
	font-family: 'Roboto-Regular';
}

td.col-logo {
	width: 70%;
}

td.col-logo img {
	margin-left: 11px;
}

td.col-titulo-header {
	width: 30%;
}

td.col-titulo-header p {
	font-family: 'Roboto-Light' !important;
}

td.col-img-power img {
	width: 25px;
	height: 25px;
	padding-left: 20px;
	padding-right: 20px;
}
/*********************************/

/************Menu Principal************/
.menu-principal {
	width: 100%;
	height: 24px;
	background-color: #fff;
	border-bottom: solid 1px #e5e4e4;
	margin-top: -17px;
	box-shadow: inset 0px 11px 8px -8px #adadad, inset 0px -11px 8px -15px
		#adadad;
}

.menu-principal .contenedor nav ul {
	list-style: none;
	margin-left: -40px;
}

.menu-principal .contenedor nav ul li {
	float: left;
	text-align: center;
	cursor: pointer;
}

.menu-principal .contenedor nav ul li a {
	width: 174px;
	height: 24px;
	background-color: #fff;
	color: #9e9e9e;
	font-size: 14px;
	text-decoration: none;
	display: block;
	border-top: transparent;
	border-right: solid 1px #f2f2f2;
	font-family: 'Roboto-Light';
	box-shadow: inset 0px 11px 8px -8px #adadad, inset 0px -11px 8px -15px
		#adadad;
}

.menu-principal .contenedor nav ul li ul li {
	margin-left: -40px;
}

.menu-principal .contenedor nav ul li ul li a:hover {
	background-color: #29c19a;
	color: #ffffff;
}

.menu-principal .contenedor nav ul li ul li a:hover span.cuadro {
	background-color: #ffffff;
}

@
-moz-document url-prefix () {img #interrogante {margin-top:-10px;
	
}

}
.menu-principal .contenedor nav ul li ul {
	display: none;
	position: absolute;
	min-width: 140px;
	margin-left: -40px;
	z-index: 100;
}

.menu-principal .contenedor nav ul li ul li a {
	margin-left: 40px;
	text-align: left;
	font-size: 14px;
	line-height: 40px;
	height: 34px;
	float: left;
	color: #9e9e9e;
	width: 230px;
	border-radius: 0px 0px 0px 0px;
	border-bottom: 1px solid #f2f2f2;
	font-family: 'Roboto-Light';
	box-shadow: inset 0px 0px 0px 0px rgba(173, 173, 173, 0), inset 0px 0px
		0px 0px rgba(173, 173, 173, 0);
}

.menu-principal .contenedor nav ul li:hover>ul {
	display: block;
}

.menu-principal .contenedor nav ul li:hover {
	background-color: #29c19a;
}

.menu-principal .contenedor nav li ul li {
	position: relative;
	float: none;
}

.menu-principal .contenedor nav li ul li ul {
	right: -140px;
	top: 0px;
}

img#copa {
	width: 21px;
	height: 21px;
	margin-top: 4px;
	padding-right: 4px;
	margin-left: -36px;
	border: none !important;
}

img#reloj {
	width: 21px;
	height: 21px;
	margin-top: 3px;
	margin-left: -20px;
	padding-right: 5px;
	border: none !important;
}

img#interrogante {
	width: 21px;
	height: 21px;
	margin-top: 3px;
	margin-left: -46px !important;
	border: none !important;
	padding-right: 4px;
}

span.cuadro {
	width: 6px;
	height: 6px;
	display: block;
	float: left;
	background-color: #29c19a;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 16px !important;
}

span#triunfo {
	display: block;
	font-size: 14px;
	margin-top: -24px;
	margin-left: 26px;
	color: #9e9e9e;
	font-family: 'Roboto-Light';
}

span#siete {
	font-size: 14px;
	position: absolute;
	color: #9e9e9e;
	font-family: 'Roboto-Light';
	margin-top: 5px;
	margin-left: -2px;
}

span#ayuda {
	font-size: 14px;
	position: absolute;
	color: #9e9e9e;
	font-family: 'Roboto-Light';
	margin-top: 5px;
	margin-left: -2px;
}

/************Taps*********************/
.etabs {
	margin: 0;
	padding: 0;
}

.tab {
	width: 151px;
	height: 37px;
	display: inline-block;
	border-radius: 10px 10px 0px 0px;
	*display: inline;
	*zoom: 1;
	background-color: #FFFFFF;
	text-align: center;
	margin: 2px;
	border: solid 1px #e5e4e4;
	margin-right: -8px;
	font-family: 'Roboto-Medium';
	-webkit-transition: width 0.2s ease-in-out;
	-ms-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
}

ul.etabs {
	width: 610px;
	margin: 0 auto;
	margin-top: -18px;
}

ul .tab.active {
	background-color: #29c19a;
}

ul .tab .active a img#blanco {
	display: block !important;
}

.tab-con {
	width: 90%;
	margin: 0 auto; /*overflow:hidden;*/
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.12);
	-moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.12);
	box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.12);
	background-color: #fff;
	margin-top: 15px;
}

ul.etabs li a {
	width: 100%;
	display: inline-block;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
	color: #29c19a;
	margin-left: 10px;
	font-family: 'Roboto-Regular';
	-webkit-transition: all 0.2s ease-in-out;
}

.tab a {
	line-height: 2em;
	color: #666666;
	font-size: 14px;
}

.tab a.active {
	color: #FFFFFF;
}

/*imagenes*/
img#diseniar-verde {
	width: 26px;
}

.tab a.active img#resumen-hover {
	display: block !important;
	margin: 12px 20px 0px;
	position: absolute;
	border: none !important;
}

.tab a.active img#diseniar-hover {
	display: block !important;
	margin: 10px 23px 0px;
	position: absolute;
	border: none !important;
}

.tab a.active img#recopilar-hover {
	display: block !important;
	margin: 12px 20px 0px;
	position: absolute;
	border: none !important;
}

.tab a.active img#visualizar-hover {
	display: block !important;
	margin: 12px 20px 0px;
	position: absolute;
	border: none !important;
}

img#resumen-verde {
	display: block !important;
	margin: 12px 20px 0px;
	position: absolute;
	border: none;
	border: none !important;
}

img#diseniar-verde {
	display: block !important;
	margin: 6px 24px 0px;
	position: absolute;
	border: none !important;
}

img#visualizar-verde {
	display: block !important;
	margin: 12px 20px 0px;
	position: absolute;
	border: none !important;
}

img#recopilar-verde {
	display: block !important;
	margin: 12px 20px 0px;
	position: absolute;
	border: none !important;
}

/******************Tabla Resumen************/
.titulo {
	width: 100%;
	height: 36px;
	background-color: #29c19a;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	line-height: 36px;
	font-family: "Roboto-Regular";
}

.tblGeneral {
	width: 90%;
	margin: auto;
	border: inset 0pt;
	border-collapse: collapse;
	border: none;
	font-size: 12px;
	font-family: "Roboto-Regular";
	text-align: center;
}

#tblTitResumen tr td {
	width: 20%;
	color: #ffffff;
	font-family: "Roboto-Regular";
	font-size: 14px;
}

table#tblResumen tr td img {
	width: 24px;
	height: 24px;
	margin-top: 4px;
	border: none !important;
}

#tblTitResumen tr td:nth-child(1) {
	text-align: left;
}

#tblResumen tr td {
	width: 20%;
	height: 31px;
}

#tblResumen tr td:nth-child(1) {
	text-align: left;
	font-family: "Roboto-Regular";
	font-size: 12px;
	color: #666666
}

#tblResumen tr td:nth-child(2) {
	color: #aeaeae;
}

#tblResumen tr td:nth-child(3) {
	color: #aeaeae;
}

#tblResumen tr td:nth-child(4) {
	color: #aeaeae;
}

.border {
	border-bottom: 1px solid #e5e4e4;
}

.tb-light {
	font-family: 'Roboto-Light';
}
/*****************************************/

/**************Tabla Diseñar***********************/
table#tbldDiseno {
	text-align: left;
}

input#bnt-interrogane {
	width: 27px;
	height: 37px;
	height: 37px\9;
	top: 10px;
	top: 0px\9;
	position: relative;
	border: none;
	background-color: #fff;
	background-image: url(../../images/v2/ico-interrogante.png);
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #cccccc;
	outline: none;
}

@
-moz-document url-prefix () {input #bnt-interrogane {top:-1px;
	height: 37px;
	color: #cccccc;
}

}
#bnt-calendario-inicio {
	width: 27px;
	height: 37px;
	top: 10px;
	top: 0px\9;
	position: relative;
	border: none;
	background-color: #fff;
	background-image: url(../../images/v2/ico-calendario.png);
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #cccccc;
	outline: none;
}

@
-moz-document url-prefix () { #
	bnt-calendario-inicio {top: 0px;
}

}
#fecha-inicio {
	width: 83%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #cccccc\9;
	color: #cccccc;
	font-size: 12px;
	font-family: "Roboto-Light";
}

.fecha-inicio {
	width: 83%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #cccccc\9;
	color: #cccccc;
	font-size: 12px;
	font-family: "Roboto-Light";
}
/**************inputs***********************/
input#fecha-fin {
	width: 83%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #aeaeae;
	font-size: 12px;
	font-family: "Roboto-Light";
}

.fecha-fin {
	width: 83%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #aeaeae;
	font-size: 12px;
	font-family: "Roboto-Light";
}

#fecha-inicio-reporte {
	width: 83%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #aeaeae;
	font-size: 12px;
}

#fecha-fin-reporte {
	width: 83%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #aeaeae;
}

#fecha-visualizar {
	width: 83%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #cccccc\9;
	color: #cccccc;
}

@
-moz-document url-prefix () { #
	fecha-visualizar {margin-top: 10px;
}

}
input#txt-titulo {
	width: 91.6%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #cccccc\9;
	font-size: 12px;
	font-family: "Roboto-Light";
}

.txt-titulo {
	width: 91.6%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #cccccc\9;
	font-size: 12px;
	font-family: "Roboto-Light";
}

::-webkit-input-placeholder {
	font-size: 12px;
	padding-left: 6px !important;
	line-height: 36px;
	color: #aeaeae;
	font-family: "Roboto-Light";
}

::-moz-placeholder {
	font-size: 12px;
	padding-left: 10px;
	line-height: 30px;
	color: #aeaeae;
	font-family: "Roboto-Light";
}

::-ms-input-placeholder {
	font-size: 12px;
	padding-left: 2px;
	line-height: 40px;
	color: #aeaeae;
	font-family: "Roboto-Light";
}

::-o-placeholder {
	font-size: 12px;
	padding-left: 2px;
	line-height: 40px;
	color: #aeaeae;
	font-family: "Roboto-Light";
}

/****************Calendario*************************/
#ui-datepicker-div {
	background-color: #fff;
	padding: 20px;
	text-align: center;
	-webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.34);
	-moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.34);
	box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.34);
	behavior: url(PIE.htc);
	position: relative;
	z-index: 999 !important;
	display: none;
	font-size: 12px;
	font-family: "Roboto-Regular";
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	width: 16px;
	height: 16px;
	background: #29c19a;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: 8px;
	text-align: center;
	text-decoration: none;
}

.ui-datepicker-calendar th a, .ui-datepicker-calendar td a {
	color: black;
	margin: 0 auto;
	position: relative;
	zoom: 1;
	color: #adaead;
}

.ui-datepicker-title {
	width: 100%;
	height: 33px;
	background-color: #29c19a;
	color: #fff;
	line-height: 30px;
}

#btn-continuar-1 {
	width: 121px;
	height: 35px;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	display: block;
	-webkit-border-radius: 6px 6px 6px;
	-ms-border-radius: 6px 6px 6px;
	border-radius: 6px 6px 6px;
	border: none;
	text-decoration: none;
	background-color: #ffffff;
	color: #29c19a;
	cursor: pointer;
	margin-top: 36px !important;
	margin-bottom: 27px !important;
	margin: 0 auto;
	font-family: "Roboto-Regular";
	border: solid 1px #29c19a;
	outline: none;
}

#btn-continuar-1:hover {
	background-color: #29c19a;
	color: #ffffff;
}

.btn-continuar-1 {
	width: 121px;
	height: 35px;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	display: block;
	-webkit-border-radius: 6px 6px 6px;
	-ms-border-radius: 6px 6px 6px;
	border-radius: 6px 6px 6px;
	border: none;
	text-decoration: none;
	background-color: #ffffff;
	color: #29c19a;
	cursor: pointer;
	margin-top: 36px !important;
	margin-bottom: 27px !important;
	margin: 0 auto;
	font-family: "Roboto-Regular";
	border: solid 1px #29c19a;
	outline: none;
}

.btn-continuar-1:hover {
	background-color: #29c19a;
	color: #ffffff;
}

img.img-hoja-lapiz {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 30px;
	border: none !important;
	width: 26px;
	height: 26px;
}

img.img-bote-basura {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 30px;
	border: none !important;
	width: 28px;
	height: 28px;
}

img.img-bote-basura {
	border: none !important;
}

form#for-text-titulo {
	margin-top: 16px;
}

div#dk0-selec-uno {
	margin-top: 26px;
}

div#dk1-selec-dos {
	margin-top: -6px;
}

/********************Preguntas Cuestionario******************************/
p#titulo-preguntas {
	text-align: center;
	color: #29c19a;
	font-size: 18px;
	margin-top: 24px;
	font-family: "Roboto-Regular";
}

table#tblDiseno-dos {
	text-align: left;
	font-size: 11px;
	color: #aeaeae;
}

.numero-pregunta {
	width: 40px;
	height: 40px;
	border: solid 1px #29c19a;
	border-radius: 50px 50px 50px 50px;
	font-size: 22px;
	line-height: 40px;
	color: #29c19a;
	text-align: center;
	margin: 0 auto;
	margin-right: 10px;
}

/********************Numero preguntas******************************/
div#n-generar {
	margin-top: -46px;
}

div#n-visualizar-1 {
	margin-top: -56px;
}

div#n-visualizar-2 {
	margin-top: -46px;
}

div#n-visualizar-3 {
	margin-top: -46px;
}

div#n-disenio-1 {
	margin-top: -50px;
}

div#n-disenio-2 {
	margin-top: -20px;
}

::-webkit-.caja -placeholder2 {
	font-size: 12px;
	padding-left: 6px !important;
	line-height: 36px;
	color: red;
	font-family: "Roboto-Light";
}

/*-----Porcentajes de la tabla-------*/
.p-40-porciento {
	width: 38% !important;
}

.p-10-porciento {
	width: 10% !important;
}

.p-20-porciento {
	width: 20% !important;
}

.caja {
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
	border-bottom: 1px solid #cccccc;
	height: 33px;
	width: 98%;
	color: #aeaeae;
	font-size: 12px;
	overflow: hidden;
	outline: none;
	behavior: url(PIE.htc);
	color: #cccccc\9;
	font-size: 12px;
	font-family: "Roboto-Light";
}

.select-form-uno {
	margin-top: -24px;
}

p.txt-respuesta {
	margin-left: 10px;
	margin-right: 40px;
	margin-top: -24px;
	position: relative;
	font-size: 12px;
	color: #666666;
	font-family: "Roboto-Light";
}

.switch {
	width: 40px;
	height: 22px;
	display: inline-block;
	float: right;
	background: #e5e5e5;
	z-index: 0;
	margin: 0;
	padding: 0;
	appearance: none;
	border: none;
	cursor: pointer;
	position: relative;
	border-radius: 16px;
	-ms-border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border: 1px solid #e5e5e5;
	margin-top: -30px !important;
	margin-right: 10px !important;
}

.switch:before {
	content: '';
	position: absolute;
	left: 1px;
	top: 1px;
	width: 40px;
	height: 20px;
	background: #fff;
	z-index: 1;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-ms-border-radius: 16px;
}

.switch:after {
	content: '';
	height: 19px;
	width: 19px;
	border-radius: 28px;
	background: #fff;
	position: absolute;
	z-index: 2;
	top: 1px;
	left: 1px;
	-webkit-transition-duration: 100ms;
	transition-duration: 100ms;
	-webkit-box-shadow: 0 2px 5px #999999;
	-ms-box-shadow: 0 2px 5px #999999;
	box-shadow: 0 2px 5px #999999;
}

.switchOn, .switchOn:before {
	background: #2bc49d !important;
}

.switchOn:after {
	left: 21px !important;
}

#check-verde {
	display: none;
	padding-right: 20px;
}

/********************botones******************************/
input[type="checkbox"] {
	width: 22px;
	height: 22px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 0 5px 0 0;
	cursor: pointer;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	border: 2px solid #29c19a;
	outline: none;
}

span.txt-evidencia {
	font-size: 12px;
	margin-left: 6px;
	font-family: "Roboto-Light";
	color: #666666;
}

span.observaciones {
	margin-top: 2px;
	position: absolute;
	color: #aeaeae;
}

a.btn-guardar {
	width: 90px;
	height: 24px;
	font-size: 12px;
	line-height: 24px;
	font-family: 'Roboto-Light';
	display: block;
	-webkit-border-radius: 10px 10px 10px;
	-ms-border-radius: 10px 10px 10px;
	border-radius: 6px 6px 6px;
	border: none;
	text-decoration: none;
	background-color: #29c19a;
	color: #fff;
	margin: 0 auto;
	cursor: pointer;
}

a.btn-guardar img {
	width: 19px;
	height: 22px;
	display: inline-block;
	float: left;
	padding-left: 6px;
	padding-right: 4px;
	margin-top: 1px;
	border: none !important;
}

tr.borde-verde {
	height: 100px;
	border-bottom: 1px solid #29c19a;
}

span.si {
	margin-left: 6px;
}

img#img-hoja-lapiz-dos {
	margin-left: 6px;
	margin-right: 6px;
	border: none !important;
	width: 26px;
	height: 26px;
}

img#ico-bote-basura {
	border: none !important;
	width: 26px;
	height: 26px;
}

img.flecha-arriba {
	margin-left: 9px;
	margin-right: 20px;
	border: none !important;
	width: 26px;
	height: 26px;
}

img.flecha-abajo {
	border: none !important;
	width: 26px;
	height: 26px;
}

/********************Check pregunas******************************/
input[type=checkbox].pregunta-check {
	display: none;
}

input[type=checkbox].pregunta-check+label.seleccionado {
	padding-left: 20px;
	padding-left: 24px\9;
	width: 22px;
	height: 26px;
	line-height: 35px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: 0px 4px\9;
	font-size: 19px\9;
	font-size: 17px;
	vertical-align: middle;
	cursor: pointer;
	border: solid 1px solid red;
}

input[type=checkbox].pregunta-check:checked+label.seleccionado {
	background-position: 0 -22px;
	background-position: 0px -19px\9;
}

.seleccionado {
	background-image: url("../../images/v2/checks1.png") \9;
	background-image: url("../../images/v2/checks2.png");
}

/**************************************************/

/*******************tabla botones*******************************/
table.tabla-botones-atras-continuar {
	width: 100%;
}

.btn-atras {
	width: 122px;
	height: 34px;
	font-size: 12px;
	line-height: 34px;
	text-align: center;
	-webkit-border-radius: 6px 6px 6px;
	border-radius: 6px 6px 6px;
	text-decoration: none;
	background-color: #fff;
	color: #29c19a;
	cursor: pointer;
	margin: 0 auto;
	border: solid 1px #29c19a;
	float: right;
	margin-right: 20px;
	font-family: "Roboto-Medium";
}

.btn-continuar {
	width: 122px;
	height: 34px;
	font-size: 12px;
	line-height: 34px;
	text-align: center;
	display: block;
	-webkit-border-radius: 6px 6px 6px;
	border-radius: 6px 6px 6px;
	border: none;
	text-decoration: none;
	background-color: #29c19a;
	color: #fff;
	cursor: pointer;
	margin-top: 46px;
	margin: 0 auto;
	float: left;
	margin-left: 20px;
	font-family: "Roboto-Medium";
}

.btn {
	width: 121px;
	height: 35px;
	font-size: 12px;
	line-height: 34px;
	text-align: center;
	display: block;
	-webkit-border-radius: 6px 6px 6px;
	border-radius: 6px 6px 6px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Roboto-Regular";
}

.btn-verde {
	background-color: #fff;
	color: #29c19a;
	border: solid 1px #29c19a;
	float: right;
	margin-right: 20px;
}

.btn-blanco {
	background-color: #fff;
	color: #29c19a;
	border: solid 1px #29c19a;
	float: left;
	margin-left: 20px;
}

.btn-blanco:hover {
	background-color: #29c19a;
	color: #ffffff;
}

.btn-verde:hover {
	background-color: #29c19a;
	color: #ffffff;
}

span.sup-columna {
	font-size: 14px;
	color: #666666;
	display: inline-block;
	margin-bottom: 9px;
}

.btn-asignar-cheklist {
	width: 152px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	display: block;
	-webkit-border-radius: 6px 6px 6px;
	border-radius: 6px 6px 6px;
	border: none;
	text-decoration: none;
	background-color: #ffffff;
	color: #29c19a;
	cursor: pointer;
	margin: 0 auto;
	font-size: 12px;
	font-family: "Roboto-Regular";
	margin-top: 34px !important;
	margin-bottom: 34px !important;
	border: solid 1px #29c19a;
}

.btn-asignar-cheklist:hover {
	background-color: #29c19a;
	color: #ffffff;
}

table.tabla-btn-asignar {
	width: 100%;
}

input#bnt-socio {
	width: 27px;
	height: 37px;
	height: 37px\9;
	top: 10px;
	top: 0px\9;
	position: relative;
	border: none;
	background-color: #fff;
	background-image: url(../../images/v2/ico-socio.png);
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #cccccc;
	outline: none;
}

@
-moz-document url-prefix () {input #bnt-socio {top:0px;
	
}

}

/***************columna formulario****************************/
.col-25-tabla-tres {
	width: 25%;
}

/***************Pestaña recopilar*****************************/
#bnt-calendario {
	width: 27px;
	height: 32px;
	top: 10px;
	top: 0px\9;
	position: relative;
	border: none;
	background-color: #fff;
	background-image: url(../../images/v2/ico-calendario.png);
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #cccccc;
	outline: none;
}

#fecha-inicio-r {
	width: 83%;
	height: 28px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
}

#fecha-termino-r {
	width: 83%;
	height: 28px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
}

a#btn-excel {
	width: 81px;
	height: 86px;
	display: block;
	background: #29c19a;
	border-radius: 6px 6px 6px 6px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	outline: none;
	margin: 0 auto;
	font-family: "Roboto-Medium";
}

a#btn-excel img {
	display: inline-block;
	margin-top: 18px;
	margin-left: 1px;
	border: none !important;
}

a#bnt-limpiar {
	width: 121px;
	height: 35px;
	font-size: 12px;
	line-height: 34px;
	text-align: center;
	display: block;
	-webkit-border-radius: 6px 6px 6px;
	border-radius: 6px 6px 6px;
	border: none;
	text-decoration: none;
	background-color: #fff;
	color: #29c19a;
	cursor: pointer;
	margin: 0 auto;
	border: solid 1px #29c19a;
	margin-top: 30px;
	margin-bottom: 15px;
	font-family: "Roboto-Regular";
}

a#bnt-limpiar:hover {
	background-color: #29c19a;
	color: #ffffff;
}

/*********Ultima pesaña********/
input#bnt-socio-dos {
	width: 27px;
	height: 37px;
	top: 10px;
	top: 0px\9;
	position: relative;
	border: none;
	background-color: #fff;
	background-image: url(../../images/v2/ico-socio.png);
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #cccccc;
	outline: none;
}

@
-moz-document url-prefix () {input #bnt-socio-dos {top:0px;
	
}

}
input#txt-socio-dos {
	width: 84%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #cccccc\9;
	font-size: 12px;
}

@
-moz-document url-prefix () {
	input #txt-socio-dos{margin-top: 10px;
}

}
input#bnt-costos {
	width: 27px;
	height: 37px;
	top: 10px;
	top: 0px\9;
	position: relative;
	border: none;
	background-color: #fff;
	background-image: url(../../images/v2/btn-cc.png);
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #cccccc;
	outline: none;
	color: #cccccc\9;
}

@
-moz-document url-prefix () {input #bnt-costos {top:0px;
	
}

}
input#txt-costos {
	width: 84%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #cccccc\9;
}

@
-moz-document url-prefix () {input #txt-costos {margin-top:10px;
	
}

}
input#text-zona {
	width: 96%;
	height: 33px;
	border: solid 1px #f2f2f2;
	outline: none;
	color: #cccccc\9;
	border-bottom: 1.6px solid #cccccc;
}

input#text-regin {
	width: 96%;
	height: 33px;
	border: solid 1px #f2f2f2;
	outline: none;
	color: #cccccc\9;
	border-bottom: 1.6px solid #cccccc;
}

input#text-sucursal {
	width: 96%;
	height: 33px;
	border: solid 1px #f2f2f2;
	outline: none;
	color: #cccccc\9;
	border-bottom: 1.6px solid #cccccc;
}

div#tabs-recopilar {
	width: 602px;
	margin: 0 auto;
	/* margin-left: 0%; */
	margin-top: 16px;
}

input.text-socio {
	width: 83%;
	height: 33px;
	border-left: transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-left: -3px;
	outline: none;
	color: #cccccc\9;
}

@
-moz-document url-prefix () {input .text-socio {top:12px;
	
}

}
div#dk27-elejir {
	width: 83%;
}

div#dk28-zona {
	width: 83%;
}

form.for-fecha.fecha-reportes {
	width: 91%;
}

table.tabla-geografia {
	margin-top: -40px;
}

form.for-socio {
	margin-top: 3px;
}

form#for-socio-dos, form#for-text-costos {
	margin-top: 4px;
}

form#for-fecha-socio {
	margin-top: 19px;
}

#sombra {
	width: 935px;
	margin: 0 auto;
	margin-top: -19px;
	z-index: -1;
	position: relative;
}

@media screen and (max-width:1247px) {
	.tab {
		width: 23.8%;
		-webkit-transition: width 0.2s ease-in-out;
		-ms-transition: width 0.2s ease-in-out;
		-moz-transition: width 0.2s ease-in-out;
		-o-transition: width 0.2s ease-in-out;
	}
	.tab a.active img#resumen-hover {
		display: block !important;
		margin: 11px 14px 0px;
		position: absolute;
	}
	.tab a.active img#diseniar-hover {
		display: block !important;
		margin: 11px 14px 0px;
		position: absolute;
	}
	.tab a.active img#recopilar-hover {
		display: block !important;
		margin: 11px 14px 0px;
		position: absolute;
	}
	.tab a.active img#visualizar-hover {
		display: block !important;
		margin: 11px 14px 0px;
		position: absolute;
	}
	img#resumen-verde {
		display: block !important;
		margin: 11px 14px 0px;
		position: absolute;
		border: none;
	}
	img#diseniar-verde {
		display: block !important;
		margin: 11px 14px 0px;
		position: absolute;
	}
	img#visualizar-verde {
		display: block !important;
		margin: 11px 14px 0px;
		position: absolute;
	}
	img#recopilar-verde {
		display: block !important;
		margin: 11px 14px 0px;
		position: absolute;
	}
	div#tabs-recopilar {
		width: 580px;
		margin: auto;
		margin-left: 25.5%;
		margin-top: 16px;
	}
	hr#separador {
		margin-left: 11%;
	}
	img.img-bote-basura {
		margin-left: 6px;
		margin-right: 6px;
		margin-top: 30px;
		border: none !important;
		width: 26px;
	}
	img.img-hoja-lapiz {
		margin-left: 6px;
		margin-right: 6px;
		margin-top: 30px;
		border: none !important;
		width: 24px;
	}
}

@media screen and (max-width:1200px) {
	.tab {
		width: width: 23.8%;
		-webkit-transition: width 0.2s ease-in-out;
		-ms-transition: width 0.2s ease-in-out;
		-moz-transition: width 0.2s ease-in-out;
		-o-transition: width 0.2s ease-in-out;
	}
	.tab a.active img#resumen-hover {
		display: block !important;
		margin: 11px 9px 0px;
		position: absolute;
	}
	.tab a.active img#diseniar-hover {
		display: block !important;
		margin: 11px 9px 0px;
		position: absolute;
	}
	.tab a.active img#recopilar-hover {
		display: block !important;
		margin: 11px 9px 0px;
		position: absolute;
	}
	.tab a.active img#visualizar-hover {
		display: block !important;
		margin: 11px 9px 0px;
		position: absolute;
	}
	img#resumen-verde {
		display: block !important;
		margin: 11px 9px 0px;
		position: absolute;
		border: none;
	}
	img#diseniar-verde {
		display: block !important;
		margin: 11px 9px 0px;
		position: absolute;
	}
	img#visualizar-verde {
		display: block !important;
		margin: 11px 9px 0px;
		position: absolute;
	}
	img#recopilar-verde {
		display: block !important;
		margin: 11px 9px 0px;
		position: absolute;
	}
	img.img-bote-basura {
		margin-left: 6px;
		margin-right: 6px;
		margin-top: 30px;
		border: none !important;
		width: 26px;
	}
	img.img-hoja-lapiz {
		margin-left: 6px;
		margin-right: 6px;
		margin-top: 30px;
		border: none !important;
		width: 24px;
	}
	div#tabs-recopilar {
		width: 610px;
		margin: auto;
		margin-top: 16px;
	}
}

@media screen and (max-width:1024px) {
	.tab {
		width: 152px;
		height: 38px;
		-webkit-transition: width 0.2s ease-in-out;
		-ms-transition: width 0.2s ease-in-out;
		-moz-transition: width 0.2s ease-in-out;
		-o-transition: width 0.2s ease-in-out;
	}
	.tab a.active img#resumen-hover {
		display: block !important;
		margin: 11px 22px 0px;
		position: absolute;
	}
	.tab a.active img#diseniar-hover {
		display: block !important;
		margin: 11px 22px 0px;
		position: absolute;
	}
	.tab a.active img#recopilar-hover {
		display: block !important;
		margin: 11px 21px 0px;
		position: absolute;
	}
	.tab a.active img#visualizar-hover {
		display: block !important;
		margin: 11px 21px 0px;
		position: absolute;
	}
	img#resumen-verde {
		display: block !important;
		margin: 11px 22px 0px;
		position: absolute;
		border: none;
	}
	img#diseniar-verde {
		display: block !important;
		margin: 6px 22px 0px;
		position: absolute;
	}
	img#visualizar-verde {
		display: block !important;
		margin: 11px 21px 0px;
		position: absolute;
	}
	img#recopilar-verde {
		display: block !important;
		margin: 11px 21px 0px;
		position: absolute;
	}
	.dk-selected {
		padding-right: 20px;
	}
	span.txt-evidencia {
		position: relative;
		margin-left: 10px;
		font-size: 12px;
		color: #666666;
		font-family: "Roboto-Light";
	}
	div#tabs-recopilar {
		width: 610px;
		margin: auto;
		margin-top: 16px;
		margin-left: 202px;
	}
	hr#separador {
		margin-left: 6%;
	}
	img.img-bote-basura {
		margin-left: 6px;
		margin-right: 6px;
		margin-top: 30px;
		border: none !important;
		width: 26px;
		height: 26px;
	}
	img.img-hoja-lapiz {
		margin-left: 6px;
		margin-right: 6px;
		margin-top: 30px;
		border: none !important;
		width: 26px;
		height: 26px;
	}
	#fecha-fin-reporte {
		width: 85%;
	}
	#fecha-inicio-reporte {
		width: 85%;
	}
	ul.etabs {
		width: 61%;
	}
}

@media screen and (max-width:1023px) {
	.tap {
		width: 300px;
	}
	.menu-taps {
		width: 1100px;
	}
	hr#separador {
		margin-left: 6%;
	}
}

input-placeholder {
	color: #aeaeae;
}

::-webkit-input-placeholder {
	color: #aeaeae;
} /* WebKit */
:-moz-placeholder {
	color: #666;
} /* Firefox 18- */
::-moz-placeholder {
	color: #666;
} /* Firefox 19+ */
:-ms-input-placeholder {
	color: #aeaeae;
} /* IE 10+ */