.headerContenido .divRegresar {
   height: 70px;
}
.headerContenido .linkRegresar {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: 'Avenir_Next_Regular', sans-serif;
    width: 25%;
}
.headerContenido .linkRegresar img {
    width: 100%;
}

.linkRegresar img {
    width: 37px;
    margin-right: 5px;
}
.wrapper {
    margin-top: 57px;
    margin-bottom: 90px;
}
.tituloPagina {
    font-size: 38px;
    font-family: 'Avenir_Next_Demi_Bold', sans-serif;
    text-align: center;
    margin-bottom: 60px;
}

/*Documentos*/
.divDocumentos .documento:nth-child(odd) {
    background:none;
}
.divDocumentos .documento:nth-child(even) {
    background-color: #FFFFFF;
}

.divDocumentos .documento {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    padding: 26px 60px;
    border-bottom: 1px solid #77777A;
}
.divDocumentos .documento:last-of-type {border-bottom: none;}
.divDocumentos .documento .iconoPDF {margin-right: 30px;}
.divDocumentos .documento .textoDocumento {
    width: 85%;
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
    line-height: 26px;
}

.documentoSeleccionado {background-color: #EAEAEA !important;}