
	.titulo_bienvenida{
		margin-top: 10%;
		border-left:6px solid #00643e;
	}

	.titulo_bienvenida div{
		padding-left:16px; 
	}

	.titulo_bienvenida div:nth-child(1){font-size:2.3em;}
	
	.titulo_bienvenida div:nth-child(2){
		font-size:5vh;
		font-family: 'Avenir_Next_Demi_Bold';
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out; 
	}

	input.dato{
		border:none;
		outline:none;
		border-radius:4px;
		border:1px solid #b7b7b7;
		background-color:#f0f0f0;
		padding: 0px 10px 0px 25px;
		height:50px;
		font-size:1.3em; 
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out; 

	}

	input.dato::-webkit-input-placeholder { 
		color: #858585;
		font-size:0.8em;
	}

	input.dato:-ms-input-placeholder { 
		color: #858585;
		font-size:0.8em;
	}

	input.dato::placeholder {
		color: #858585;
		font-size:0.8em;
	}

	label.nombre_input{
	    display:block; 
	    margin-bottom:20px; 
	    font-size:1.4em;
	    font-family: 'AvenirNextLTPro-Medium';
	}

	.btn4 {
	    text-decoration: none;
	    color: #ffffff;
	    cursor: pointer;
	    padding: 26px 14px 26px 14px;
	    width: 377px;
	    font-family: 'AvenirNextLTPro-Medium';
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    font-size: 1.4em;
	    border-radius: 9px;
	    background-color: #006241;
	}

	.tb_form{
		width:100%; 
		display:table; 
	}

	.cll_from{
		display:table-cell;
		vertical-align:middle;  
	}
	.auto{
		margin:7% auto;
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out;  
	}


	@media screen and (min-width:1080px){
		.auto{
			margin:20% auto; 
			transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out; 
		}
		input.dato{
			height:60px;  
		}
		.titulo_bienvenida div:nth-child(1){font-size: 4em;}

	}

	@media screen and (min-width:1200px){
		.auto{
			margin:10% auto; 
			transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out; 
		}

		input.dato::-webkit-input-placeholder { 
		
			font-size:1.1em;
	    }

		input.dato:-ms-input-placeholder { 
		
			font-size:1.1em;
		}

		input.dato::placeholder {
			
			font-size:1.1em;
		}
	}

	@media screen and (max-width:900px){
		.titulo_bienvenida div:nth-child(2) {
		    font-size: 4em;
		    transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out; 
		}
	}



	@media screen and (max-width:840px){
		.titulo_bienvenida div:nth-child(2) {
		    font-size: 3.6em;
		    transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out; 
		}

	}


	@media screen and (max-width:800px){

        .auto{margin: 22% auto;}

        .titulo_bienvenida div:nth-child(2) {
		    /*font-size:4em;*/
		    transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out; 
		}
	}

	@media screen and (max-width:770px){
		 .auto{margin:7% auto;}
	}



	@media all and (orientation:landscape){

		.top300{margin-bottom:200px;}

		.titulo_bienvenida div:nth-child(1){font-size: 4em;}
		.titulo_bienvenida div:nth-child(2){font-size: 5em;}

		label.info{font-size: 4vh;}

		.cll_mensaje_alerta img {width:26px;}


		
    }
    
.overlayLoading.active{
  display: flex;
}
.overlayLoading2{
  width: 100%;
  height: 100%;
  background-color: rgba(32, 51, 124, 0.81);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}


.overlayLoading img {
  width: 200px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation:    rotating 2s linear infinite;
  -ms-animation:     rotating 2s linear infinite;
  -o-animation:      rotating 2s linear infinite;
  animation:         rotating 2s linear infinite;
}