	
	.contenedor_pagina{
		width:100%;
		min-width:768px;
	    margin:0 auto;   
		background-color:#FCFCFE; 
	}

	.datos_sucursal{
		margin-top:26%;
		transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out; 
	}

	.datos_sucursal div:nth-child(1) {font-size:1.6em;}

    .datos_sucursal div:nth-child(2) {
	    font-size: 2.4em;
        font-family: 'Avenir_Next_Demi_Bold';
        transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out; 
    }

    .tb_alerta{
    	width:100%; 
    	display:table;
    	margin-bottom:50px; 
    }
    .cll_alerta{
    	display: table-cell;
    	vertical-align:middle;
    }
    .alerta_verde{
    	width:90px;
	    height:90px;
	    border-radius: 50%;
	    background-color: #afd3c9;
	    display: block;
	    margin: 0 auto;
	    padding: 9px;
	    text-align: center;
	    transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out; 
    }

    .alerta_verde img{
    	width: 80%;
	    display: block;
	    margin: 6% auto;
		    
    }

    .leyenda_error{
    	font-size:1.9em; 
    	color: #006241;
    	padding-left: 20px;
    	font-family: 'Avenir_Next_Demi_Bold';
    }

    

	input.dato::-webkit-input-placeholder { 
		color: #858585;
		font-size:0.9em;
	}

	input.dato:-ms-input-placeholder { 
		color: #858585;
		font-size:0.9em;
	}

	input.dato::placeholder {
		color: #858585;
		font-size:0.9em;
	}

	label.nombre_input{
	    display: block;
	    margin-bottom: 20px;
	    font-size: 1.4em;
	    font-family: 'AvenirNextLTPro-Medium';
	}

	.tb_datos_alerta{
		width: 100%;
		display:table; 
	}
	.cll_datos_alerta{
		display:table-cell;  
	}
	.auto_alerta{
		margin: 13% auto;
	}
	
    .formilario_ce_co{display:none;}
    
    .instalar{margin-top:30px;}
    
	.b200{width:200px;}

	@media screen and (min-width:1080px){
		.auto_alerta {
		    margin: 30% auto;
		    transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out;
		}

		.datos_sucursal div:nth-child(2){
			font-size: 3.4em;
		    transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out;
		}

		.leyenda_error {
		    font-size: 2.6em;
		    transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out;
		  
		}

		.datos_sucursal div:nth-child(1) {
		    font-size: 3.6em;
		    transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-webkit-transition: all 0.3s ease-out;
		}

	}

	@media screen and (min-width:1200px){
		.auto_alerta {
		    margin: 36% auto;
		}
    }

 @media screen and (max-width:800px){
		.datos_sucursal {
		    margin-top: 30%;
		    transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out;
		}

		.alerta_verde {
		    width: 60px;
		    height: 60px;
		    
		}
		
	}

	 @media screen and (max-width:770px){
	 	.datos_sucursal {
		    margin-top: 12%;
		    transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out;
		}
	 }

	@media screen and (max-width:740px){

		.datos_sucursal div:nth-child(2){
			font-size:2.3em;
			transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out; 
		}

		.leyenda_error {
		    font-size:1.9em;
		    transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out; 
		}
		.alerta_verde{
			width:60px;
			height: 60px; 
			transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out; 
		}
		
	}

	@media screen and (max-width:640px){
		.datos_sucursal div:nth-child(2){
			font-size:2.2vh;
			transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out; 
		}

		.leyenda_error {
		    font-size: 1.6vh;
		    transition: all 0.3s ease-out;
		    -moz-transition: all 0.3s ease-out;
		    -webkit-transition: all 0.3s ease-out; 
		}

	}


	

	@media all and (orientation:landscape){
		.datos_sucursal {
		    margin-top: 10%;
		}
    }		
