@import url('/franquicia/css/pedestalPWA/menu.css');
@import url('/franquicia/css/pedestalPWA/fonts.css');
@import url('/franquicia/css/pedestalPWA/forms.css');
@import url('/franquicia/css/pedestalPWA/secciones.css');
@import url('/franquicia/css/pedestalPWA/descarga.css');
@import url('/franquicia/css/pedestalPWA/modal.css');

/* general */
*{ margin: 0px; padding: 0px; box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;}
.tLeft 		{ text-align: left 		!important; }
.tCenter 	{ text-align: center 	!important; }
.tRight 	{ text-align: right 	!important; text-align: -webkit-right;}
.fRight 	{ float: right 			!important; }
.fLeft		{ float: left 			!important; }
.tJustify 	{text-align: justify !important;}
strong{font-family: 'Avenir_Next_Demi_Bold';}
.cursor{ cursor: pointer;}
.clear{ clear: both;}
a {text-decoration: none;}
a.liga {color: #5fac98;
    text-decoration: underline;
    font-family: 'AvenirNextLTPro-Medium';}
p{ margin-bottom: 30px;}
button{outline:none; border:none;}
/* scroll */
*::-webkit-scrollbar { width: 6px; }
*::-webkit-scrollbar-track { background-color: #afafaf; }
*::-webkit-scrollbar-thumb { background-color: #006341; }
.scroll { overflow-x: auto; }
.scroll::-webkit-scrollbar {height: 5px;}
.scroll::-webkit-scrollbar-track {background-color: #afafaf;}


.scrolly {overflow-y: scroll;}
.scrolly::-webkit-scrollbar {height: 5px;}
.scrolly::-webkit-scrollbar-track { background-color: #afafaf; }
.scrolly::-webkit-scrollbar-thumb { background-color: #006341; }
.tblMaxh {max-height: 200px;    padding-right: 14px;}


.desac{color:#ccc; cursor: none; pointer-events: none;filter: opacity(50%);-webkit-filter: opacity(50%);}
.pRelative{position: relative;}
table {border-collapse: collapse;border-spacing: 0;}
.obliga{color: #5fac98;    font-family: 'Avenir_Next_Demi_Bold';}
html, body{
	font-family: 'Avenir_Next_Regular';
	background-color: #FCFCFC;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: #2d2926;
	min-width: 330px;
	height: 100%;
}
.page{min-width: 330px;margin: 0 auto 0px auto;/* min-height: 1366px; */}
.pageHome{  min-width: 330px;}


/*Titulo*/
.titulo {
    padding: 2px 2% 6px 15px;
    background-color: #fafafa;
    font-size: 24px;
    color: #43413B;
    font-weight: 800;
    text-align: left;
    margin-bottom: 15px;
}
.titulo .ruta {
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
        padding: 1px 0px 0px 0px;
}
.titulo .ruta a {color: #7E7E7E;text-decoration: none;}

.intro {
    width: 65%;
    margin: auto;
    color: #006341;
    font-size: 4rem;
    font-family: 'Avenir_Next_Demi_Bold';margin-top: 3%;    text-align: center;
}
.intro img{width: 70%; margin-left: 15%;}
.divGrow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: -1%;
    margin-right: -1%;align-items: stretch;
}

.divCol5{display: flex;flex-wrap: wrap;align-items: center;}
.divCol5 > .col5 { width: 18%; margin: 15px 1%;}

.divCol4 {
    display: flex;
    flex-wrap: wrap;
    align-items: inherit;
    text-align: center;
}
.divCol4 > .col4 { width: 23%; margin: 15px 1%; }
.divCol4 > .divAgrega1 { width: 23%; margin: 15px 1%; }
.divCol4 > div > .col4 { width: 23%; margin: 15px 1%; }
.divCol4M > .col4 {margin: 15px 1% 25px 1% !important;}

.divCol3{display: flex;flex-wrap: wrap;align-items: flex-start;}
.divCol3 > .col3, .divGrow > .col3 {width: 31.33%;margin: 15px 1%;}

.divCol2 {display: flex;flex-wrap: wrap;align-items: center;}
.divCol2 > .col2, .divGrow > .col2 { width: 48%; margin: 15px 1%; }

.col3 .gris{    height: calc(100% - 60px); }

.gris .divGrisCont{    height: calc(94% - 60px); }




/*Agregados*/





@media screen and (max-width: 1024px) { 
.divCol5 >.col5, .divGrow > .col5 { width: 23%;}
}
@media screen and (max-width: 1023px) { 
.fecha {display: none;}
}

@media screen and (max-width: 900px) { 
.divCol3 > .col3, .divGrow > .col3 { width: 48%;}
.divCol4 > .col4, .divGrow > .col4 { width: 48%;}
.divCol5 > .col5, .divGrow > .col5 { width: 48%;}
	.gris .divGrisCont {
    height: calc(94% - 33px);
    }
}





@media screen and (max-width:700px) {
div.name{display: none;}
.divCol2 > .col2, .divGrow > .col2 { width: 98%;}
.divCol3 > .col3, .divGrow > .col3 { width: 98%; }
.divCol4 > .col4, .divGrow > .col4 { width: 98%; }
.divCol5 > .col5, .divGrow > .col5 { width: 98%; }
}
@media screen and (max-width:500px) {
div.title h1 {font-size: 22px;line-height: 24px;}
div.pic {width: 35px;height: 35px;}


}