.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        /*300*//* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
}
.w94Modal {width: 94%; margin:0 auto;}
.w94Modal iframe {
    width: 100%;
    height: 1000px;
}
/* Overlay */
#simplemodal-overlay { background-color:#292929; }

/* Container */
.simplemodal-header {
    text-align: center;
    background-color: #1D4E8A;
    color: #FFFFFF;
    padding: 8px;
    font-size: 14px;
}
#simpldemodal-container {
    width: 100% !important; 
    *width: 620px;  
    margin: 0 auto;
    background-color:#FFFFFF; 
    border:1px solid #AAB7CE;
    border-radius: 3px;
    font-size: 11px;
}

.simplemodal-body { padding: 10px; }

.cuadro {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #292929;
    border-radius: 1px;
    text-align: center;
    border: 1px solid #E0E0DE;
    -moz-box-shadow: 0px 0px 11px rgba(47, 47, 47, 0.41);
    -webkit-box-shadow: 0px 0px 11px rgba(47, 47, 47, 0.41);
    box-shadow: 0px 0px 11px rgba(47, 47, 47, 0.41);
    color:#000;
    height: -webkit-fill-available;
}
.cuadroXG {width: 100%;}
.cuadroG {width: 80%; max-width: 990px;}
.cuadroM {width: 60%; max-width: 650px;}
.cuadroCh {width: 50%; max-width: 450px;}
.btnCerrar {
    text-align: right;
    display: block;
    width: 100%;
}
.btnCerrar img {width: 23px;}
.titModal {
    border-bottom: 2px solid #ffcd00;
    font-size: 19px;
    text-align: left;
    width: 94%;
    margin: auto;
    margin-top: -10px;
}
.contModal{width: 94%; margin: 15px auto;}
.divRegresarModal {
    display: flex;
    justify-content: flex-start;
    padding: 5px 30px;
    margin-top: 51px;
    margin-bottom: 90px;
}
.divRegresarModal  .linkRegresar {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: 'Avenir_Next_Regular', sans-serif;
}
@media screen and (max-width: 1024px){

}


