.contenedor_mal{
	width:400px;
	margin: 0 auto;
	margin-top: 60px;
}

    .leyenda_mal div:nth-child(1) {
        font-size: 2.6em;
        text-align: center;
        color: #006241;
        font-family: 'Avenir_Next_Demi_Bold';
    }
    .leyenda_mal div:nth-child(2) {
        font-size: 1.6em;
        text-align: center;
        font-family: 'AvenirNextLTPro-Medium';
        margin-top: 30px;
    }
    .top2{margin-top: 10%;}

    .tb_mal{
        width:100%; 
        display:table;
    }
    .cll_mal{
        display:table-cell; 
    }
    .auto_mal{
        margin:10% auto; 
    }

    @media screen and (min-width:1080px){
        .auto_mal{
            margin:50% auto;
            transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out; 
        }
    }

    @media all and (orientation:landscape){
            .auto_mal{
                margin-top: 10%;
            }
        }   


