.header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    padding: 5px 25px;
    box-sizing: border-box;
    position: fixed;
    z-index: 9;
    width: 94%;
    background-color: #FCFCFC;
    top: 0;
   
    left: 0;
    right: 0;
    margin: 0 auto;
}
.headerContenido {
    justify-content: space-between !important;
}
.header > .headerLogo {
    width: 202px;
}
.header > .headerLogo a {display: block;}
img#imgLogo {width: 100%;}

/*Footer*/
.footer {
    width: 100%;
    flex-wrap: wrap;
    background-color: #006241;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    z-index: 2;
    min-width: 320px;
    position: fixed;
    bottom: 0;
}

.textoFooter {
    font-size: 26px;
    color: #FFF;
    font-family: 'Avenir_Next_Demi_Bold', sans-serif;
    text-align: center;
    height: 65px;
    display: flex;
    align-items: center;
}

/*Contenido*/
.divBuscar {width: 98%;margin:0 auto;}
.tituloPrincipal {
    font-size: 50px;
    font-family: 'Avenir_Next_Demi_Bold', sans-serif;
    text-align: left;
    margin-bottom: 52px;
}
.tituloNegro {color: #000000;}
.tituloBlanco {color: #FFF;}

.divBuscar input[type="text"] {
    background-color: #FFFFFF;
    height: 45px;
    border: 1px solid #9F9F9F;
    border-radius: 3px;
    font-size: 22px;
    text-align: left;
    font-family: 'Avenir_Next_Regular', sans-serif;
} 
.divBuscar input.buscar {
    background-image: url(../img/iconosIPAD/iconoBuscar.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    height: 32px;
    border: 0px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
}

.divOpcionesInicio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-bottom: 70px;
}
.divOpcionesInicio .card {
    width: 29.6%;
    background-color: #FCFCFC;
    border-radius: 21px;
    max-width: 305px;
    box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.30);
    -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.30);
    -moz-box-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.30);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px 4px 30px 5px;
    margin-bottom: 29px;
}
.divOpcionesInicio .card > div:first-of-type {
    width: 105px;
}
.divOpcionesInicio .card > div:first-of-type img {width: 100%;}
.divOpcionesInicio .card:hover, .activeCard {
    background-color: #E0E0E0 !important;
}
.tituloOpciones {
    font-family: 'Avenir_Next_Demi_Bold', sans-serif;
    font-size: 22px;
    color: #000000;
    text-align: center;
}
.buzonActive {background-color: #144634 !important;}
.btnBuzon {
    width: 148px;
    height: 148px;
    background-color: #006241;
    border-radius: 100%;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.30);
    -webkit-box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.30);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 175px;
    right: 35px;
}
.btnBuzon a {display: block;}
.btnBuzon a img {width: 83%;display: block;margin: 0 auto;}
.pRelative {position: relative;}

/*Buzon de quejas y sugerencias*/
.tituloCopy {
    font-size: 30px;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
    text-align: left;
    margin: 0 auto;
}
.textoCopy {
    font-size: 22px;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
    text-align: left;
    margin: 0 auto;
}
.wrapperBuzon {width: 94% !important;margin: 0 auto;}
.tituloVerde {color: #006241;}

.w80 {width: 80%;}
.wrapperBuzon p {
    margin-bottom: 68px;
}
.divFormulario h2 {margin-bottom: 64px;}
.divCol1 {width: 100%;}
.divCol1 .col1 {margin-bottom: 37px;}
.divCol1 .col1 > div:first-of-type {
    font-size: 22px;
    color: #000000;
    font-family: 'AvenirNextLTPro-Medium', sans-serif;
    margin-bottom: 17px;
}
.divCol1 .col1 .pregunta {
    font-family: 'Avenir_Next_Demi_Bold', sans-serif !important;
}
.divPregunta {margin-bottom: 60px !important;}
.divAvisoPrivacidad {
    font-size: 22px;
    color: #000000;
    font-family: 'Avenir_Next_Regular', sans-serif;
    margin-bottom: 42px;
}
.divAvisoPrivacidad .link {
    color: #5FAC98 !important;
    font-family: 'Avenir_Next_Bold', sans-serif !important;
}

/*Mensaje Enviado*/
.divMensajeEnviado div:first-of-type {
    margin-bottom: 123px;
}
.divMensajeEnviado div img {
    max-width: 404px;
    display: block;
    margin: 0 auto;
}
.copyEnviado {
    color: #006241;
    font-size: 60px;
    font-family: 'Avenir_Next_Bold', sans-serif;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 200px;
}

.btn2 {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 17px 15px 17px 15px;
    width: 200px;
    max-width: 207px;
    font-family: 'AvenirNextLTPro-Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border-radius: 9px;
  }
.bold {
    font-family: 'Avenir_Next_Bold', sans-serif !important;
}
.bloqueSucursal {
    width: 100%;
    background-color: #cbcccb;
    font-family: 'Avenir_Next_Regular', sans-serif;
    font-size: 24px;
    color: #000000;
    padding: 8px 5px;
    text-align: center;
}
.bloqueSucursal span {
    font-family: 'Avenir_Next_Demi_Bold', sans-serif;
}



/*Agregados*/

.w768{min-width:768px;} 

.cont_img_header{
    display:block; 
    width:70%;
    margin:0 auto;
}

.cont_img_header img{
    width:90%;
    max-width:70%; 
    display:block;
    margin:0 auto;  
}


.contenedor_info {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}


label.info{
    display: block;
    margin-bottom: 20px;
    font-size:1.4em;
    font-family: 'AvenirNextLTPro-Medium';
}

input.dato{
    border: none;
    outline: none;
    border-radius: 4px;
    border: 1px solid #b7b7b7;
    background-color: #f0f0f0;
    padding: 0px 10px 0px 25px;
    height: 56px;
    font-size: 1.3em;
}

.btn5{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 26px 14px 26px 14px;
    width: 377px;
    font-family: 'AvenirNextLTPro-Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    border-radius: 9px;
    background-color: #006241;
}

.mensaje_alerta{
    width:100%;
    height:80px;
    overflow:hidden;
}

.tb_mensaje_alerta{
    display: table;
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    color: #982e37;
    background-color: #eeb9bc;
    font-size:1em;
    font-family: 'AvenirNextLTPro-Medium';
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;     
}
.cll_mensaje_alerta{
    display:table-cell;
    vertical-align:middle;
}

.cll_mensaje_alerta img{
    width:26px;
    display:block;
    margin:0 auto;  
}

.tb_mensaje_alerta div.cll_mensaje_alerta:nth-child(1){
    width: 50px;
}
.tb_mensaje_alerta div.cll_mensaje_alerta:nth-child(2){
    font-size:1em; 
}

.error{
    margin-top:0px!important;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; 
}
.usuario.borde{
    border:2px solid #e03745;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; 
}
.usuario.ok{
    border:2px solid #006241;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; 
}

.token.ok{
    border:2px solid #006241;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; 
}

.btn_gris{background-color:#545559;}
.btn_verde{background-color:#006241;}

input:focus,
input:focus:focus{
    outline-color: transparent !important;
    box-shadow: 6px 6px 6px 0px rgba(255, 255, 255, 0);
    -webkit-box-shadow: 6px 6px 6px 0px rgba(255, 255, 255, 0);
    -moz-box-shadow: 6px 6px 6px 0px rgba(255, 255, 255, 0);
}

@media screen and (max-width:800px){

    .intro { font-size: 2.5em;}

    .btn5 {
        font-size: 1.2em;
        padding: 20px 0px 20px 0px;
        width: 300px;
    }
    .cll_mensaje_alerta img{width:26px;}

    .textoFooter{
        font-size:16px; 
    }
}


@media screen and (min-width:1080px){
    input.dato{
        height:60px;  
    }
}

@media all and (orientation:landscape){
    .bottom200{
        margin-bottom: 200px!important;
    }
}


   