.m15{ margin-top: -15px;}
.w66 {width: 68%;margin: 15px 0% 15px 1%;max-height: 450px;}
.w30 {width: 30%;     margin: 15px 1% 15px 0px;}
.p1{ padding: 0px 0px 0px 1%;}
.contSecc {width: 94%;margin: 150px auto 100px auto;min-height: 1151px;}
.contHome {
    margin-top: -15px;
}

.contHome {
    width: 100%;
    background-image: url(../img/home.png);
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 87%;
}
img.titHome {
    position: absolute;
    width: 56%;
    top: 10%;
    left: 5%;
    max-width: 600px;
}
img.imgHome {
    position: absolute;
    width: 80%;
    bottom: 30px;
    right: 30px;
    max-width: 900px;
}
.titSec {
    border-bottom: 2px solid #006341;
    padding: 15px 0% 5px 0px;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 17px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #000;
}
.tit {
    color: #333333;
    font-family: 'AvenirNextLTPro-Medium';
    width: 100%;
    margin: auto;
    font-size: 15px;
    margin-bottom: 10px;
}

.titCol {
    color: #333333;
    font-family: 'AvenirNextLTPro-Medium';
    width: 100%;
    margin: auto;
    font-size: 15px;
   padding-left: 1%;   
}
.gris {
    width: 100%;
    margin: 0px auto;
    padding: 15px 15px;
    background-color: #faf9f9;
    -moz-box-shadow: 0 0px 1px rgb(226, 222, 222);
    -webkit-box-shadow: 0 0px 1px rgb(226, 222, 222);
    box-shadow: 0 0px 1px rgb(226, 222, 222);    margin-bottom: 15px;    text-align: justify;
}
.btnCenter {display: flex;justify-content: space-evenly;flex-wrap: wrap;}


.btnDer {display: flex;justify-content: flex-end;flex-wrap: wrap;}
.btnDer a {margin: 0px 0% 10px 2%;}
.btnDer a:first-child {margin: 0px 0% 10px 0%;}

.btnIzq {display: flex;justify-content:flex-start;flex-wrap: wrap;}
.btnIzq a {margin: 0px 2% 10px 0%;}
.btnIzq a:last-child {margin: 0px 0% 10px 0%;}

.btnSpace{display: flex;justify-content: space-between;flex-wrap: wrap;}
.btnSpace a {margin: 0px 0% 10px 0%;}

.btnAround{display: flex;justify-content: space-around;flex-wrap: wrap;}
.btnAround a {margin: 0px 0% 10px 0%;}

.botones {display: flex;flex-wrap: wrap; margin: 18px 0px 0px 0px;}
.botones a {    margin: 0px 1% 10px 0px;}
.btnA {
    background-color: #006341;
    text-align: center;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    min-width: 120px;
    max-width: 200px;
    font-family: 'AvenirNextLTPro-Medium';
    justify-content: center;
    align-items: center;
    height: 30px;
}
.btnG {
    background-color: #54585a !important;
    color: #fff;
    font-family: 'Avenir_Next_Regular';
}
.btnB {
    background-color: #fafafa;
    -moz-box-shadow: 0px 0px 11px rgb(204, 202, 202);
    -webkit-box-shadow: 0px 0px 11px rgb(204, 202, 202);
    box-shadow: 1px 1px 3px rgb(204, 202, 202);color: #2d2926;
}
.btn {
    background-color: #006341;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 20px 15px 20px 15px;
    width: 200px;
    max-width: 207px;
    font-family: 'AvenirNextLTPro-Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border-radius: 9px;
}

.btn div{    width: 15px;height: 15px;    margin: 0px 10px 0px 0px;}
.btnGuardar div {background-image: url(../img/icoGuardar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}
.btnEditar div{background-image: url(../img/icoEditar.svg); background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}
.btnLimpiar div{background-image: url(../img/icoLimpiar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}
.btnDescargar div{background-image: url(../img/icoDescargar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}
.btnImprimir div{background-image: url(../img/icoPrint.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}

.btnWord div {background-image: url(../img/icoWord.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}
.btnExcel div{background-image: url(../img/icoExcel.svg); background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}
.btnPpt div{background-image: url(../img/icoPpt.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}
.btnTxt div{background-image: url(../img/icoTxt.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}
.btnPdf div{background-image: url(../img/icoPdf.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}

.btnAgregar div{background-image: url(../img/icoAgregar.svg);background-repeat: no-repeat;filter: brightness(300%);-webkit-filter: brightness(300%);}
.w120{width: 120px !important; margin-top: 18px;}

.btnAgregar {
    text-align: center;
    padding: 5px 10px;
    margin: auto;
	text-decoration: none;
    background-color: #006341;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    min-width: 120px;
    max-width: 250px;
    font-family: 'AvenirNextLTPro-Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.btnAgregar div {
    background-image: url(../img/icoAgregar.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin-right: 10px;    float: left;
}

.btnAgregar1 {
    padding: 5px 0% 5px 0px;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 14px;
    color: #575757;
    padding: 8px;
    border: 1px #575757 dashed;
    text-align: center;    background-color: #fff !important;
}
.btnAgregar1 img {width: 20px;height: 20px;}
.gris .btnCenter.btnBotton {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 100%;
}
img.ico {width: 20px; height: 20px;    cursor: pointer;}

.divRadio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: stretch;
    margin: 0px 1%;
}
.divRadio div {
    width: 25%;min-width: 160px;
}
.divCol2Input {    display: flex;
    flex-wrap: wrap;
    align-items: center; }
.divCol2Input div{width: 40%;min-width: 160px;}
.CheckOrden div { width: 50%; min-width: 148px;}
.divRadio input[type=radio] + label {padding: 6px 30px 5px 22px;}



/*Checkbox*/
.tblCheck tr th:nth-child(1), .tblCheck tr td:nth-child(1){ width: 50px !important;}
/*Switch*/
.tblCenter { display: flex;justify-content: center; }

/*treeview*/
input[type=checkbox].radioAP + label {
    padding-left: 22px;
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;
    margin-right: 0px;
    margin-left: 10px;
    display: initial;
}
.seleccionado {color: #333333;}
input[type=checkbox]+ label {background-image: url(../img/checkbox.svg);}
input[type=radio].radioAP + label {display: initial;}
input[type=radio].tree + label, input[type=checkbox].tree + label {display: initial;padding: 6px 0px 5px 22px;}
.Tree a {color: #2d2926;}
/*Chat*/
#chat{ background-color: #fff;}
.mesaj-gecmisi {height: 400px;overflow-x: hidden;overflow-y: auto;}
.o {width: 266px;color: #000;position: relative;margin: 8px;text-align:left;padding: 5px 0px 14px 0px;}
.imgBot { width: 45px; background-color: #fff;float: right;padding: 8px;}
#chat img{border-radius:5px;margin:0 5px 0 5px; top:0;}  
.texto { background-color: #006341;padding: 8px;text-align: left;border-radius: 5px;width: 200px;color:#ffffff;}
.texto1 {background-color: #f0eeef;padding: 8px;text-align: left;border-radius: 5px;width: 200px;margin-left: 54px;}

/*Visualizador*/
.tabVisual {
	width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 1px rgb(226, 222, 222);
}
.tabVisual li {
    list-style: none;
    margin: 0px 0%;
    width: 100%;
    height: 46px;
    display: flex;
    padding: 0px 5px 0px 15px;
    border-bottom: 1px solid #e4e0e0;
}
.tabVisual li:last-child{ border: 0px;}
.tabVisual li a {color: #000; width: 100%; padding: 13px 0px; text-decoration: none;}
.tabVisual li.active a {font-family: 'Avenir_Next_Demi_Bold';color: #ffffff;}
.tabVisual li.active {background-color: #006341; color: #000;}
.tabVisual li:hover {background-color: #c4d6c4; }
.tabVisual li:hover a{color: #000 !important;}
iframe.frameVisual {width: 100%; min-height: 480px; border: none;}
div.imgVisual {display: flex; align-items: center; flex-direction: column;}
div.imgVisual img {width: 80%;}

/*card*/
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardContenedor {
  width: 90%;
  border: 1px solid #d4d4d4;
  padding: 15px;
  display: flex;
  align-items: center;
  min-height: 200px;
}
.cardContenedor > div:nth-child(1), .cardContenedor > div:nth-child(3) {
  width: 50%;
}
.cardContenedor > div:nth-child(2){
  /*width: 2%;*/
  height: 70px;
  width: 1px;
  background-color: #d4d4d4;
}
.cardBordeVerde { border-left: 50px solid #4b7262; }
.cardBordeRojo { border-left: 50px solid #d96169; }
.cardBordeVerde2 { border-left: 50px solid #c4d6c4; }

.cardTitulo {
  font-size: 1.8em;
  font-family: 'Avenir_Next_Bold';
}
.cardTituloSecundario {
  font-size: 1.5em;
  font-family: 'Avenir_Next_Bold';
}
.divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}
.divider div {
  width: 70%;
  height: 1px;
  background-color: #d4d4d4;
}
.titulos {
    padding: 15px 0% 5px 0px;
    font-family: 'AvenirNextLTPro-Medium';
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #000;
}
.btnDescargar {
  background-image: url(../img/select2.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 15px;
  width: 100%;
  font-size: 14px;
}
.menuDescarga {
  position: relative;
  width: 170px;
}
.contenedorMenuDescarga {
  display: none;
  position: absolute;
  width: 100%;
  top: 30px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  background-color: #ffffff;
  z-index: 999;
}
.contenedorMenuDescarga ul li {
  cursor: pointer;
  padding: 5px 0px 5px 15px;
}
.contenedorMenuDescarga ul li:hover {
  color: #ffffff;
  background-color: #006341;
}
.contenedorFormulario{
  display: flex;
  margin-bottom: 20px;
  margin-top: 40px;
}
.contenedorFormulario > div {
  width: 33.33%
}
.contenedorGrafica {
  width: 100%;
  border: 1px solid #d4d4d4;
}
.contenedorSelect {
  width: 70%;
  margin: 0 auto;
  max-width: 350px;
}


/*--------------- Estatus tabletas ---------------*/
.cardEstTab {
  display: flex;
  justify-content: center;
  min-height: 160px!important;
  width: 80%!important;
}
.justifyStart {
  display: flex;
  justify-content: flex-start;
}
.justifyEnd {
  display: flex;
  justify-content: flex-end;
}
.cardContTexto {
  text-align: center;
  width: 100%!important;
}
.divRow{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.divRow > div {
  width: 33.33%;
}
.contenedorFormularioEstatu {
  display: flex;
  margin: 15px 0px 30px 0px;
  justify-content: space-between;
  position: relative;
}
.contenedorFormularioEstatu > div:nth-child(1) {
  width:63.4%;
}
.contenedorFormularioEstatu > div:nth-child(2) {
  width: 26.6%;
}
.buscador {
  margin: auto;
  position: relative;
}

.legend {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: wrap;
}
.legend > div { 
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.legend > div:last-of-type {
  margin-right: 0px;
}
.legend > div > div:nth-child(1) {
  width: 30px;
  height: 13px;
  margin-right: 10px;
}
.legendBgRojo { background-color: #d96169; }
.legendBgVerde { background-color: #4b7262; }
.legendBgVerde2 { background-color: #c4d6c4; }

.graficasTerritorio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.graficasTerritorio .contPie {
  width: 23%;
  height: 280px;
  position: relative;
}
.contPie p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 49%;
  font-size: 1.3em;
}
.btnSecundario {
    background-color: #ffffff;
    color: #006341;
    border: 1px solid #006341;
    font-family: 'Avenir_Next_Demi_Bold';
}
.expStatus {
  display: none;
}

/*Nuevo*/
/*-------------- Notificaciones --------------*/
.notificaciones {
  height: 36px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.notificaciones > a {
  margin: 0px 20px;
  position: relative;
}
.notificaciones a img {
  width: 18px;
  vertical-align: bottom;
}
.numNotificaciones {
  background-color: #ff9f17;
  color: #ffffff;
  line-height: 15px;
  border-radius: 50%;
  font-size: 11px;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: -4px;
  right: -6px;
  text-align: center
}
.contNotificaciones {
  position: absolute;
  top: 42px;
  right: 0px;
  background: #ffffff;
  width: 364px;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.30);
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.30);
  display: none;
}
.headNot {
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
}
.headNot > div:nth-child(2) {
  background-color: #d6e5de;
  color: #006241;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Avenir_Next_Demi_Bold';
}
.tabsNotificaciones > div {
  font-size: 16px;
  padding: 6px 12px;
  border-bottom: 3px solid #ffffff;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid #d3e5dc;
}
.tabsNotificaciones > div.active {
  border-bottom: 2px solid #45ac34;
  font-family: 'Avenir_Next_Demi_Bold';
}
.tabsNotificaciones {
  display: flex;
  height: 40px;
  align-items: center;
  width: 100%;
}

.contListaNotificaciones {
  width: 100%;
  max-height: 171px;
  overflow-y: auto;
  overflow-x: hidden;
}
.contListaNotificaciones li {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
}
.contListaNotificaciones li a { 
  color: #000;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contListaNotificaciones li.active { font-family: 'Avenir_Next_Demi_Bold';}
.contListaNotificaciones li:last-of-type { border-bottom: 0px; }
.contOp div.dataTables_wrapper div.dataTables_length label { display: none!important; }
.contOp div.dataTables_wrapper div.dataTables_paginate ul.pagination { font-size: 12px; }
.contOp .page-link { border: 0px; }
.contOp .first, .contOp .next, .contOp .last, .contOp .previous {
  background-color: #d6e5de;
  border-radius: 5px;
}
.paginate_button { margin: 0px 3px; }
.iconosPag { width: 12px; }
.iconosPag2 { width: 7px; }

.titNotificaciones {
    padding: 15px 0% 5px 0px;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 17px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #000;
}
.tblGeneral {
  width: 98.8% !important;
  padding: 10px 0%;
  margin: 0px auto;
}
.tblGeneral tr th {
  padding: 5px 10px 6px 10px;
  color: #333333;
  text-align: center;
  font-weight: 100;
  border-bottom: 2px solid #006341;
  font-size: 14px;
  font-family: 'AvenirNextLTPro-Medium';
}
.tblGeneral tr td:first-of-type{width: 5%;}
.tblGeneral tr td:nth-of-type(2){width: 8%;}
.tblGeneral tr td {
  width: 10%;
  padding: 7px 10px 7px 10px;
  color: #606664;
  font-size: 13px;
  text-align: center;
  border-bottom: 1px solid #EBEBEB; 
}
.tblGeneral tr:nth-child(odd) td {background-color: #FDFDFD !important;}
.tblGeneral tr:nth-child(even) td {background-color: #ffffff !important;}
.tblGeneral tr:hover td {    background-color: #e6efe6;}
.tblGeneral tr td a{color: #5fac98;
  text-decoration: underline;
  font-family: 'AvenirNextLTPro-Medium';}
.tblGeneral tr td img{width: 15px;    cursor: pointer;}
.cantidad {
  width: 120px;
  margin: auto;
  text-align: right;    color: #000;
}
tr.total  td{font-family: 'Avenir_Next_Demi_Bold';}

.tblEstatusZona tr td:first-of-type {width: 3% !important;}
.flex{display: flex;}
.link{
  color: #006341;
  font-family: 'Avenir_Next_Demi_Bold';
  text-decoration: underline;
  margin-right: 30px !important;
}
.linkN {
  color: #000000 !important;
  font-family: 'Avenir_Next_Demi_Bold' !important;
  text-decoration: underline !important;
}
.accordionBullet dt {
  background-image: url(../img/select.svg);
  background-repeat: no-repeat;
  background-size: 14px !important;
  background-position: center;
  width: 19px !important;
  height: 19px !important;
  border: none !important;
}
.accordionBullet dt.accordion-active {
  background-color: transparent !important;
  transform: rotateX(180deg) !important;
}
.accordionBullet dd {background-color: #ffffff !important;}
.cantidadVerde {color: #4b7262 !important;font-family: 'Avenir_Next_Demi_Bold';}
.cantidadRojo {color: #d96169 !important;font-family: 'Avenir_Next_Demi_Bold';}
.cantidadVerdeClaro {color: #c4d6c4 !important;font-family: 'Avenir_Next_Demi_Bold';}

.estadisticaTabletas  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Avenir_Next_Demi_Bold';
  font-size: 12px;
}
.estadisticaTabletas > div {
  display: flex;    
  width: 32%;
  align-items: center;
  
}
.estadisticaTabletas > div > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}
.verde {background-color: #4b7262;}
.rojo{background-color: #d96169;}
.verdeClaro{background-color: #c4d6c4;}

.divResultadosZona .tblGeneral tr th.sorting,
#tblEstatusRegion tr th.sorting {
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  background-position: right 10px;
  
}
.cardDesac {pointer-events: none;}
.textUnderline {text-decoration: underline !important;}
table.dataTable thead th{
  border-bottom: 2px solid #006341 !important;
}
table.dataTable.no-footer {border-bottom: none !important;}

#tblEstatusRegion tr td:first-of-type {
  text-align: left !important;
}
.dataTables_length {display: none;}
#tblEstatusRegion_filter,
.dataTables_filter {
  width: 63.4%;
  text-align: left !important;
  position: absolute;
  top: -81px;
}

#tblEstatusRegion_filter input[type=search],
.dataTables_filter input[type=search]{
  margin-left: 0 !important;
  font-size: 16px;
  padding: 0px 30px 0px 15px;
  height: 29px;
  width: 100%;
  border: 1px solid #bfbfbf;
  background-image: url(../img/lupa.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 99% center;
}
.contenedorDataTable {
  justify-content: flex-end !important;
}
.contenedorDataTable > div:first-of-type {width: 26.6%;}
.bordeRojo {border-left: 10px solid #d96169;}
.bordeVerde2 {border-left: 10px solid #c4d6c4;}
.bordeVerde {border-left: 10px solid #4b7262;}

table.dataTable.display tbody td {border-top: none !important;}
.dataTables_info {display: none;}
.divResultadosZona {width: 100%;}
.tblEstatusZona {width: 100% !important;}
.tblEstatusZona tr th:first-of-type {background-image: none !important;}
.tblEstatusZona tr td {width: 14.28%;}
/*Iconos paginador*/
.flechas1, .flechas2 {
  width: 7px;
}
.paginate_button {
  position: relative;
  margin-left: -1px !important;
  line-height: 17px;
  text-align: center;
  border: 1px solid #dee2e6 !important;
  border-radius: 5px !important;
  /* display: flex !important; */
  width: 34px !important;
  height: 34px !important;
  /* justify-content: center !important;
  align-items: center!important; */
  background-color: #D6E5E0 !important;
}
.current {
  z-index: 1;
  color: #fff !important;
  background: #006340 !important;
  border-color: #006340 !important;
}
.dataTables_paginate > span {
  margin: 0 12px;
}
.margint50 {margin-top: 50px;}
td.details-control {
  background: url(../img/select.svg) no-repeat center center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 14px !important;
  background-position: center;
  width: 19px !important;
  height: 19px !important;
  /* border: none !important; */
}
tr.shown td.details-control {
  background-color: transparent !important;
  transform: rotateX(180deg) !important;}

/*resultados de buscar*/
.dataTables_filter .dropdown-menu {
  background-color: #fff;
  border: 1px solid #bfbfbf;
  padding: 15px;
  box-sizing: border-box;
}
.dataTables_filter .dropdown-menu li {
  padding: 10px 0;
}
.dataTables_filter .dropdown-menu li a {
  color: #2D2926;
}
.dataTables_filter .dropdown-menu li a strong {
  background-color: #c4d6c4 !important;
}
/*Omar*/


.infoTablenta {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1200px;
    margin: 0 auto;
}
.infoTablenta .infoTablentaCont1 {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoTablenta .infoTablentaCont2 {
  width: 68%;
  /*height: 400px;*/
  display: flex;
  flex-wrap: wrap;
}
.infoTablenta .infoTablentaCont2 > .card {
  width: 29%;
  height: 238px;
  background: #ffffff;
  margin: 0px 2% 4%;
  min-width: 173px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.30);
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.30);
  text-align: center;
  padding: 15px;
  color: #2D2926;
  /*min-width: 195px;*/
}
.infoTablenta .infoTablentaCont2 > div > div {
  padding-bottom: 15px;
}
.textoInfoTable {
  width: 250px;
  max-width: 300px;
}
.tituloInfoTab {
  font-family: 'Avenir_Next_Demi_Bold';
  font-size: 22px;
  color: #4b7262;
}
.icoInfoTable {
  width: 90px;
}
.forTexTar {
  font-size: 12px;
  color: #7E7E7E;
}
.contGraficSucursal {
  width: 100%;
  padding-top: 20px;
}
.btnRegresar {
    background-color: #ffffff;
    color: #006341;
    font-family: 'Avenir_Next_Demi_Bold';
    text-decoration: underline;
}
.tblInfoTecnica tr td {
  padding: 10px 0px;
  border-bottom: 0px!important;
  border-right: 0px!important;
}
.tblInfoTecnica tr {
  padding: 10px 0px;
  border-bottom: 1px solid #d8d8d8;
}
.tblInfoTecnica tr:last-of-type { border-bottom: none; }
.tblInfoTecnica tr:nth-child(odd) td { background-color: #ffffff; }
.tblInfoTecnica tr:hover td { background-color: #ffffff; }
.tblInfoTecnica tr th {
  font-family: 'Avenir_Next_Bold';
}
.titNotificaciones {
    padding: 15px 0% 5px 0px;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 17px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #000;
}





@keyframes rightFadeInOut {
  0% {right: 100%;}
  100% {right: 0%;}
}
.barra .bgAma, .barra .bgAma1, .barra .bgAma2, .barra .bgma3{
  position: absolute;
  opacity: 1  ;
  animation-name: rightFadeInOut;
  animation-delay: 0s;
  animation-duration: 5s;
  color: #ccc;
  overflow: hidden;
}
@media screen and (min-width: 1300px) { 
  .contPie p { font-size: 1.5em; }
}


@media screen and (max-width: 1024px) { 
  img.imgHome {width: 72%;bottom: 20px;}
}


@media screen and (max-width: 1000px) { 
.divRadio div {width: 33%;}

  .graficasTerritorio .contPie {
    width: 40%;
  }
  .graficasTerritorio {
    justify-content: space-around;
  }


  .infoTablenta {
    flex-direction: column;
    align-items: center;
  }
  .infoTablenta .infoTablentaCont1 {
    width: 100%;
    flex-direction: row;
  }
  .infoTablenta .infoTablentaCont2 {
    width: 100%;
  }
  .textoInfoTable {
    width: 50%;
    max-width: inherit;
    padding-left: 15px;
  }
  .contGraficSucursal {
}


@keyframes rightFadeInOut {
  0% {right: 100%;}
  100% {right: 0%;}
}
.barra .bgAma, .barra .bgAma1, .barra .bgAma2, .barra .bgma3{
  position: absolute;
  opacity: 1	;
  animation-name: rightFadeInOut;
  animation-delay: 0s;
  animation-duration: 5s;
  color: #ccc;
	overflow: hidden;
}
@media screen and (min-width: 1300px) { 
  .contPie p { font-size: 1.5em; }
}
@media screen and (max-width: 1024px) { 
  img.imgHome {width: 72%;bottom: 20px;}
}
@media screen and (max-width: 1000px) { 
.divRadio div {width: 33%;}

  .graficasTerritorio .contPie {
    width: 40%;
  }
  .graficasTerritorio {
    justify-content: space-around;
  }
}
@media screen and (max-width: 900px) { 
	.col3btn{    flex-grow: 1;text-align: -webkit-center; }
	.col3btn .w120{margin-top: 0px;}

  .contenedorTabs {
    justify-content: center;
  }
  .contenedorTabs > div {
    padding: 6px 22px;
  }
  img.imgHome {width: 65%;}
}

@media screen and (max-width: 900px) {
  .divRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .divRow > div {
    width: 100%;
  }
  .cardEstTab {
    width: 100%!important;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 700px) { 
	.col2btn{    flex-grow: 1;text-align: -webkit-center; }
	.col2btn .w120{margin-top: 0px;}
	.botones{justify-content: center;}
	.divRadio div {width: 50%;}
	 .pasos{width: max-content;}/*trackin*/
	/*Visualizador*/
	.w30 { width: 100%; margin: 15px 1%;}
	.w66 {width: 100%;}
	.tabVisual {flex-direction: row; text-align: center;}
	iframe.frameVisual {min-height: 400px;}
	.tabVisual li a {font-size: 12px;}
  .tabVisual li {padding: 0px ;}

  .contenedorFormulario{
    flex-direction: column;
  }
  .contenedorFormulario > div {
    width: 100%;
    padding-bottom: 10px;
  }
  .contenedorFormulario > div:nth-child(3) {
    display: flex;
    justify-content: center;
  }
  .contenedorSelect {
    width: 100%;
  }

  
  .contenedorFormularioEstatu > div:nth-child(1) { width: 100%; }
  .contenedorFormularioEstatu > div:nth-child(2) { width: 100%; }


  /*Agregar*/
  .contenedorFormularioEstatu { margin-bottom: 80px !important; }
  #tblEstatusRegion_filter, .dataTables_filter { width: 100%; }
  .contenedorFormularioEstatu { flex-direction: column;width: 100%; }
  .infoTablenta .infoTablentaCont2 { justify-content: center;}
  .infoTablenta .infoTablentaCont2 > div { width: 46%;}
}

@media screen and (max-width: 600px) {
  .graficasTerritorio .contPie {
    width: 51%;
  }

  .infoTablenta .infoTablentaCont1 { flex-direction: column; }
  .textoInfoTable { width: 100%; text-align: center; }
  .contGraficSucursal { width: 100%; }

}
@media screen and (max-width: 500px) {
.divCol3 > .col3 input[type=checkbox] + label, .divCol3 > .col3 input[type=radio] + label {width: 100%;}	
	.divRadio div {width: 100%;}
	.divCol2Input div{width: 100%;}
}
@media screen and (max-height: 820px) {
.contHome {height: 83%;}
}
@media screen and (max-height: 650px) {
  .contHome {height: 78%;}
}
@media screen and (max-height: 520px) {
.contHome {height: 74%;}
}